In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mevs_df = pd.read_pickle('classic_pools_mevs_with_gas_df.pkl')
mevs_df

,txd,block,block_position,gas_usage_by_tx,ether_price,tx_fee
0,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,11279366,54,"107,326",478.76,0.000000122000000001
1,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,11279366,62,"101,057",478.76,0.000000115500000001
2,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,11792953,75,"66,799","1,721.48",0.0000002431
3,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,11792953,3,"103,505","1,721.48",0.000000301463842552
4,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,11803970,67,"139,130","1,679.14",0.000000140400000001
...,...,...,...,...,...,...
705,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,13969479,1,"87,023","3,150.83",0.000000096534076405
706,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,13969481,2,"88,383","3,150.83",0.000000109600853456
707,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,13969481,4,"78,261","3,150.83",0.000000117286586847
708,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,14049774,0,"88,481","2,569.59",0.000000135879365521
709,0x94fff3ef66ab898bb1afbb9128da1ce611cc45a592ab...,14049774,2,"78,700","2,569.59",0.000005821131854293