In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

sys.path.insert(0, "C:/workspace/data-science//libs")
from sushiswap_extractor import get_pool_reserves_history, get_pool_history, list_to_transaction_dictionary, list_to_reserves_dictionary,\
                                pool_reserves_to_df, pool_history_to_df, get_pool_mints, get_pool_burns, list_to_mints_dictionary,\
                                pool_mints_to_df, pool_burns_to_df, filter_swaps

# DOG/WETH

In [4]:
dog_weth_history = get_pool_history(contract_id='0xc96f20099d96b37d7ede66ff9e4de59b9b1065b1')
all_dog_weth_history, other_dog_weth_history = filter_swaps(dog_weth_history)
dog_weth_df = pool_history_to_df(all_dog_weth_history)
dog_weth_df

  0%|          | 21/20000 [01:52<29:36:52,  5.34s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd
0,WETH,DOG,1.440000e+00,4.073501e+05,5432.695485,2021-09-02 18:59:20,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x7ba7f7ba93ed40d18b7783419081b6101e47ff0f,0x2de5e4aae100353ad9e50cbe4e66367db72fa24a2898...
1,WETH,DOG,2.000000e+00,5.664152e+05,7545.410395,2021-09-02 18:59:20,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xa62c5ba4d3c95b3ddb247eabaa2c8e56bac9d6da,0xe4a0042c1dd34ff86009ec7a821031002e4bc7d56064...
2,WETH,DOG,1.320265e+01,3.616879e+06,49819.709025,2021-09-02 18:59:30,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x6c8c7539bf6a61c249c520c837ed0e19f91344dc,0x0cea2daac217e2960600641664eb321a7c9cc291b6dd...
3,WETH,DOG,1.000000e+00,2.796039e+05,3773.461477,2021-09-02 18:59:30,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x13f2152f59fa28c583f56f2d9d0659d2e3f993d3,0x51a5ac29f637eaae636a2fb168f9b739cf7246cf24ac...
4,WETH,DOG,1.000000e+00,2.800503e+05,3773.461477,2021-09-02 18:59:30,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x4628ceaad832c11cc0616daeec625ceba9ae8868,0x88b34b8138c30d438f09b59cee3ecd3b9d809ebbe831...
...,...,...,...,...,...,...,...,...,...
20559,DOG,WETH,7.863680e+04,9.030943e-02,264.482785,2022-03-03 03:19:18,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x8aacdc916867e731cc7cbbb31328aec3c4ff73dd7127...
20560,WETH,DOG,2.000000e-01,1.730851e+05,580.139400,2022-03-03 03:45:23,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x763b43836d4c5881bd467d2dfae939c944ad9e63,0x206d89af20bece090015fc0b477eabd21b212c1221e2...
20561,DOG,WETH,2.099181e+07,2.347754e+01,67689.366261,2022-03-03 06:25:10,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0x66290ac5b0d64c572e401f36152994b1e32d4195838b...
20562,WETH,DOG,2.000000e+00,1.821821e+06,5766.198080,2022-03-03 06:25:54,0x1111111254fb6c44bac0bed2854e76f90643097d,0x7a6a59588b8106045303e1923227a2cefbec2b66,0xcd1f5fd5ca0f9ecb2a72040c9c430f1cc1eb105e13f7...
20563,WETH,DOG,8.000000e-01,7.263740e+05,2321.630716,2022-03-03 08:58:50,0x1111111254fb6c44bac0bed2854e76f90643097d,0x16e75b7b8bea3787da601ba8291fc601f31c800c,0xc67bfe96aaa0afca087832d98c5283eca553a93b490c...

In [2]:
dog_weth_reserves = get_pool_reserves_history(contract_id='0xc96f20099d96b37d7ede66ff9e4de59b9b1065b1', range_limit=20)
dog_weth_reserves_df = pool_reserves_to_df(dog_weth_reserves)
dog_weth_reserves_df

  5%|â–Œ         | 1/20 [00:00<00:13,  1.36it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date,volumeUSD
0,6.356670e+08,4052.465452,3.074421e+07,2.406400e+09,11710.097827,2021-09-02,4.437262e+07
1,5.359100e+08,4952.562595,3.887745e+07,2.549169e+09,19030.678924,2021-09-03,7.409306e+07
2,6.253961e+08,4153.561977,3.226891e+07,1.135736e+09,8400.716606,2021-09-04,3.279313e+07
3,6.292579e+08,4169.444831,3.297632e+07,4.005114e+08,2734.883557,2021-09-05,1.063977e+07
4,7.146884e+08,3693.187451,2.903818e+07,8.375415e+08,4604.197071,2021-09-06,1.807797e+07
...,...,...,...,...,...,...,...
179,7.250931e+08,940.449079,5.265533e+06,5.497524e+07,68.028063,2022-02-28,1.861590e+05
180,7.408347e+08,920.558983,5.450159e+06,2.498821e+07,31.440039,2022-03-01,9.229521e+04
181,7.696415e+08,886.270907,5.196524e+06,4.815814e+07,57.165925,2022-03-02,1.693727e+05
182,8.019439e+08,850.714667,4.806656e+06,4.457938e+07,48.834429,2022-03-03,1.400813e+05
183,8.023535e+08,850.281685,4.670785e+06,4.303414e+05,0.454967,2022-03-04,1.241972e+03

In [6]:
dog_weth_mints = get_pool_mints(contract_id='0xc96f20099d96b37d7ede66ff9e4de59b9b1065b1', range_limit=10)
dog_weth_mints_df = pool_mints_to_df(dog_weth_mints)
dog_weth_mints_df

 10%|â–ˆ         | 1/10 [00:00<00:06,  1.45it/s]

list index out of range

         amount0      amount1     amountUSD     liquidity           timestamp
0   8.484848e+08  2985.000000  1.126153e+07  1.591454e+06 2021-09-02 18:58:39
1   2.553574e+06    12.000000  9.065086e+04  1.491186e+02 2021-09-02 19:13:57
2   1.131458e+05     0.573058  4.327569e+03  7.955130e+01 2021-09-02 19:23:54
3   2.839083e+06    13.204380  1.008869e+05  7.051724e+02 2021-09-02 21:22:37
4   1.131999e+06     7.000000  5.309290e+04  2.409574e+02 2021-09-03 00:16:35
..           ...          ...           ...           ...                 ...
71  9.115207e+05     2.993934  2.433856e+04  6.675950e+01 2021-11-26 16:08:04
72  2.000000e+06     5.070682  4.350462e+04  2.083994e+02 2021-12-07 23:30:36
73  1.584900e+03     0.003875  3.304444e+01  2.847136e+00 2021-12-09 14:40:52
74  1.487774e+06     2.900000  2.347669e+04  4.169195e+00 2021-12-12 01:52:15
75  8.026561e+05     1.436577  1.169149e+04  7.707249e+00 2021-12-27 05:35:16

[76 rows x 5 columns]

In [8]:
dog_weth_burns = get_pool_burns(contract_id='0xc96f20099d96b37d7ede66ff9e4de59b9b1065b1', range_limit=10)
dog_weth_burns_df = pool_burns_to_df(dog_weth_burns)
dog_weth_burns_df

 10%|â–ˆ         | 1/10 [00:01<00:09,  1.07s/it]

list index out of range

         amount0    amount1      amountUSD    liquidity           timestamp
0   2.840204e+06  13.199229  100822.851272  6104.874434 2021-09-02 21:27:09
1   5.464182e+04   0.298246    2271.188696   127.226311 2021-09-02 22:48:02
2   1.183244e+05   1.012607    8038.093283   343.315572 2021-09-03 15:45:31
3   1.173057e+05   0.869720    6785.388462   316.201449 2021-09-04 11:26:55
4   1.303380e+06   8.239186   63630.675035  3240.384845 2021-09-04 17:41:54
..           ...        ...            ...          ...                 ...
62  2.839049e+06   3.502393   17934.711539  2989.693744 2022-01-29 01:19:38
63  1.635610e+05   0.203120    1035.188572   172.806620 2022-01-31 13:34:11
64  2.408158e+06   4.048885   24163.731683  2959.197273 2022-02-05 00:56:01
65  1.841302e+05   0.284756    1666.116095   216.849545 2022-02-14 18:51:33
66  1.967374e+05   0.309040    1924.156233   233.502509 2022-02-15 19:03:44

[67 rows x 5 columns]

## Writing to/reading from pickle files

In [3]:
# dog_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\dog_weth_swaps.pkl")
dog_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\dog_weth_reserves.pkl")
# dog_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\dog_weth_mints.pkl")
# dog_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\dog_weth_burns.pkl")

In [14]:
dog_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\dog_weth_swaps.pkl")
# dog_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\dog_weth_reserves.pkl")
dog_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\dog_weth_mints.pkl")
dog_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\dog_weth_burns.pkl")

# WETH/NFD

In [15]:
nfd_weth_history = get_pool_history(contract_id='0xeefa3b448768dd561af4f743c9e925987a1f8d09')
all_nfd_weth_history, other_nfd_weth_history = filter_swaps(nfd_weth_history)
nfd_weth_df = pool_history_to_df(all_nfd_weth_history)
nfd_weth_df

  0%|          | 20/20000 [01:01<17:00:17,  3.06s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd
0,WETH,NFD,1.500000e-01,2.973214e+07,460.338077,2021-08-19 15:58:34,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x92334fb1795b68ea871f5850ea7c98668587ae26,0x4f7b97ebaa78233ebd9945c8bba75f2d83705577cbdc...
1,WETH,NFD,1.000000e-01,1.962541e+07,306.925436,2021-08-19 16:02:52,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xa69f670ea591f11bed8de61ce0e3c014c849feda,0x285e54c1e7c856edef51dd523751255fbdc879d8e2b2...
2,WETH,NFD,1.000000e+00,1.880516e+08,3069.149693,2021-08-19 16:06:08,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x0eb96d5ec478b68ff0d48628ab4df6a63c21ddaa,0x460c8a36f57fd91d08fe6fc11c8dfc3dfbb80433134e...
3,WETH,NFD,1.370000e+00,2.355591e+08,4204.735079,2021-08-19 16:07:04,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x4b6760682191de7e476b801b7ab42d8e8a5b041a,0xb75ef43b273a51ade02734ef4bfc15ca41500a520e97...
4,WETH,NFD,3.945978e+00,5.644259e+08,12110.834748,2021-08-19 16:07:49,0xbcc7f6355bc08f6b7d3a41322ce4627118314763,0xbcc7f6355bc08f6b7d3a41322ce4627118314763,0x49a97a12191de6dc411822c5f6a1dba119f1dda01e74...
...,...,...,...,...,...,...,...,...,...
19557,WETH,NFD,9.912500e-04,2.296285e+04,2.903742,2022-03-02 20:18:55,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x74de5d4fcbf63e00296fd95d33236b9794016631,0x08542e12e47af9bfd007196122f908cf55ccb621a09d...
19558,NFD,WETH,2.575724e+07,1.101596e+00,3252.403370,2022-03-03 00:40:02,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x9365c4391980d04f769288c02be57830f07cf451728c...
19559,NFD,WETH,3.000000e+07,1.273969e+00,3764.468791,2022-03-03 01:40:03,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xcb931c08ce4c073873d2e4719c6e15795fc3911330d3...
19560,NFD,WETH,1.043762e+08,4.357824e+00,12640.757980,2022-03-03 03:44:58,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xafab5a2d9c54ef0b29a289e71cabbd63e894675a7303...
19561,NFD,WETH,7.863725e+05,3.239869e-02,94.748599,2022-03-03 11:37:03,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x2b35d7747e84fea0fb5a88d55235efecbab5c644d407...

In [4]:
nfd_weth_reserves = get_pool_reserves_history(contract_id='0xeefa3b448768dd561af4f743c9e925987a1f8d09', range_limit=20)
nfd_weth_reserves_df = pool_reserves_to_df(nfd_weth_reserves)
nfd_weth_reserves_df

  5%|â–Œ         | 1/20 [00:00<00:14,  1.28it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date,volumeUSD
0,159.644589,6.067606e+09,1.012567e+06,771.187922,2.708090e+10,2021-08-19,2.388929e+06
1,222.096042,5.617182e+09,1.455379e+06,1188.345573,4.028378e+10,2021-08-20,3.865058e+06
2,316.784630,4.076239e+09,2.049633e+06,1291.257563,2.120687e+10,2021-08-21,4.214363e+06
3,585.635572,2.495918e+09,3.801477e+06,12909.239846,5.637942e+10,2021-08-22,4.136861e+07
4,513.546390,2.916227e+09,3.415693e+06,3264.012821,1.477096e+10,2021-08-23,1.082094e+07
...,...,...,...,...,...,...,...
193,343.976121,7.626475e+09,1.931548e+06,2.219421,4.914745e+07,2022-02-28,6.153367e+03
194,345.654861,7.589626e+09,2.090057e+06,2.901866,6.373808e+07,2022-03-01,8.530867e+03
195,336.044236,7.808050e+09,1.968798e+06,19.914160,4.588554e+08,2022-03-02,5.914474e+04
196,329.069955,7.974033e+09,1.857013e+06,6.974281,1.659840e+08,2022-03-03,2.034066e+04
197,327.031367,8.023891e+09,1.786474e+06,2.050240,5.014251e+07,2022-03-04,5.771108e+03

In [17]:
nfd_weth_mints = get_pool_mints(contract_id='0xeefa3b448768dd561af4f743c9e925987a1f8d09', range_limit=10)
nfd_weth_mints_df = pool_mints_to_df(nfd_weth_mints)
nfd_weth_mints_df

 10%|â–ˆ         | 1/10 [00:00<00:05,  1.53it/s]

list index out of range

       amount0       amount1      amountUSD      liquidity           timestamp
0    25.000000  5.000000e+09   76667.032765  353553.390593 2021-08-19 15:47:00
1    77.939140  5.000000e+09  492106.279383     730.475939 2021-08-19 21:08:05
2     0.350000  8.762175e+06    2257.539261     702.724780 2021-08-20 06:41:53
3   100.000000  1.015455e+10  650402.199250      19.578852 2021-08-20 20:02:44
4     0.081010  2.749563e+06     529.241386     575.866048 2021-08-20 20:43:16
..         ...           ...            ...            ...                 ...
62    2.590341  1.570025e+07   22160.521381     685.596649 2021-10-29 00:00:55
63    3.700190  2.796319e+07   32110.859775      85.559058 2021-10-29 05:22:24
64    0.150408  1.000000e+06    1294.390845      45.588516 2021-10-30 17:46:10
65   50.000000  6.857250e+08  307277.976204     712.440532 2022-02-09 03:20:28
66   50.000000  7.005117e+08  322122.209729       5.033147 2022-02-10 02:14:29

[67 rows x 5 columns]

In [18]:
nfd_weth_burns = get_pool_burns(contract_id='0xc96f20099d96b37d7ede66ff9e4de59b9b1065b1', range_limit=10)
nfd_weth_burns_df = pool_burns_to_df(nfd_weth_burns)
nfd_weth_burns_df

 10%|â–ˆ         | 1/10 [00:00<00:05,  1.74it/s]

list index out of range

         amount0    amount1      amountUSD    liquidity           timestamp
0   2.840204e+06  13.199229  100822.851272  6104.874434 2021-09-02 21:27:09
1   5.464182e+04   0.298246    2271.188696   127.226311 2021-09-02 22:48:02
2   1.183244e+05   1.012607    8038.093283   343.315572 2021-09-03 15:45:31
3   1.173057e+05   0.869720    6785.388462   316.201449 2021-09-04 11:26:55
4   1.303380e+06   8.239186   63630.675035  3240.384845 2021-09-04 17:41:54
..           ...        ...            ...          ...                 ...
62  2.839049e+06   3.502393   17934.711539  2989.693744 2022-01-29 01:19:38
63  1.635610e+05   0.203120    1035.188572   172.806620 2022-01-31 13:34:11
64  2.408158e+06   4.048885   24163.731683  2959.197273 2022-02-05 00:56:01
65  1.841302e+05   0.284756    1666.116095   216.849545 2022-02-14 18:51:33
66  1.967374e+05   0.309040    1924.156233   233.502509 2022-02-15 19:03:44

[67 rows x 5 columns]

## Writing to/reading from pickle files

In [5]:
# nfd_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\nfd_weth_swaps.pkl")
nfd_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\nfd_weth_reserves.pkl")
# nfd_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\nfd_weth_mints.pkl")
# nfd_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\nfd_weth_burns.pkl")

In [20]:
nfd_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\nfd_weth_swaps.pkl")
# nfd_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\nfd_weth_reserves.pkl")
nfd_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\nfd_weth_mints.pkl")
nfd_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\nfd_weth_burns.pkl")

# WETH/LADY

In [21]:
lady_weth_history = get_pool_history(contract_id='0xe56db0b80bed4a9151691046e52acbb51f61753f')
all_lady_weth_history, other_lady_weth_history = filter_swaps(lady_weth_history)
lady_weth_df = pool_history_to_df(all_lady_weth_history)
lady_weth_df

  0%|          | 2/20000 [00:04<13:08:23,  2.37s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd
0,LADY,WETH,5.525459e+07,7.096623e+00,22705.405473,2021-08-29 11:25:18,0x0000000000d41c96294ccdac8612bdfe29c641af,0x0000000000d41c96294ccdac8612bdfe29c641af,0x590f5bf59376aa63f199320d56b6559bb80790884e35...
1,WETH,LADY,6.793286e+00,5.525459e+07,21734.889187,2021-08-29 11:25:18,0x0000000000d41c96294ccdac8612bdfe29c641af,0x0000000000d41c96294ccdac8612bdfe29c641af,0xbf2bab3504a6fffbe17c5fbc1a5721f0110a16eb3c3d...
2,WETH,LADY,1.000000e+00,6.456981e+06,3199.466246,2021-08-29 11:25:18,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x2ccf8a67fe50bccb6a36b0814463818c75cabeea,0xc7766d3f939528928028325146a18b153f2f928a9871...
3,WETH,LADY,1.500000e+00,9.125166e+06,4799.235171,2021-08-29 11:26:29,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x2ccf8a67fe50bccb6a36b0814463818c75cabeea,0x74cc84de7e23a6a4d8d9e6b7b5c5cbb651aae2fe62ec...
4,WETH,LADY,7.002146e+00,5.438918e+07,22403.295870,2021-08-29 11:26:29,0x0000000000d41c96294ccdac8612bdfe29c641af,0x0000000000d41c96294ccdac8612bdfe29c641af,0xd6e95609db0a5df5e0f1709ff092095e5e590b572eb9...
...,...,...,...,...,...,...,...,...,...
1753,LADY,WETH,1.002433e+05,1.855773e-02,51.383972,2022-02-27 10:37:45,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x97749ff0e141730ad666eaa207eec9e2e77ea03d43b7...
1754,LADY,WETH,5.323090e+04,9.847697e-03,27.225538,2022-02-27 15:16:57,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xcc8c0ddd21a9e5d1d38f4beca6b59b1fcecb2f750547...
1755,LADY,WETH,5.362185e+04,9.915273e-03,27.436575,2022-02-27 15:18:54,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x675fb454bfefcc9cf8a8c85a2618c6dfac1218f4e7e8...
1756,LADY,WETH,5.782396e+05,1.066214e-01,312.795031,2022-03-01 12:49:59,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x59daab1e020728f15892a6acbd0d76fc039ea29d7676...
1757,LADY,WETH,2.767147e+06,5.027071e-01,1517.320210,2022-03-01 13:55:51,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x9008d19f58aabd9ed0d60971565aa8510560ab41,0x782aa9cf9409b9b13d73e521848e69ab854d9af8ce8e...

In [6]:
lady_weth_reserves = get_pool_reserves_history(contract_id='0xe56db0b80bed4a9151691046e52acbb51f61753f', range_limit=20)
lady_weth_reserves_df = pool_reserves_to_df(lady_weth_reserves)
lady_weth_reserves_df

  5%|â–Œ         | 1/20 [00:00<00:15,  1.22it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date,volumeUSD
0,66.053507,1.385065e+08,426086.116986,293.119504,1.057889e+09,2021-08-29,937242.835036
1,60.696224,1.510241e+08,402683.115208,43.454539,8.905327e+07,2021-08-30,138572.137197
2,55.384623,1.656188e+08,375282.554260,13.177481,3.651081e+07,2021-08-31,44260.765397
3,53.136929,1.726669e+08,388285.353267,4.531695,1.377002e+07,2021-09-01,15808.325151
4,48.389452,1.896666e+08,366452.985937,5.307677,1.906959e+07,2021-09-02,19961.197343
...,...,...,...,...,...,...,...
76,41.490334,2.220307e+08,237848.182011,0.052592,2.819311e+05,2022-02-14,150.751151
77,41.377036,2.226405e+08,224550.458655,0.113298,6.097914e+05,2022-02-23,307.430844
78,41.368200,2.226882e+08,230928.208223,0.008836,4.769686e+04,2022-02-26,24.661972
79,41.329879,2.228953e+08,228728.000087,0.038321,2.070960e+05,2022-02-27,106.046085
80,40.720551,2.262407e+08,245813.595243,0.609328,3.345387e+06,2022-03-01,1830.115242

In [23]:
lady_weth_mints = get_pool_mints(contract_id='0xe56db0b80bed4a9151691046e52acbb51f61753f', range_limit=10)
lady_weth_mints_df = pool_mints_to_df(lady_weth_mints)
lady_weth_mints_df

 10%|â–ˆ         | 1/10 [00:00<00:06,  1.31it/s]

list index out of range

   amount0      amount1    amountUSD     liquidity           timestamp
0     30.0  300000000.0  95985.25606  94868.329805 2021-08-29 11:24:27

In [24]:
lady_weth_burns = get_pool_burns(contract_id='0xe56db0b80bed4a9151691046e52acbb51f61753f', range_limit=10)
lady_weth_burns_df = pool_burns_to_df(lady_weth_burns)
lady_weth_burns_df

  0%|          | 0/10 [00:00<?, ?it/s]

list index out of range

AttributeError: 'DataFrame' object has no attribute 'amount0'

## Writing to/reading from pickle files

In [7]:
# lady_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\lady_weth_swaps.pkl")
lady_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\lady_weth_reserves.pkl")
# lady_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\lady_weth_mints.pkl")
# lady_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\lady_weth_burns.pkl")

In [26]:
lady_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\lady_weth_swaps.pkl")
# lady_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\lady_weth_reserves.pkl")
lady_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\lady_weth_mints.pkl")
# lady_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\lady_weth_burns.pkl")

# CAT/WETH

In [27]:
cat_weth_history = get_pool_history(contract_id='0xb18b3f388517cf06720693b90c55b8650d4d4e0b')
all_cat_weth_history, other_cat_weth_history = filter_swaps(cat_weth_history)
cat_weth_df = pool_history_to_df(all_cat_weth_history)
cat_weth_df

  0%|          | 1/20000 [00:00<3:49:24,  1.45it/s]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd
0,WETH,CAT,1.000000,4748.297376,2906.260617,2021-09-25 21:40:58,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x7c296950d2a2c49d1d6893f339552319228d51d3,0x258da886b2eab8e6df9d6fbc76cffbe355863cf5be83...
1,WETH,CAT,0.040000,180.544656,116.381874,2021-09-25 21:42:22,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x9f5259fe40f34941acd627388dc24d4dcf9b117c,0xf2ba2d3694f4979acae09c0c378ecbd2d5f90faa5423...
2,WETH,CAT,0.797231,3460.814036,2319.571937,2021-09-25 21:43:49,0xfcadf926669e7cad0e50287ea7d563020289ed2c,0x2b77fb1c59aac4cb785d0fc9ecd3623479a59022,0xd9e2cf5a04331626471144169b79e53d71e78f0ab384...
3,WETH,CAT,0.056858,237.194333,165.429031,2021-09-25 21:44:34,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xcc62f02e08c5f40807e95ac8e05ca03d1eb9e72c,0xf4d25b39b93b345e7a478a2842c28e1628ca4c25e025...
4,WETH,CAT,1.000000,3979.672215,2909.511947,2021-09-25 21:46:58,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xab91a2449ff8e2836c02ca03a496bcef69d99f88,0x40d80df425978d1f40cd02e33b9358f9e625a652d8e2...
5,WETH,CAT,0.100000,378.934057,290.953798,2021-09-25 21:48:24,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xba16aaf7dd1fcd5a3b6cd7205e3474be26f8286c,0x7fdc51b91ef73e0f0a60eb6f778621a0c8f439af22cf...
6,WETH,CAT,0.100000,375.657283,290.948909,2021-09-25 21:51:20,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x8b078d0cc0f3b67f18c0877cc20519b04a427abe,0x1be37450b8b89e35f58b0f8cdf3f68c8694b544aabda...
7,WETH,CAT,0.107439,400.000219,312.591011,2021-09-25 21:53:59,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xf96f6edd23abc35143c40dfc5956e03b66c2048c,0xda8d26c5ebfc73576b17ffab4cdc02b0f99f2055d20e...
8,WETH,CAT,0.058168,215.022979,169.224936,2021-09-25 21:55:42,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x08cd26353a3e982d230f856fe9b48f738bb94c3d,0x690cdbce7e4b03753886c76113157407df33dde0e641...
9,CAT,WETH,3979.672215,1.025521,2983.270469,2021-09-25 21:57:46,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x87698b4dbc64af578d3efeb673e2d1763f7acc38223f...
10,CAT,WETH,3460.814036,0.820912,2392.081772,2021-09-25 22:06:17,0xfcadf926669e7cad0e50287ea7d563020289ed2c,0xfcadf926669e7cad0e50287ea7d563020289ed2c,0x216736b94007d9ef9f0f24bd4164cf7fc9942732b6dc...
11,CAT,WETH,237.194333,0.054043,157.489496,2021-09-25 22:09:24,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x50c57de89bcbbd4b9f9da430f5680c9d30226428ec26...
12,WETH,CAT,0.150000,651.504739,440.533587,2021-09-25 23:41:31,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x794eb47d01fdf837d2f4d444e67a7f5b5f1bee04,0x15d6f4af8bbc0c5fce7b7696debedde56368de897ff7...
13,CAT,WETH,378.934057,0.086978,255.490169,2021-09-25 23:54:37,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xfcf4faad08deb174522be2d4d4fbfe59ef69157fccbd...
14,WETH,CAT,3.436234,12881.459351,9974.819309,2021-09-26 00:25:21,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd6ac607b4ff2d3516754dd9ff2a91b857e248a7a,0x46384280fd07256365391353ed76f0a749842b727485...
15,WETH,CAT,0.000500,1.615229,1.445963,2021-09-26 01:28:34,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x4cb214740371d6cb5fe6b55f9d93da636e638534,0xb11228dd746cfb67463da9319db0aa88633f3aca9b9c...
16,WETH,CAT,2.500000,7340.029717,7191.799559,2021-09-26 01:53:29,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xd2a08007eeeaf1f81eef54ba6a8c4effa1e545c6,0xccbbc39f6d56b7593fda6b0a6ef6b381adf331fb6be8...
17,WETH,CAT,0.075176,199.999730,215.150264,2021-09-26 03:26:01,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xf96f6edd23abc35143c40dfc5956e03b66c2048c,0x096cedac2802a42495b8087fbf4379ad630227045c1d...
18,CAT,WETH,7340.029717,2.499424,7054.169588,2021-09-26 07:10:31,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xc70fb4b3d0334080429e90915a962971284a3fd24fc1...
19,WETH,CAT,0.090000,288.095642,269.598126,2021-09-26 13:36:55,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xb84d333be1cc7d7d3df8a7dc57c97ac8129cb514,0x544ad53a9c19ff9d32961e1e016ff1ccf0159a089831...
20,WETH,CAT,0.100000,317.689332,299.148784,2021-09-26 13:48:14,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x694367ea528240fec8172581282ff171a6ec39aa,0xb28d8bd5ef0eda15ac6e7bd0a2cabecf44cf36684956...
21,WETH,CAT,0.100000,315.174208,303.166732,2021-09-26 15:05:07,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x50dc2246c6f315c1217ebde449e376c8a8beb5b3,0xa0bb4341e299e227aa6379c0e8a5a991150d45f021d0...
22,WETH,CAT,0.010000,31.380071,30.801084,2021-09-26 21:24:16,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xd2468f5151c31bd4a66c5b52452a4d762eec8c94,0xb9dab71ab94805f262c7f249acdfe664f90fb40fc61b...
23,CAT,WETH,10000.000000,2.815356,8662.449401,2021-09-26 21:50:01,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x2ac2a4662c1423747c59f5645a5650437f566f292cf8...
24,WETH,CAT,2.444716,8765.675070,7581.760233,2021-09-26 22:16:14,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd6ac607b4ff2d3516754dd9ff2a91b857e248a7a,0x3646ccb1337d2e36cb43b13b682d865102cc0f8fefd3...
25,CAT,WETH,375.657283,0.114964,360.477172,2021-09-27 04:34:09,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xf5acdd0566ae0106750767ff6bbeac3b4f254e1e2165...
26,CAT,WETH,651.504739,0.196879,605.663775,2021-09-27 12:53:06,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x4c55537eccc620930bae57f59cca3e0c1d4ffa9a0e67...
27,CAT,WETH,10000.000000,2.671604,7483.941491,2021-09-28 23:48:21,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xbb58311fca14057831007d6341437e8552a2505a6b38...
28,WETH,CAT,0.050000,208.340256,149.181906,2021-09-30 09:09:25,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xfcd25f523cef605951c95915264eaf58cfaf647e,0x0d292d104e1c7b0b9ace48816363019042bab4b5b22b...
29,WETH,CAT,0.001065,4.429263,3.204061,2021-09-30 20:28:18,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xba87549c88d50cf2cad4e204238c58670757623b,0x10ad1f13e16f7cb701c7b39b57d2f8acb3e17d2d7ad8...
30,WETH,CAT,0.060000,248.735669,217.020040,2021-10-08 16:30:56,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xd16b632caf5dc43f22023c688cda4f0a125dd482,0xce0d3ad18195ddfecc6785ffb9f585c78066587d18a1...
31,WETH,CAT,0.100000,411.562575,361.757654,2021-10-09 13:43:48,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x29b65f68f039263bca766b84bc57b8a8fea3f8a2,0x02f8f5e95d6a381840ef9d7c2dbb03ce4a605e88d7db...
32,WETH,CAT,0.110000,448.443352,395.288631,2021-10-11 13:42:29,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x3c66bb9c32954c189d473e80448b54fa3d092554,0xa979f0c638744acd30468540a396f957929d46a4bf6a...
33,CAT,WETH,448.443352,0.109344,380.004806,2021-10-12 15:06:03,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x1864ddd5666265167733444101396f0342f227aa5a58...
34,CAT,WETH,317.689332,0.076812,275.531181,2021-10-13 22:44:49,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdce57b4e88aa7bdc3ebc486f719043f809b691822618...
35,WETH,CAT,1.000000,3946.818925,3622.723973,2021-10-14 01:50:10,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xe33e3a7f44099d70f4498346686ed9435ff225e2,0x685314bf6a7178c6abb7bfd68337e2516ae0ee50775f...
36,WETH,CAT,1.500000,5317.482695,5729.789282,2021-10-19 19:28:21,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xe33e3a7f44099d70f4498346686ed9435ff225e2,0x303efa89f512658991dcd87da4f3d90b6cb1388b2565...
37,CAT,WETH,215.022979,0.064054,263.174226,2021-10-20 18:51:07,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x4dcc2297f76c5e2800cfb0f110f981dfef21aca6290a...
38,CAT,WETH,315.174208,0.093285,387.313603,2021-10-22 04:31:51,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x41dbea49b78bd26ea1a5ae3eaf4a858313d57d7a9ef6...
39,CAT,WETH,288.095642,0.084649,347.300776,2021-10-23 18:49:18,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xb85969e6b56c3e7f8378c0425af4c9a9b0ecc5ce0062...
40,CAT,WETH,1300.000000,0.374759,1585.510075,2021-10-28 21:05:24,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xc3eb7f7fdbb4545677ebd1bcddd0a14e18742fdd0dad...
41,CAT,WETH,11647.134421,2.903940,12516.323176,2021-10-29 08:41:12,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x22d344117e2333e7462a2c0c3e18d24affce5dbf4e23...
42,CAT,WETH,10000.000000,1.982734,8548.390167,2021-10-29 08:44:21,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x82b5f2c6658581bd629328e1c57297b03bde5b66435b...
43,WETH,CAT,0.030000,165.870873,136.430255,2021-11-05 06:07:45,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdb099e06e52c611a702840ca986f75662a8bca60,0xd787b55d6a1eb9c296b4d8838fa502a97339943b0d67...
44,WETH,CAT,0.005000,27.594368,21.586592,2021-11-16 15:21:12,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xefee1a0c940d6d82a6f6424f2a293a10e9e9d7a6,0x5fdd755be16af39d152077b5825fa736546bcf1ab3b4...
45,WETH,CAT,0.004800,26.476987,20.231260,2021-12-05 06:59:34,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x9a3e97588787d0187fc5f78a0a805e32c9347fae,0xed05fa1655cc976180bc25f932c94a5bc14fc1272797...
46,WETH,CAT,0.030000,165.180157,114.613607,2021-12-15 13:54:30,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x111145b0fd2545053b0def7d0516047e34589996,0x5c3f9f3d0dd114d28a93bccb517a6036765aff9b39be...
47,WETH,CAT,0.025000,137.254438,100.422845,2021-12-26 05:10:15,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xc7b42f99c63126b22858f4eed636f805cfe82c91,0xa7c2c4f14a37ce4147ce2b047ec33404cfaa21dab1de...
48,WETH,CAT,0.025000,136.896270,100.374381,2021-12-26 05:12:13,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x96b70c2ec4859a46be26594f2b581f4977f20f4e,0x02ec00b83e35470d39ebbd2713407bb8166769b97c3a...
49,WETH,CAT,0.025000,136.539502,100.457968,2021-12-26 05:12:55,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xf1f93a88f08926a5158a0355f142dbbacebf399b,0x4654f3888b0161e6d8319be01e95546fafd42641d841...
50,WETH,CAT,0.025000,136.184128,100.494276,2021-12-26 05:20:26,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xcf217ad74d735b020f3628308d0232e886a9fdb6,0x5ca01290e357ea43879675129091fe6f808a5d564a9b...
51,WETH,CAT,0.025000,135.830140,100.513356,2021-12-26 05:22:26,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xc4d8b1972d8786197480adf1640e03166bd1d405,0x5581f09d7c384193927fdf8c888ba69e7a501e5ae6d0...
52,WETH,CAT,0.025000,135.477532,100.513356,2021-12-26 05:22:26,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xb9880de935892635f7da012a26ef5a6a3d00b31a,0xe161ce8f70db78e76f15038ba29139ee9846f1eb1db8...
53,WETH,CAT,0.050000,269.903242,190.215748,2021-12-29 01:48:02,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x7dcb39fe010a205f16ee3249f04b24d74c4f44f1,0xa16465611e230aad70041ab2e3fd5fe9d3a529c6751e...
54,WETH,CAT,0.047010,252.493938,173.699953,2021-12-31 07:55:09,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xaddaf99990b665d8553f08653966fa8995cc1209,0x59ca9ebb68c0b5f459c3dce267d6190cb6827d52ba6a...

In [8]:
cat_weth_reserves = get_pool_reserves_history(contract_id='0xb18b3f388517cf06720693b90c55b8650d4d4e0b', range_limit=20)
cat_weth_reserves_df = pool_reserves_to_df(cat_weth_reserves)
cat_weth_reserves_df

  5%|â–Œ         | 1/20 [00:00<00:15,  1.24it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date,volumeUSD
0,93428.972747,21.422243,125852.529744,22684.256535,5.397150,2021-09-25,15709.739554
1,80627.884114,24.864088,154221.237470,47481.148067,14.071405,2021-09-26,41584.309043
2,81655.046137,24.552245,151061.176647,1027.162023,0.311843,2021-09-27,966.140947
3,91655.046137,21.880641,122588.081799,10000.000000,2.671604,2021-09-28,7483.941491
4,91442.276619,21.931706,131905.432395,212.769518,0.051065,2021-09-30,152.385968
5,91193.540949,21.991706,159088.031856,248.735669,0.060000,2021-10-08,217.020040
6,90781.978374,22.091706,159836.876205,411.562575,0.100000,2021-10-09,361.757654
7,90333.535022,22.201706,159565.128155,448.443352,0.110000,2021-10-11,395.288631
8,90781.978374,22.092362,153555.488051,448.443352,0.109344,2021-10-12,380.004806
9,91099.667706,22.015550,157943.807272,317.689332,0.076812,2021-10-13,275.531181
10,87152.848781,23.015550,166757.971007,3946.818925,1.000000,2021-10-14,3622.723973
11,81835.366086,24.515550,187291.915827,5317.482695,1.500000,2021-10-19,5729.789282
12,82050.389065,24.451496,200925.170540,215.022979,0.064054,2021-10-20,263.174226
13,82365.563273,24.358212,202268.177654,315.174208,0.093285,2021-10-22,387.313603
14,82653.658915,24.273563,199181.764211,288.095642,0.084649,2021-10-23,347.300776
15,83953.658915,23.898804,202219.286964,1300.000000,0.374759,2021-10-28,1585.510075
16,105600.793336,19.012130,163938.391518,21647.134421,4.886674,2021-10-29,21064.713343
17,105434.922463,19.042130,173194.839282,165.870873,0.030000,2021-11-05,136.430255
18,105407.328095,19.047130,164465.048966,27.594368,0.005000,2021-11-16,21.586592
19,105380.851108,19.051930,160601.889542,26.476987,0.004800,2021-12-05,20.231260
20,105215.670951,19.081930,145803.252283,165.180157,0.030000,2021-12-15,114.613607
21,104397.488941,19.231930,154645.263408,818.182010,0.150000,2021-12-26,602.776183
22,104127.585699,19.281930,146709.066432,269.903242,0.050000,2021-12-29,190.215748
23,103875.091761,19.328940,142837.706283,252.493938,0.047010,2021-12-31,173.699953
24,33.641301,0.006260,33.181391,0.000000,0.000000,2022-02-03,0.000000

In [29]:
cat_weth_mints = get_pool_mints(contract_id='0xb18b3f388517cf06720693b90c55b8650d4d4e0b', range_limit=10)
cat_weth_mints_df = pool_mints_to_df(cat_weth_mints)
cat_weth_mints_df

 10%|â–ˆ         | 1/10 [00:00<00:03,  2.30it/s]

list index out of range

    amount0  amount1     amountUSD    liquidity           timestamp
0  100000.0     20.0  58074.629878  1414.213562 2021-09-25 21:24:05

In [30]:
cat_weth_burns = get_pool_burns(contract_id='0xb18b3f388517cf06720693b90c55b8650d4d4e0b', range_limit=10)
cat_weth_burns_df = pool_burns_to_df(cat_weth_burns)
cat_weth_burns_df

 10%|â–ˆ         | 1/10 [00:00<00:03,  2.34it/s]

list index out of range

        amount0   amount1      amountUSD    liquidity           timestamp
0  103841.45046  19.32268  102421.833458  1414.213562 2022-02-03 07:01:18

## Writing to/Reading from pickle files

In [9]:
# cat_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\cat_weth_swaps.pkl")
cat_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\cat_weth_reserves.pkl")
# cat_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\cat_weth_mints.pkl")
# cat_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\cat_weth_burns.pkl")

In [32]:
cat_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\cat_weth_swaps.pkl")
# cat_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\cat_weth_reserves.pkl")
cat_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\cat_weth_mints.pkl")
cat_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\cat_weth_burns.pkl")

# $TIARA/WETH

In [33]:
tiara_weth_history = get_pool_history(contract_id='0x0269197835253efc311ffe7d0aa3fbdbc1760443')
all_tiara_weth_history, other_tiara_weth_history = filter_swaps(tiara_weth_history)
tiara_weth_df = pool_history_to_df(all_tiara_weth_history)
tiara_weth_df

  0%|          | 1/20000 [00:01<7:11:11,  1.29s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd
0,WETH,$TIARA,0.150000,139.145403,467.867088,2021-08-10 03:42:19,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x7c25bb0ac944691322849419df917c0acc1d379b,0x56fee8054d29044f5dd15d5b01549312efa423685685...
1,$TIARA,WETH,139.984047,0.150000,467.865376,2021-08-10 03:53:53,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x8ad8c1aa0c95c2161c4a7bd8cb31a7e1a0dbf611aff8...
2,$TIARA,WETH,139.145403,0.129679,404.454167,2021-08-10 03:58:16,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xc62a4f438b1ec4eaba4cd942397222456e0fe49103c0...
3,WETH,$TIARA,1.626809,983.947909,5065.407271,2021-08-10 04:04:08,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xb375d3ee45c7289e1cbc8778eb3a6ba947d9fda3,0x0e680f5e01754e528d73434ca2aa8c5aa24bcd38e901...
4,WETH,$TIARA,0.012299,13.938633,38.295396,2021-08-10 04:04:08,0x00000000500e2fece27a7600435d0c48d64e0c00,0x00000000500e2fece27a7600435d0c48d64e0c00,0x91c8124d70771a748fb79e3ed335201a2ac71f7285f7...
...,...,...,...,...,...,...,...,...,...
223,WETH,$TIARA,0.031000,42.253973,87.219659,2022-02-26 05:04:54,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xcc464a85a230e412ec0d56fe8cded5fe65116be0,0x106d4bd5e7fc056f32751f81d3787d5da86651c98620...
224,$TIARA,WETH,300.280383,0.209510,546.378444,2022-02-28 00:54:22,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x27abc33f54528e7ef6c927889159a29cfa02fc5e889e...
225,WETH,$TIARA,0.400000,545.131287,1039.214371,2022-02-28 06:33:51,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x00007629ffb60f85e821778b41fe3cd030800000,0x01497441efcbac73980035e6d5f2bee02ac2b822745e...
226,$TIARA,WETH,42.253973,0.033679,100.904520,2022-03-02 10:10:16,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xc1fba5a496498f40737fb4c68a9d0797c05ee1df8f6d...
227,WETH,$TIARA,0.150000,182.213755,439.057604,2022-03-03 02:37:43,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xfd0f0117a0dee0c4c191626ed90c984a9c421486,0xbefe433417495c9a18af84f33d3a9bea9bbc1e73c6cc...

In [10]:
tiara_weth_reserves = get_pool_reserves_history(contract_id='0x0269197835253efc311ffe7d0aa3fbdbc1760443', range_limit=20)
tiara_weth_reserves_df = pool_reserves_to_df(tiara_weth_reserves)
tiara_weth_reserves_df

  5%|â–Œ         | 1/20 [00:00<00:18,  1.06it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date,volumeUSD
0,1967.782721,2.100429,6573.720495,22736.760816,37.552147,2021-08-10,117442.831133
1,10.286852,0.003576,10.733163,3051.829257,4.132937,2021-08-12,13266.587493
2,1.564302,0.023576,76.690037,8.722550,0.020000,2021-08-14,65.057607
3,0.542384,0.068205,214.897748,1.221918,0.075371,2021-08-15,242.786564
4,0.305629,0.121205,386.071696,0.236755,0.053000,2021-08-16,169.089909
...,...,...,...,...,...,...,...
60,5641.043499,4.157186,23392.793865,42.253973,0.031000,2022-02-26,87.219659
61,5396.192594,4.347676,22590.836032,845.411669,0.609510,2022-02-28,1585.592816
62,5438.446567,4.313997,25850.286055,42.253973,0.033679,2022-03-02,100.904520
63,5256.232812,4.463997,26132.691914,182.213755,0.150000,2022-03-03,439.057604
64,5577.636773,4.211318,22982.649627,2378.596039,1.567421,2022-03-04,4277.023539

In [35]:
tiara_weth_mints = get_pool_mints(contract_id='0x0269197835253efc311ffe7d0aa3fbdbc1760443', range_limit=10)
tiara_weth_mints_df = pool_mints_to_df(tiara_weth_mints)
tiara_weth_mints_df

 10%|â–ˆ         | 1/10 [00:00<00:04,  2.15it/s]

list index out of range

       amount0   amount1     amountUSD  liquidity           timestamp
0  2000.000000  2.000000   6243.881846  63.245553 2021-08-10 03:35:13
1    39.088231  0.300000   1138.458261   0.001600 2021-09-02 00:43:52
2  5000.000000  4.387672  18491.413883   0.003633 2021-10-25 23:19:12

In [36]:
tiara_weth_burns = get_pool_burns(contract_id='0x0269197835253efc311ffe7d0aa3fbdbc1760443', range_limit=10)
tiara_weth_burns_df = pool_burns_to_df(tiara_weth_burns)
tiara_weth_burns_df

 10%|â–ˆ         | 1/10 [00:00<00:04,  1.93it/s]

list index out of range

      amount0   amount1     amountUSD  liquidity           timestamp
0  950.479833  4.336116  13972.141243  63.245553 2021-08-12 04:11:32

## Writing to/reading from pickle files

In [11]:
# tiara_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\tiara_weth_swaps.pkl")
tiara_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\tiara_weth_reserves.pkl")
# tiara_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\tiara_weth_mints.pkl")
# tiara_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\tiara_weth_burns.pkl")

In [38]:
tiara_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\tiara_weth_swaps.pkl")
# tiara_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\tiara_weth_reserves.pkl")
tiara_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\tiara_weth_mints.pkl")
tiara_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\tiara_weth_burns.pkl")

# ACAB/WETH

In [39]:
acab_weth_history = get_pool_history(contract_id='0x67e8e786e1b49ad6935df713866f0c10fef7da64')
all_acab_weth_history, other_acab_weth_history = filter_swaps(acab_weth_history)
acab_weth_df = pool_history_to_df(all_acab_weth_history)
acab_weth_df

  0%|          | 1/20000 [00:00<2:54:50,  1.91it/s]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd
0,WETH,ACAB,1.084038e+00,1.333034e+07,4981.179081,2021-11-30 18:13:34,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x3ca17003820f7ebcd1ae70e24adea904590657e9,0x0e4a2cb4b6e605ca86bcb85b54711b9b6359e2e8203d...
1,WETH,ACAB,2.167916e-01,2.115711e+06,996.260727,2021-11-30 18:15:57,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x6180441027cc27f63d3d25c43618199839f3570e,0xf7a8942eb0c94ee50f258bdf9347ce7e58be98040559...
2,WETH,ACAB,1.062972e-02,1.000000e+05,48.881389,2021-11-30 18:21:03,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x947d804dd60a6b6acade29e904177c0d3b1dca0c,0xac16310193e3b07e21c2c14e69e72599a5441cb924ac...
3,WETH,ACAB,1.900000e-02,1.779091e+05,87.385254,2021-11-30 18:22:57,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x22f9dcf4647084d6c31b2765f6910cd85c178c18,0x4e826df4738df9370364b682717992e0e6dd35b25b0a...
4,ACAB,WETH,2.115711e+06,2.175312e-01,1015.455996,2021-11-30 18:53:11,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x06da0fd433c1a5d7a4faa01111c044910a184553,0x464e0dcf1cbdcf11156bceaefbf0607ba627114bf6d9...
5,ACAB,WETH,1.773775e+05,1.755835e-02,81.510610,2021-11-30 20:28:25,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x22f9dcf4647084d6c31b2765f6910cd85c178c18,0x0d3a2cc8476818124add83860cc0d7e7c3a5d39074a6...
6,ACAB,WETH,1.333034e+07,1.082156e+00,5125.579384,2021-12-01 05:02:29,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,0x30cc6be280e3c3c231c87eeb786877e412ef2cde44c9...
7,WETH,ACAB,1.000000e-01,1.460513e+06,468.253017,2021-12-01 18:46:48,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdb12ac354cf6ed2f4f92941929adf38fc923db78,0x93911f23a326c1fb11461c75f2f045f92545219b8b21...
8,WETH,ACAB,2.000000e-02,2.852774e+05,80.791068,2021-12-06 12:25:51,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x0c8351929dd1a1a469805f6a0fae888fc8cb7b6b,0xc4d1456261b5f0fd54aa10a41a707f26869976e8b7ad...
9,WETH,ACAB,8.200000e-01,1.005016e+07,3587.052440,2021-12-08 08:12:35,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x0000000000488b7147b38452e686b41c4fa8bedc,0x94c8d5d9512f9867427b7b938abe22705b9d6c6905c6...
10,WETH,ACAB,2.100000e-01,2.143903e+06,927.815725,2021-12-08 21:07:02,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xfec68f3b8b6eeadff47bb4cf25dea3a15eadab46,0xebd88aea3ffa3cd0ded225111a62e7a5b8a44226fa7d...
11,WETH,ACAB,8.652945e-02,8.415058e+05,361.127212,2021-12-10 12:11:13,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x7f1a1a8de31257fff23f5d2acf99af1983db2ed7,0x351a47b2b27a42417f1176890e6d8980dea707f26c33...
12,ACAB,WETH,8.415058e+05,8.601819e-02,348.632926,2021-12-12 07:54:39,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xde51007171f2a2638b578acdfc55e18d19107085066d...
13,WETH,ACAB,1.025983e-02,1.009983e+05,41.219317,2021-12-12 11:27:57,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xe8d2b0bb8a36c3057e97a236688c9c2c17f5bf37,0x6b9d75bc045ccd37980a14b8c17483d58a31a3378bb0...
14,WETH,ACAB,2.200000e-03,2.161325e+04,8.898804,2021-12-12 12:50:05,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x29ce7808d2e642e0499d8ee7d03ac20721f819c4,0xf33926435f8416aec1cb0329cf03ca359be95f242713...
15,ACAB,WETH,1.005016e+07,8.733851e-01,3309.766248,2021-12-13 16:28:44,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xfa3f92a9ffbb8fb54cc847857e5ea06906e8bbdcd402...
16,WETH,ACAB,1.239000e-02,1.647473e+05,50.008148,2021-12-21 04:53:49,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x32672af4edc13cf1ab5dab6c5cda5df71ad35951,0x4cc3667d40237b529c4f294fcae363543f306500911a...
17,WETH,ACAB,1.940000e-01,2.483202e+06,604.747197,2022-02-09 01:48:13,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xb5873b1f191ab3c9ead25ccebe639082668b86bf,0x86baba4f74b962fc71b9c5628fb7ecc3e02023013b75...

In [40]:
acab_weth_reserves = get_pool_reserves_history(contract_id='0x67e8e786e1b49ad6935df713866f0c10fef7da64', range_limit=20)
acab_weth_reserves_df = pool_reserves_to_df(acab_weth_reserves)
acab_weth_reserves_df

  5%|â–Œ         | 1/20 [00:00<00:09,  1.93it/s]

list index out of range

KeyError: 'token0'

In [41]:
acab_weth_mints = get_pool_mints(contract_id='0x67e8e786e1b49ad6935df713866f0c10fef7da64', range_limit=10)
acab_weth_mints_df = pool_mints_to_df(acab_weth_mints)
acab_weth_mints_df

 10%|â–ˆ         | 1/10 [00:00<00:03,  2.28it/s]

list index out of range

   amount0     amount1    amountUSD     liquidity           timestamp
0      5.0  75000000.0  22986.34757  19364.916731 2021-11-30 18:12:21

In [42]:
acab_weth_burns = get_pool_burns(contract_id='0x67e8e786e1b49ad6935df713866f0c10fef7da64', range_limit=10)
acab_weth_burns_df = pool_burns_to_df(acab_weth_burns)
acab_weth_burns_df

  0%|          | 0/10 [00:00<?, ?it/s]

list index out of range

AttributeError: 'DataFrame' object has no attribute 'amount0'

# Writing to/reading from pickle files

In [43]:
acab_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\acab_weth_swaps.pkl")
# acab_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\acab_weth_reserves.pkl")
acab_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\acab_weth_mints.pkl")
# acab_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\acab_weth_burns.pkl")

In [44]:
acab_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\acab_weth_swaps.pkl")
# acab_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\acab_weth_reserves.pkl")
acab_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\acab_weth_mints.pkl")
# acab_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\acab_weth_burns.pkl")