# Imports

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import os
import sys
sys.path.insert(0, "C:/workspace/data-science/libs")

from uniswap_v2_extractor import get_pool_v2_reserves_history, get_pool_v2_history, list_to_transaction_dictionary,\
                                list_to_reserves_dictionary, pool_reserves_to_df, pool_history_to_df, get_pool_v2_mints,\
                                    get_pool_v2_burns, list_to_mints_dictionary, pool_mints_to_df, pool_burns_to_df, filter_swaps, \
                                    get_pool_v2_with_gas_history, list_to_transaction_dictionary_with_gas, pool_history_v2_with_gas_to_df, \
                                    get_pool_v2_with_gas_history_light, list_to_transaction_dictionary_with_gas_light, pool_history_v2_with_gas_to_df_light

# WETH/USDC pool data

## Collecting WETH/USDC mints

In [2]:
eth_usdc_mints = get_pool_v2_mints(contract_id='0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc', range_limit=50)
eth_usdc_mints_df = pool_mints_to_df(eth_usdc_mints)

 70%|███████   | 35/50 [00:51<00:17,  1.14s/it]

list index out of range

 72%|███████▏  | 36/50 [00:51<00:12,  1.16it/s]

list index out of range

 74%|███████▍  | 37/50 [00:51<00:08,  1.49it/s]

list index out of range

 76%|███████▌  | 38/50 [00:51<00:06,  1.86it/s]

list index out of range

 80%|████████  | 40/50 [00:52<00:03,  2.69it/s]

list index out of range
list index out of range

 82%|████████▏ | 41/50 [00:52<00:02,  3.14it/s]

list index out of range

 84%|████████▍ | 42/50 [00:52<00:02,  3.48it/s]

list index out of range

 88%|████████▊ | 44/50 [00:53<00:01,  4.08it/s]

list index out of range
list index out of range

 90%|█████████ | 45/50 [00:53<00:01,  4.16it/s]

list index out of range

 92%|█████████▏| 46/50 [00:53<00:00,  4.29it/s]

list index out of range

 94%|█████████▍| 47/50 [00:53<00:00,  4.32it/s]

list index out of range

 96%|█████████▌| 48/50 [00:54<00:00,  4.28it/s]

list index out of range

 98%|█████████▊| 49/50 [00:54<00:00,  4.27it/s]

list index out of range

100%|██████████| 50/50 [00:54<00:00,  1.09s/it]

list index out of range

### writing received data to the pickle

In [3]:
eth_usdc_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_mints.pkl")

### reading received data from pickle

In [4]:
eth_usdc_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_mints.pkl")

## Collecting WETH/USDC burns

In [5]:
eth_usdc_burns = get_pool_v2_burns(contract_id='0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc', range_limit=27)
eth_usdc_burns_df = pool_burns_to_df(eth_usdc_burns)

 93%|█████████▎| 25/27 [00:38<00:02,  1.33s/it]

list index out of range

 96%|█████████▋| 26/27 [00:38<00:00,  1.00it/s]

list index out of range

100%|██████████| 27/27 [00:39<00:00,  1.45s/it]

list index out of range

In [6]:
eth_usdc_burns_df

            amount0   amount1     amountUSD     liquidity           timestamp
0          0.003262  0.000016      0.003263  2.299449e-10 2020-05-07 15:47:25
1          0.014189  0.000070      0.014190  9.999739e-10 2020-05-08 02:43:59
2          0.781284  0.006539      0.781285  6.960485e-08 2020-05-12 20:18:50
3          0.995309  0.004114      0.836172  6.217433e-08 2020-05-13 23:48:21
4          1.097105  0.005132      1.047697  7.289922e-08 2020-05-14 14:24:41
...             ...       ...           ...           ...                 ...
23683      6.018257  0.002426     12.032629  6.472548e-08 2022-01-25 17:46:53
23684    356.085956  0.145224    712.889210  3.851792e-06 2022-01-26 00:06:31
23685   2034.424126  0.831347   4067.498207  2.202797e-05 2022-01-26 00:43:26
23686  10432.767283  4.181955  20859.889237  1.118700e-04 2022-01-26 04:58:33
23687    563.485148  0.229864   1127.955235  6.095208e-06 2022-01-26 07:31:57

[23688 rows x 5 columns]

### Writing received data to pickle

In [7]:
eth_usdc_burns_df.to_pickle(os.getcwd() + "\\weth_usdc_burns.pkl")

### Reading received data from pickle

In [8]:
eth_usdc_burns_df = pd.read_pickle(os.getcwd() + "\\weth_usdc_burns.pkl")

## Plotting burns data

In [9]:
# import pandas as pd
# from tqdm import tqdm
# from gql import gql, Client
# from gql.transport.requests import RequestsHTTPTransport

# def get_pool_v2_with_gas_history(contract_id: str, range_limit: int=100) -> list:
#     """get transaction history for given contract id
#     Args:
#         contract_id (str): hash-sum of required contract
#         range_limit (int, optional): how many data fragments required (one fragment has 1000 records). Defaults to 100.
#     Returns:
#         list: list of transactions history, where each transaction is an inner array
#     """
#     sample_transport = RequestsHTTPTransport(url = 'https://api.thegraph.com/subgraphs/name/benesjan/uniswap-v2',
#                                             verify=True, retries=3)

#     all_swaps = []
#     last_timestamp = 0
#     client = Client(transport=sample_transport)

#     for skip in tqdm(range(0, range_limit)):
#         try:
#             query = gql(
#             'query {\n'
#                 f'swaps(first: 1000, where: {{ pair: "{contract_id}", timestamp_gt: {last_timestamp} }} orderBy: timestamp, orderDirection: asc) {{\n'
#                 'transaction {\n'
#                     'id\n'
#                     'timestamp\n'
#                     'gasUsed\n'
#                     'gasPrice\n'
#                 '}\n'
#                 'id\n'
#                 'pair {\n'
#                     'token0 {\n'
#                     'id\n'
#                     'symbol\n'
#                     '}\n'
#                     'token1 {\n'
#                     'id\n'
#                     'symbol\n'
#                     '}\n'
#                 '}\n'
#                 'amount0In\n'
#                 'amount0Out\n'
#                 'amount1In\n'
#                 'amount1Out\n'
#                 'amountUSD\n'
#                 'sender\n'
#                 'to\n'
#                 '}\n'
#             '}\n')

#             # get current response, extract from it last timestamp, extend swaps history with
#             # current response
#             response = client.execute(query)
#             last_timestamp = response['swaps'][-1]['transaction']['timestamp']
#             all_swaps.extend(response['swaps'])

#         except Exception as e:
#             print(e)

#     return all_swaps


get_pool_v2_with_gas_history(contract_id='0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc', range_limit=1)

100%|██████████| 1/1 [01:00<00:00, 60.25s/it]

504 Server Error: Gateway Time-out for url: https://api.thegraph.com/subgraphs/name/benesjan/uniswap-v2

[]

# WBTC/USDC pool data

## Collecting WBTC/USDC swaps, mints, burns, reserves

In [10]:
wbtc_usdc_history = get_pool_v2_with_gas_history(contract_id='0x004375dff511095cc5a197a54140a24efef3a416', range_limit=200)
all_wbtc_usdc_history, other_wbtc_usdc_history = filter_swaps(wbtc_usdc_history)
wbtc_usdc_df = pool_history_v2_with_gas_to_df(all_wbtc_usdc_history)
wbtc_usdc_df

 36%|███▌      | 71/200 [08:26<07:29,  3.48s/it]

list index out of range

 36%|███▌      | 72/200 [08:26<05:20,  2.51s/it]

list index out of range

 36%|███▋      | 73/200 [08:27<03:51,  1.82s/it]

list index out of range

 38%|███▊      | 75/200 [08:27<02:04,  1.00it/s]

list index out of range
list index out of range

 38%|███▊      | 77/200 [08:27<01:13,  1.67it/s]

list index out of range
list index out of range

 39%|███▉      | 78/200 [08:28<00:59,  2.06it/s]

list index out of range

 40%|███▉      | 79/200 [08:28<00:49,  2.46it/s]

list index out of range

 40%|████      | 80/200 [08:28<00:42,  2.83it/s]

list index out of range

 41%|████      | 82/200 [08:28<00:33,  3.56it/s]

list index out of range
list index out of range

 42%|████▏     | 83/200 [08:29<00:30,  3.87it/s]

list index out of range

 42%|████▏     | 84/200 [08:29<00:28,  4.01it/s]

list index out of range

 42%|████▎     | 85/200 [08:29<00:27,  4.13it/s]

list index out of range

 44%|████▎     | 87/200 [08:30<00:25,  4.40it/s]

list index out of range
list index out of range

 44%|████▍     | 88/200 [08:30<00:24,  4.54it/s]

list index out of range

 44%|████▍     | 89/200 [08:30<00:24,  4.59it/s]

list index out of range

 46%|████▌     | 91/200 [08:30<00:23,  4.62it/s]

list index out of range
list index out of range

 46%|████▌     | 92/200 [08:31<00:23,  4.66it/s]

list index out of range

 47%|████▋     | 94/200 [08:31<00:22,  4.75it/s]

list index out of range
list index out of range

 48%|████▊     | 96/200 [08:31<00:22,  4.73it/s]

list index out of range
list index out of range

 48%|████▊     | 97/200 [08:32<00:21,  4.73it/s]

list index out of range

 50%|████▉     | 99/200 [08:32<00:21,  4.79it/s]

list index out of range
list index out of range

 50%|█████     | 100/200 [08:32<00:21,  4.69it/s]

list index out of range

 51%|█████     | 102/200 [08:33<00:20,  4.82it/s]

list index out of range
list index out of range

 52%|█████▏    | 103/200 [08:33<00:20,  4.80it/s]

list index out of range

 52%|█████▏    | 104/200 [08:33<00:20,  4.74it/s]

list index out of range

 52%|█████▎    | 105/200 [08:33<00:20,  4.65it/s]

list index out of range

 54%|█████▎    | 107/200 [08:34<00:19,  4.78it/s]

list index out of range
list index out of range

 54%|█████▍    | 108/200 [08:34<00:18,  4.89it/s]

list index out of range

 55%|█████▌    | 110/200 [08:34<00:18,  4.92it/s]

list index out of range
list index out of range

 56%|█████▌    | 111/200 [08:35<00:18,  4.91it/s]

list index out of range

 56%|█████▌    | 112/200 [08:35<00:18,  4.82it/s]

list index out of range

 57%|█████▋    | 114/200 [08:35<00:18,  4.65it/s]

list index out of range
list index out of range

 58%|█████▊    | 116/200 [08:36<00:17,  4.76it/s]

list index out of range
list index out of range

 58%|█████▊    | 117/200 [08:36<00:17,  4.63it/s]

list index out of range

 59%|█████▉    | 118/200 [08:36<00:17,  4.62it/s]

list index out of range

 60%|█████▉    | 119/200 [08:36<00:17,  4.59it/s]

list index out of range

 60%|██████    | 120/200 [08:37<00:17,  4.61it/s]

list index out of range

 60%|██████    | 121/200 [08:37<00:17,  4.51it/s]

list index out of range

 61%|██████    | 122/200 [08:37<00:17,  4.36it/s]

list index out of range

 62%|██████▏   | 124/200 [08:37<00:16,  4.58it/s]

list index out of range
list index out of range

 63%|██████▎   | 126/200 [08:38<00:15,  4.70it/s]

list index out of range
list index out of range

 64%|██████▎   | 127/200 [08:38<00:15,  4.79it/s]

list index out of range

 64%|██████▍   | 128/200 [08:38<00:15,  4.66it/s]

list index out of range

 64%|██████▍   | 129/200 [08:39<00:15,  4.65it/s]

list index out of range

 66%|██████▌   | 131/200 [08:39<00:14,  4.73it/s]

list index out of range
list index out of range

 66%|██████▌   | 132/200 [08:39<00:14,  4.67it/s]

list index out of range

 66%|██████▋   | 133/200 [08:39<00:14,  4.68it/s]

list index out of range

 67%|██████▋   | 134/200 [08:40<00:14,  4.63it/s]

list index out of range

 68%|██████▊   | 135/200 [08:40<00:14,  4.52it/s]

list index out of range

 68%|██████▊   | 137/200 [08:40<00:13,  4.50it/s]

list index out of range
list index out of range

 69%|██████▉   | 138/200 [08:40<00:13,  4.52it/s]

list index out of range

 70%|██████▉   | 139/200 [08:41<00:13,  4.58it/s]

list index out of range

 70%|███████   | 140/200 [08:41<00:12,  4.67it/s]

list index out of range

 70%|███████   | 141/200 [08:41<00:12,  4.61it/s]

list index out of range

 71%|███████   | 142/200 [08:41<00:12,  4.70it/s]

list index out of range

 72%|███████▏  | 143/200 [08:42<00:12,  4.66it/s]

list index out of range

 72%|███████▎  | 145/200 [08:42<00:11,  4.72it/s]

list index out of range
list index out of range

 74%|███████▎  | 147/200 [08:42<00:11,  4.71it/s]

list index out of range
list index out of range

 74%|███████▍  | 148/200 [08:43<00:10,  4.76it/s]

list index out of range

 75%|███████▌  | 150/200 [08:43<00:10,  4.84it/s]

list index out of range
list index out of range

 76%|███████▌  | 152/200 [08:43<00:09,  4.92it/s]

list index out of range
list index out of range

 77%|███████▋  | 154/200 [08:44<00:09,  4.64it/s]

list index out of range
list index out of range

 78%|███████▊  | 155/200 [08:44<00:09,  4.68it/s]

list index out of range

 78%|███████▊  | 156/200 [08:44<00:09,  4.68it/s]

list index out of range

 78%|███████▊  | 157/200 [08:45<00:09,  4.58it/s]

list index out of range

 79%|███████▉  | 158/200 [08:45<00:09,  4.61it/s]

list index out of range

 80%|███████▉  | 159/200 [08:45<00:12,  3.25it/s]

list index out of range

 80%|████████  | 161/200 [08:46<00:10,  3.80it/s]

list index out of range
list index out of range

 82%|████████▏ | 163/200 [08:46<00:08,  4.17it/s]

list index out of range
list index out of range

 82%|████████▏ | 164/200 [08:46<00:08,  4.37it/s]

list index out of range

 82%|████████▎ | 165/200 [08:47<00:07,  4.43it/s]

list index out of range

 84%|████████▎ | 167/200 [08:47<00:07,  4.52it/s]

list index out of range
list index out of range

 84%|████████▍ | 169/200 [08:47<00:06,  4.61it/s]

list index out of range
list index out of range

 85%|████████▌ | 170/200 [08:48<00:06,  4.67it/s]

list index out of range

 86%|████████▌ | 171/200 [08:48<00:06,  4.72it/s]

list index out of range

 86%|████████▌ | 172/200 [08:48<00:05,  4.72it/s]

list index out of range

 86%|████████▋ | 173/200 [08:48<00:05,  4.68it/s]

list index out of range

 87%|████████▋ | 174/200 [08:49<00:05,  4.49it/s]

list index out of range

 88%|████████▊ | 175/200 [08:49<00:05,  4.58it/s]

list index out of range

 88%|████████▊ | 176/200 [08:49<00:05,  4.58it/s]

list index out of range

 89%|████████▉ | 178/200 [08:49<00:04,  4.42it/s]

list index out of range
list index out of range

 90%|█████████ | 180/200 [08:50<00:04,  4.59it/s]

list index out of range
list index out of range

 90%|█████████ | 181/200 [08:50<00:04,  4.66it/s]

list index out of range

 92%|█████████▏| 183/200 [08:50<00:03,  4.70it/s]

list index out of range
list index out of range

 92%|█████████▏| 184/200 [08:51<00:03,  4.68it/s]

list index out of range

 92%|█████████▎| 185/200 [08:51<00:03,  4.61it/s]

list index out of range

 93%|█████████▎| 186/200 [08:51<00:03,  4.56it/s]

list index out of range

 94%|█████████▎| 187/200 [08:51<00:02,  4.51it/s]

list index out of range

 94%|█████████▍| 188/200 [08:52<00:02,  4.50it/s]

list index out of range

 94%|█████████▍| 189/200 [08:52<00:02,  4.52it/s]

list index out of range

 96%|█████████▌| 191/200 [08:52<00:01,  4.56it/s]

list index out of range
list index out of range

 96%|█████████▋| 193/200 [08:53<00:01,  4.75it/s]

list index out of range
list index out of range

 98%|█████████▊| 195/200 [08:53<00:01,  4.90it/s]

list index out of range
list index out of range

 98%|█████████▊| 196/200 [08:53<00:00,  4.88it/s]

list index out of range

 98%|█████████▊| 197/200 [08:53<00:00,  4.83it/s]

list index out of range

 99%|█████████▉| 198/200 [08:54<00:00,  4.79it/s]

list index out of range

100%|█████████▉| 199/200 [08:54<00:00,  4.59it/s]

list index out of range

100%|██████████| 200/200 [08:54<00:00,  2.67s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,USDC,WBTC,1.534170e-01,0.000016,0.152773,2020-05-19 23:44:23,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x3da4491fed9f6d6b1391b2a02991c8d035d7716f,0xba9a47ed6b7d293da7e7643f434055ff76bdf609274f...,16500000000,2696317
1,WBTC,USDC,2.501000e-04,2.367365,2.371854,2020-05-21 14:39:56,0x96569f124f6a3b62093c7115f14f8005705ba48a,0x96569f124f6a3b62093c7115f14f8005705ba48a,0xffff2870fd0aa2f909766844c95f53b83625854c925e...,65666700000,2199596
2,WBTC,USDC,1.047330e-03,9.603013,9.593976,2020-05-22 20:47:02,0x96569f124f6a3b62093c7115f14f8005705ba48a,0x96569f124f6a3b62093c7115f14f8005705ba48a,0x68e9800197efaafee864d33cf6167d12e4aa29a527c9...,25300000000,1961488
3,USDC,WBTC,8.923190e-01,0.000098,0.891249,2020-05-23 14:00:42,0x0d4743269fec611b422d0a209a460cd8cc0cc8b9,0x0d4743269fec611b422d0a209a460cd8cc0cc8b9,0x33fbec2e6e1a3a04a1f5109f3a8809f32c7ad7e75c7d...,35640000000,1586338
4,WBTC,USDC,1.100000e-07,0.001000,0.000995,2020-05-24 17:37:32,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x211b6a1137bf539b2750e02b9e525cf5757a35ae,0x273375cad4d5cf584b70af639f3cf07a53ba00a07216...,31000010000,139738
...,...,...,...,...,...,...,...,...,...,...,...
69829,USDC,WBTC,2.000000e+03,0.053648,1998.400208,2022-01-26 03:54:09,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0x7e2b8aa127f6a50715ed4d300a95e6d1d35fd08a,0xf697f284a8b119c7ebeea5348ac39ce4f29cb467d007...,123992019338,296836
69830,USDC,WBTC,2.475000e+03,0.065177,2477.867510,2022-01-26 07:10:38,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0x7e2b8aa127f6a50715ed4d300a95e6d1d35fd08a,0x3aca4a3b571af7dfc6ff33021089b446ad4681f35df1...,113912631059,616360
69831,WBTC,USDC,8.852110e-02,3329.544519,3333.297668,2022-01-26 07:11:18,0xeef86c2e49e11345f1a693675df9a38f7d880c8f,0xeef86c2e49e11345f1a693675df9a38f7d880c8f,0x2eb25abddad0bf49bb8ccc78c4402ae2ad5f167274cc...,89051920482,296947
69832,WBTC,USDC,4.698974e-02,1730.792534,1730.585888,2022-01-26 07:39:15,0xd7c09e006a2891880331b0f6224071c1e890a98a,0xd7c09e006a2891880331b0f6224071c1e890a98a,0x6b193a8d0434a72520dae03dc4fee82f22dcceec0eaa...,115830894534,385237
69833,USDC,WBTC,2.400000e+03,0.064592,2399.664885,2022-01-26 07:40:32,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0x44b77e9ce8a20160290fcbaa44196744f354c1b7,0xce46bf1c5a698775114feb20766a0e752c8f5a6a1b0c...,91841104745,642402

In [11]:
wbtc_usdc_mints = get_pool_v2_mints(contract_id='0x004375dff511095cc5a197a54140a24efef3a416', range_limit=4)
wbtc_usdc_mints_df = pool_mints_to_df(wbtc_usdc_mints)
wbtc_usdc_mints_df

 75%|███████▌  | 3/4 [00:01<00:00,  2.31it/s]

list index out of range
list index out of range

100%|██████████| 4/4 [00:01<00:00,  2.16it/s]

list index out of range

      amount0       amount1     amountUSD     liquidity           timestamp
0    0.000058      0.565606      1.127788  5.641800e-14 2020-05-18 21:17:30
1    0.031843    308.949238    619.783548  3.136322e-11 2020-05-19 12:27:11
2    0.010943    106.173412    211.873034  1.077827e-11 2020-05-19 23:44:23
3    0.000016      0.152924      0.305054  1.551800e-14 2020-05-19 23:44:23
4    0.031445    305.317587    609.861677  3.098311e-11 2020-05-20 05:27:48
..        ...           ...           ...           ...                 ...
631  0.155700   9650.106680  19318.172583  3.251186e-10 2021-11-07 08:33:03
632  0.098712   5000.988000  10011.029776  1.847316e-10 2021-12-07 02:23:07
633  0.152300   7731.027611  15478.529064  2.852387e-10 2021-12-08 15:26:02
634  0.080976   3994.973885   7979.936759  1.493500e-10 2021-12-15 21:10:51
635  0.379579  13679.225294  27327.006779  5.926055e-10 2022-01-25 07:48:50

[636 rows x 5 columns]

In [12]:
wbtc_usdc_burns = get_pool_v2_burns(contract_id='0x004375dff511095cc5a197a54140a24efef3a416', range_limit=4)
wbtc_usdc_burns_df = pool_burns_to_df(wbtc_usdc_burns)
wbtc_usdc_burns_df

 50%|█████     | 2/4 [00:01<00:01,  1.65it/s]

list index out of range

 75%|███████▌  | 3/4 [00:01<00:00,  2.36it/s]

list index out of range

100%|██████████| 4/4 [00:01<00:00,  2.24it/s]

list index out of range

       amount0        amount1     amountUSD     liquidity           timestamp
0     0.000020       0.197013  3.927742e-01  2.000000e-14 2020-05-18 21:20:11
1     0.063276     614.380910  1.229174e+03  6.234632e-11 2020-05-20 06:27:58
2     0.100240     926.246269  1.878634e+03  9.633865e-11 2020-05-28 22:37:40
3     0.034953     347.926154  6.858424e+02  3.486130e-11 2020-06-05 16:08:49
4     0.010843     102.534555  2.039734e+02  1.053852e-11 2020-06-21 12:23:07
..         ...            ...           ...           ...                 ...
484   0.009586     480.918121  9.618845e+02  1.780066e-11 2021-12-26 18:21:51
485   0.231552   11868.512830  2.370249e+04  4.345887e-10 2021-12-27 17:03:56
486  14.624417  695553.065988  1.384900e+06  2.643590e-08 2021-12-29 12:25:38
487   0.014206     592.581142  1.188835e+03  2.395445e-11 2022-01-19 11:51:13
488   0.014320     598.497659  1.195026e+03  2.416639e-11 2022-01-20 00:21:11

[489 rows x 5 columns]

In [13]:
wbtc_usdc_reserves = get_pool_v2_reserves_history(contract_id='0x004375dff511095cc5a197a54140a24efef3a416')
wbtc_usdc_reserves_df = pool_reserves_to_df(wbtc_usdc_reserves)
wbtc_usdc_reserves_df

100%|██████████| 2/2 [00:03<00:00,  1.51s/it]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,0.000038,0.368593,0.734946,0.000000,0.000000,2020-05-18
1,0.042824,415.797584,829.434389,0.000016,0.153417,2020-05-19
2,0.010993,106.734261,213.540167,0.000000,0.000000,2020-05-20
3,0.011243,104.366896,207.537179,0.000250,2.367365,2020-05-21
4,0.112290,1023.059608,2051.484302,0.001047,9.603013,2020-05-22
...,...,...,...,...,...,...
529,6.274153,220382.965655,442036.677920,4.970136,161512.170069,2022-01-22
530,6.200714,223237.400815,448764.336855,2.273100,86887.826830,2022-01-23
531,6.148684,225642.792373,449639.109462,4.787195,173650.643200,2022-01-24
532,6.518025,239986.507181,479110.771134,2.613559,100025.835202,2022-01-25
533,6.466721,241958.429669,483667.051587,0.608492,22845.836466,2022-01-26

### Writing swaps, mints, burns, reserves into pickle files

In [14]:
wbtc_usdc_df.to_pickle(os.getcwd() + "\\pkl_stories\\wbtc_usdc_swaps.pkl")
wbtc_usdc_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\wbtc_usdc_mints.pkl")
wbtc_usdc_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\wbtc_usdc_burns.pkl")
wbtc_usdc_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\wbtc_usdc_reserves.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [15]:
wbtc_usdc_df = pd.read_pickle(os.getcwd() + '\\pkl_stories\\wbtc_usdc_swaps.pkl')
wbtc_usdc_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\wbtc_usdc_mints.pkl")
wbtc_usdc_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\wbtc_usdc_burns.pkl")
wbtc_usdc_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\wbtc_usdc_reserves.pkl")

# WBTC/DAI pool data

## Collecting swaps, mints, burns and reserves

In [16]:
wbtc_dai_history = get_pool_v2_with_gas_history(contract_id='0x231b7589426ffe1b75405526fc32ac09d44364c4', range_limit=20)
all_wbtc_dai_history, other_wbtc_dai_history = filter_swaps(wbtc_dai_history)
wbtc_dai_df = pool_history_v2_with_gas_to_df(all_wbtc_dai_history)
wbtc_dai_df

 80%|████████  | 16/20 [01:08<00:10,  2.68s/it]

list index out of range

 90%|█████████ | 18/20 [01:09<00:02,  1.42s/it]

list index out of range
list index out of range

 95%|█████████▌| 19/20 [01:09<00:01,  1.05s/it]

list index out of range

100%|██████████| 20/20 [01:09<00:00,  3.48s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WBTC,DAI,0.000039,0.378642,0.378116,2020-05-20 11:55:36,0xfade503916c1d1253646c36c9961aa47bf14bd2d,0xfade503916c1d1253646c36c9961aa47bf14bd2d,0x337e7bf5b2b4c385597b11dffcf70d0cddac162d4772...,55000000000,1504693
1,WBTC,DAI,0.000017,0.162868,0.161100,2020-05-20 18:34:15,0xfade503916c1d1253646c36c9961aa47bf14bd2d,0xfade503916c1d1253646c36c9961aa47bf14bd2d,0xd36f3e8bc306eb4c2ff894d1a8932c4647913af9d322...,26400000000,1966663
2,WBTC,DAI,0.000256,2.450812,2.382097,2020-05-22 00:32:08,0x96569f124f6a3b62093c7115f14f8005705ba48a,0x96569f124f6a3b62093c7115f14f8005705ba48a,0xf3eaa95adf2319acf5b57db3f345b4a3f607bba4a833...,25983100000,2572237
3,WBTC,DAI,0.000022,0.208767,0.206079,2020-05-22 10:27:44,0x96569f124f6a3b62093c7115f14f8005705ba48a,0x96569f124f6a3b62093c7115f14f8005705ba48a,0x5c08ee19949610beb1c54ae00eb576564a26a26cb029...,37570500000,784265
4,WBTC,DAI,0.000022,0.208199,0.205794,2020-05-22 10:30:29,0x96569f124f6a3b62093c7115f14f8005705ba48a,0x96569f124f6a3b62093c7115f14f8005705ba48a,0xb27b3c99425963ec06978be76fb6c47ce34eaf3fbb16...,37411000000,757265
...,...,...,...,...,...,...,...,...,...,...,...
14583,WBTC,DAI,0.045069,1631.162353,1633.458991,2022-01-25 11:11:27,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0x108cb2a6e3e996a0780c015b7b565ed731daf294,0x2dbfa0cac1c0d2864694d7eea0c7b050ecefa7251386...,69486615871,139050
14584,DAI,WBTC,943.324503,0.025976,940.942854,2022-01-25 11:25:19,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbb2b8038a1640196fbe3e38816f3e67cba72d940,0xebd94779d32a2f9e46e546d0a3831a7a584f6562b64a...,69714077947,492550
14585,DAI,WBTC,1526.991067,0.041659,1528.224535,2022-01-25 16:39:48,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0xbb2b8038a1640196fbe3e38816f3e67cba72d940,0x28815f7298dd0b8dd5be1e6fe30ce70955ef98a76a08...,150000000000,249436
14586,DAI,WBTC,1221.280946,0.032977,1221.767439,2022-01-25 17:12:37,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x9008d19f58aabd9ed0d60971565aa8510560ab41,0xacf568740475398473dec31388f010619a52358fee62...,163710763064,353868
14587,DAI,WBTC,1292.668546,0.034579,1294.657657,2022-01-26 05:09:59,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbb2b8038a1640196fbe3e38816f3e67cba72d940,0x7879ca93eb5b7ecc0f4536f36909ac59d93a923e6408...,100000000000,1200000

In [17]:
wbtc_dai_reserves = get_pool_v2_reserves_history(contract_id='0x231b7589426ffe1b75405526fc32ac09d44364c4')
wbtc_dai_reserves_df = pool_reserves_to_df(wbtc_dai_reserves)
wbtc_dai_reserves_df

100%|██████████| 2/2 [00:01<00:00,  1.28it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,0.015897,156.421121,311.020588,0.000000,0.000000,2020-05-18
1,0.015952,155.879611,308.075846,0.000055,0.541510,2020-05-20
2,0.116257,1093.860346,2163.052089,0.000305,2.916207,2020-05-22
3,0.117786,1079.701885,2147.686948,0.001529,14.158461,2020-05-23
4,0.120951,1051.538677,2108.503974,0.003164,28.163208,2020-05-24
...,...,...,...,...,...,...
602,7.426989,260023.666692,522122.444657,1.145186,40629.743603,2022-01-22
603,7.266727,265832.936187,530869.998174,0.691109,24629.994153,2022-01-23
604,7.256894,266268.569578,536219.154599,0.703466,24585.803924,2022-01-24
605,7.218125,267734.404311,535030.539445,0.324655,11793.858061,2022-01-25
606,7.183546,269027.072857,540434.156661,0.034579,1292.668546,2022-01-26

In [18]:
wbtc_dai_mints = get_pool_v2_mints(contract_id='0x231b7589426ffe1b75405526fc32ac09d44364c4', range_limit=1)
wbtc_dai_mints_df = pool_mints_to_df(wbtc_dai_mints)
wbtc_dai_mints_df

100%|██████████| 1/1 [00:00<00:00,  1.44it/s]

      amount0        amount1      amountUSD     liquidity           timestamp
0    0.000058       0.573588       1.138998  5.782254e-08 2020-05-18 21:18:56
1    0.015859     156.045929     310.274573  1.573075e-05 2020-05-18 22:22:40
2    0.100000     940.896942    1860.574893  9.699443e-05 2020-05-22 21:37:08
3    0.008735      77.283604     154.781806  8.215019e-06 2020-05-26 12:22:59
4    0.056679     501.500211    1000.979806  5.330799e-05 2020-05-26 22:37:46
..        ...            ...            ...           ...                 ...
188  0.846277   40000.000355   79772.385398  1.684014e-03 2022-01-03 09:14:03
189  1.480985   69999.999793  139427.489182  2.947024e-03 2022-01-03 09:27:45
190  2.327262  110000.000148  219221.967202  4.631037e-03 2022-01-03 09:33:15
191  3.808248  179999.999941  358729.107419  7.578061e-03 2022-01-03 09:34:55
192  3.944834  186455.847417  371675.251396  7.849854e-03 2022-01-03 09:36:52

[193 rows x 5 columns]

In [19]:
wbtc_dai_burns = get_pool_v2_burns(contract_id='0x231b7589426ffe1b75405526fc32ac09d44364c4', range_limit=1)
wbtc_dai_burns_df = pool_burns_to_df(wbtc_dai_burns)
wbtc_dai_burns_df

100%|██████████| 1/1 [00:00<00:00,  1.39it/s]

      amount0        amount1      amountUSD     liquidity           timestamp
0    0.000020       0.198396       0.393071  2.000000e-08 2020-05-18 21:23:57
1    0.100134     940.023349    1879.119093  9.699443e-05 2020-05-29 21:32:50
2    0.164053    1560.514491    3113.745579  1.599430e-04 2020-06-01 12:07:18
3    0.110400    1095.423005    2144.658189  1.098884e-04 2020-06-11 15:32:31
4    0.205953    1835.102135    3700.348283  1.942387e-04 2020-06-15 14:15:28
..        ...            ...            ...           ...                 ...
169  0.205698    7974.451501   15972.488203  3.700000e-04 2022-01-21 04:54:10
170  0.211258    8189.977217   16374.578390  3.800000e-04 2022-01-21 05:16:22
171  7.855848  285877.426269  571507.674887  1.368799e-02 2022-01-22 00:53:58
172  0.240229    8742.020896   17433.742104  4.185733e-04 2022-01-22 01:34:45
173  0.202486    7023.984152   14180.691728  3.443959e-04 2022-01-22 21:11:12

[174 rows x 5 columns]

### Writing swaps, mints, burns, reserves into pickle files

In [20]:
wbtc_dai_df.to_pickle(os.getcwd() + "\\pkl_stories\\wbtc_dai_swaps.pkl")
wbtc_dai_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\wbtc_dai_reserves.pkl")
wbtc_dai_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\wbtc_dai_mints.pkl")
wbtc_dai_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\wbtc_dai_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [21]:
wbtc_dai_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\wbtc_dai_swaps.pkl")
wbtc_dai_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\wbtc_dai_reserves.pkl")
wbtc_dai_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\wbtc_dai_mints.pkl")
wbtc_dai_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\wbtc_dai_burns.pkl")

# IXS/ETH pool information

## Getting IXS/ETH swaps, mints, burns, reserves data

In [22]:
ixs_weth_history = get_pool_v2_with_gas_history(contract_id='0xc09bf2b1bc8725903c509e8caeef9190857215a8', range_limit=4)
all_ixs_weth_history, other_ixs_weth_history = filter_swaps(ixs_weth_history)
ixs_weth_df = pool_history_v2_with_gas_to_df(all_ixs_weth_history)
ixs_weth_df

100%|██████████| 4/4 [00:14<00:00,  3.52s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WETH,IXS,12.000000,211315.866941,49367.994152,2021-09-08 12:59:29,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x03a92ec2e6ceee63731cd49d99050d24a40ba25a,0x2df317ab076e29ca317edf45a6e484a3acef1674def4...,125000000000,500000
1,IXS,WETH,10781.086133,1.010521,3412.553806,2021-09-08 12:59:42,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x05314a2d9bb717a8b4d3b4349d698e9e8c5fd08a6421...,1401228981326,128263
2,WETH,IXS,0.886100,10781.086133,3050.396683,2021-09-08 12:59:42,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x1383c605487ded022ad75231fcb5383841b0c4ef2241...,76362622163,500010
3,WETH,IXS,3.000000,33333.139648,10583.791945,2021-09-08 12:59:42,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x3d55017098970268414f4b9252fdbe18cd09dcc3,0xad4556f77687567af93ea9587d89be78bff951133808...,555000000000,400000
4,WETH,IXS,0.146153,1580.639685,498.586381,2021-09-08 12:59:58,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xdf33624ed4623a3dea8be15ce5a4623d26d0a246,0x4dc080fadc4b5c1abe6613250689a672b54ab06db779...,74913753619,273355
...,...,...,...,...,...,...,...,...,...,...,...
2469,IXS,WETH,2500.000000,0.116556,294.604514,2022-01-23 11:17:49,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x48a04cea7e4c9cb8c83c8002d56de23ed2c8f21618a5...,100976572367,173323
2470,IXS,WETH,2176.037004,0.100911,252.192779,2022-01-23 12:03:48,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa09f83837bc369ae66e37850938e81e1dcc95918f281...,73042587495,220866
2471,WETH,IXS,1.100000,23016.019768,2629.665370,2022-01-23 19:50:20,0xbdb292dac4939557b011c1cfecba37f077774130,0x5f0bee213e5dc3f7b7ca2a9d0b854468974802c4,0x138e40ef226cc74cceeee5f5737f32bc0e17c23ca592...,146914416968,167438
2472,IXS,WETH,24068.759310,1.142153,2780.392867,2022-01-24 22:29:40,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbf5ae133b9a0fc1a07952a7df2afa21f7f69ef58,0x6f80f22762d79f1558eccb08bba7867bf6deda9de7b1...,134003458357,250000
2473,WETH,IXS,1.088494,22833.662263,2627.748764,2022-01-25 21:45:25,0x014611d9143e73baccaf13720805cea52dd6b3f1,0xabd69d0fac4b0851dafe100979df808eb7fb81a9,0x4b31b62691f00e7b87b22e702a87e55705b1fba604a2...,121143732993,500000

In [23]:
ixs_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0xc09bf2b1bc8725903c509e8caeef9190857215a8')
ixs_weth_reserves_df = pool_reserves_to_df(ixs_weth_reserves_history)
ixs_weth_reserves_df

100%|██████████| 2/2 [00:00<00:00,  2.69it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,379442.177527,55.944001,390788.928776,3.245787e+06,425.302832,2021-09-08
1,388095.645823,54.966786,376226.981271,6.385440e+05,93.661413,2021-09-09
2,389539.473714,54.992914,352105.690608,5.129601e+05,85.994939,2021-09-10
3,325139.079545,66.178741,431450.660405,5.158716e+05,94.863760,2021-09-11
4,313894.645388,68.793197,472201.658618,3.769885e+05,81.732506,2021-09-12
...,...,...,...,...,...,...
133,831578.213805,42.827432,217694.690034,3.764068e+05,24.369001,2022-01-21
134,859562.011214,41.440646,205440.603455,5.197165e+04,2.530742,2022-01-22
135,853234.935396,41.756150,199644.912375,5.741828e+04,2.709284,2022-01-23
136,875089.321744,40.505629,197209.282349,2.406876e+04,1.142153,2022-01-24
137,852255.659481,41.594123,200825.983672,2.283366e+04,1.088494,2022-01-25

In [24]:
ixs_weth_mints_history = get_pool_v2_mints(contract_id='0xc09bf2b1bc8725903c509e8caeef9190857215a8', range_limit=2)
ixs_weth_mints_df = pool_mints_to_df(ixs_weth_mints_history)
ixs_weth_mints_df

100%|██████████| 2/2 [00:00<00:00,  2.64it/s]

list index out of range

           amount0    amount1     amountUSD    liquidity           timestamp
0    720000.000000  28.800000  98227.795887  4553.679831 2021-09-08 12:59:29
1      1360.163496   0.195028   1414.289538    15.913010 2021-09-16 13:03:24
2     14999.994987   2.150790  15598.796295   175.489987 2021-09-16 13:04:20
3     10461.268874   1.500000  10880.913058   122.389903 2021-09-16 13:06:30
4      3010.000000   0.412264   2993.141508    34.416269 2021-09-16 13:12:28
..             ...        ...           ...          ...                 ...
119     887.313072   0.051085    408.658476     6.444546 2021-12-11 08:23:09
120    7665.682339   0.331614   2714.508237    48.194818 2021-12-24 07:41:26
121    1900.993554   0.082070    669.805017    11.939596 2021-12-24 12:18:40
122      73.647003   0.003200     24.301885     0.463893 2021-12-29 07:17:14
123    3563.171218   0.153127   1142.625405    22.311987 2022-01-01 15:46:17

[124 rows x 5 columns]

In [25]:
ixs_weth_burns_history = get_pool_v2_burns(contract_id='0xc09bf2b1bc8725903c509e8caeef9190857215a8', range_limit=2)
ixs_weth_burns_df = pool_burns_to_df(ixs_weth_burns_history)
ixs_weth_burns_df.head(5)

100%|██████████| 2/2 [00:00<00:00,  2.89it/s]

list index out of range

       amount0   amount1    amountUSD  liquidity           timestamp
0   635.707371  0.086897   630.742972   7.261432 2021-09-16 13:25:29
1     7.493118  0.000959     6.934917   0.082742 2021-09-16 16:44:04
2  3169.601280  0.405602  2929.932964  35.000000 2021-09-16 16:55:51
3  2160.670975  0.285767  2034.020295  24.254484 2021-09-16 18:41:38
4   644.837670  0.085285   609.778679   7.238587 2021-09-16 19:40:37

### Saving swaps, mints, burns, reserves into pickle files

In [26]:
ixs_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\ixs_weth_swaps.pkl")
ixs_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\ixs_weth_reserves.pkl")
ixs_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\ixs_weth_mints.pkl")
ixs_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\ixs_weth_burns.pkl")

### Loading swaps, mints, burns, reserves from pickle files

In [27]:
ixs_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\ixs_weth_swaps.pkl")
ixs_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\ixs_weth_reserves.pkl")
ixs_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\ixs_weth_mints.pkl")
ixs_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\ixs_weth_burns.pkl")

# SQUID/ETH pool 

It is important to mention that this pool was chosen considering that it became a part of a fraud scheme performed by the creators of the SQUID token and it will be interesting to go through this story, run simulation over it.

In [28]:
squid_weth_history = get_pool_v2_with_gas_history(contract_id='0x40df4eb23d23bb7af5c6bb7bc9a185913d97e7b9', range_limit=4)
all_squid_weth_history, other_squid_weth_history = filter_swaps(squid_weth_history)
squid_weth_df = pool_history_v2_with_gas_to_df(all_squid_weth_history)
squid_weth_df

 50%|█████     | 2/4 [00:02<00:02,  1.23s/it]

list index out of range

 75%|███████▌  | 3/4 [00:03<00:00,  1.09it/s]

list index out of range

100%|██████████| 4/4 [00:03<00:00,  1.05it/s]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,SQUID,WETH,1.515152e+10,0.882363,2368.034156,2021-09-29 21:58:26,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x817a2564c2300f96b539332fde239bfa2f7a44a5a9c5...,81250155152,458146
1,SQUID,WETH,1.274336e+10,0.619296,1680.994807,2021-09-29 21:58:26,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x817a2564c2300f96b539332fde239bfa2f7a44a5a9c5...,81250155152,458146
2,SQUID,WETH,9.266101e+09,0.473672,1298.817313,2021-09-29 21:59:00,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xcda98c33dcdff5252700cac9921313c8d5e6b1569e6f...,79548643336,428146
3,SQUID,WETH,1.263748e+10,0.565413,1538.285490,2021-09-29 21:59:00,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xcda98c33dcdff5252700cac9921313c8d5e6b1569e6f...,79548643336,428146
4,SQUID,WETH,1.515152e+10,0.945236,2533.074357,2021-09-29 21:59:00,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xdda4b205d0b44eb3030010f6ac32ced6b62e6211e51f...,87548643336,1500000
...,...,...,...,...,...,...,...,...,...,...,...
175,SQUID,WETH,9.998849e+09,0.039789,134.914133,2021-10-12 12:54:22,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x54049a82a84a87145125e6c8c147bf970489bfe25574...,66871199321,431233
176,SQUID,WETH,8.645340e+08,0.003396,13.140648,2021-10-18 06:52:26,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x2c1d79cb2425904c1be268687e275df742f8a352d100...,51692961765,427873
177,SQUID,WETH,1.185354e+10,0.045565,174.654407,2021-10-18 06:52:26,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x2c1d79cb2425904c1be268687e275df742f8a352d100...,51692961765,427873
178,SQUID,WETH,3.851841e+09,0.017130,66.493977,2021-12-17 08:51:57,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xcfa310036bb3543b929783829bd68b69ce4a31608e15...,48400000000,427873
179,SQUID,WETH,7.693636e+09,0.033503,129.599390,2021-12-17 08:51:57,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xcfa310036bb3543b929783829bd68b69ce4a31608e15...,48400000000,427873

In [29]:
squid_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x40df4eb23d23bb7af5c6bb7bc9a185913d97e7b9')
squid_weth_reserves_df = pool_reserves_to_df(squid_weth_reserves_history)
squid_weth_reserves_df

100%|██████████| 2/2 [00:01<00:00,  1.85it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,4.844201e+11,2.705857e+00,1.538106e+04,1.976699e+12,38.460760,2021-09-29
1,5.625445e+11,2.336738e+00,1.419225e+04,2.373009e+11,1.003119,2021-09-30
2,5.699927e+11,2.306294e+00,1.518589e+04,7.448186e+09,0.030444,2021-10-02
3,5.686125e+11,2.311974e+00,1.662477e+04,1.411990e+09,0.005680,2021-10-07
4,5.682726e+11,2.314200e+00,1.639457e+04,2.366301e+10,0.097774,2021-10-10
5,5.790447e+11,2.271275e+00,1.551344e+04,1.077210e+10,0.042925,2021-10-12
6,5.773171e+11,2.278172e+00,1.756170e+04,1.767880e+09,0.006897,2021-10-17
7,5.900352e+11,2.229211e+00,1.723729e+04,1.271807e+10,0.048961,2021-10-18
8,5.760329e+11,2.284211e+00,1.859884e+04,1.432866e+10,0.055000,2021-10-20
9,5.638690e+11,2.334211e+00,1.921809e+04,1.244144e+10,0.050000,2021-10-22
10,5.526435e+11,2.382310e+00,2.052917e+04,1.147767e+10,0.048099,2021-10-29
11,5.414391e+11,2.432310e+00,2.196085e+04,1.144974e+10,0.050000,2021-11-04
12,5.529846e+11,2.381677e+00,1.852754e+04,1.154548e+10,0.050633,2021-12-17
13,1.561200e-05,6.800000e-17,5.077258e-13,0.000000e+00,0.000000,2021-12-29

In [30]:
squid_weth_mints_history = get_pool_v2_mints(contract_id='0x40df4eb23d23bb7af5c6bb7bc9a185913d97e7b9', range_limit=2)
squid_weth_mints_df = pool_mints_to_df(squid_weth_mints_history)
squid_weth_mints_df

100%|██████████| 2/2 [00:00<00:00,  3.68it/s]

list index out of range

        amount0  amount1    amountUSD  liquidity           timestamp
0  7.381000e+11      1.7  4788.810094  35.422733 2021-09-29 21:57:29

There are no burns in the pool

In [31]:
# squid_weth_burns_history = get_pool_v2_burns(contract_id='0x40df4eb23d23bb7af5c6bb7bc9a185913d97e7b9', range_limit=1)
# squid_weth_burns_df = pool_burns_to_df(squid_weth_burns_history)
# squid_weth_burns_df

### Writing swaps, mints and reserves into pickle files

In [32]:
squid_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\squid_weth_swaps.pkl")
squid_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\squid_weth_reserves.pkl")
squid_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\squid_weth_mints.pkl")

### Reading swaps, mints and reserves from pickle files

In [33]:
squid_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\squid_weth_swaps.pkl")
squid_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\squid_weth_reserves.pkl")
squid_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\squid_weth_mints.pkl")

# HKMT/USDT pool

In [34]:
hkmt_usdt_history = get_pool_v2_with_gas_history(contract_id='0xf52f433b79d21023af94251958bed3b64a2b7930', range_limit=4)
all_hkmt_usdt_history, other_hkmt_usdt_history = filter_swaps(hkmt_usdt_history)
hkmt_usdt_df = pool_history_v2_with_gas_to_df(all_hkmt_usdt_history)
hkmt_usdt_df

 50%|█████     | 2/4 [00:02<00:02,  1.12s/it]

list index out of range

 75%|███████▌  | 3/4 [00:02<00:00,  1.42it/s]

list index out of range

100%|██████████| 4/4 [00:03<00:00,  1.30it/s]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,USDT,HKMT,1388.137176,1.072529e+04,1377.513809,2020-09-01 09:06:15,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb9ccfc18b941a2cc51a956aa6c83360eb9d58de7,0x9c87f160114aa1bdc22cf332b99df1212b3df326bbbd...,1000000000000,267735
1,USDT,HKMT,2315.057158,1.788484e+04,2296.644225,2020-09-01 09:07:04,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc5f3106f0a40b81b070a074bee1fdcd21452943b,0xd0096539f938f8d9da41874290e6f6467ff31c3200c0...,440000001481,234212
2,HKMT,USDT,10725.294140,1.380034e+03,1369.211622,2020-09-01 09:07:36,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb9ccfc18b941a2cc51a956aa6c83360eb9d58de7,0x66143b4a40bc38c41b55c6934938936722628ad001e0...,1000000000000,152674
3,USDT,HKMT,42.510850,3.284195e+02,42.275994,2020-09-01 09:25:52,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xa260d88f951f53e38c99f43c8a6bf52df89334f7,0x4bd8bce026f1e5ccff9b72063b9991298f043afe07f3...,450000000000,145666
4,HKMT,USDT,17884.839162,2.300983e+03,2293.554386,2020-09-01 09:32:21,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x0d4a11d5eeaac28ec3f61d100daf4d40471f1852,0x79c6a7a64614a1004c4047c2a4e8dfa77adb68715cbd...,482900000000,249399
...,...,...,...,...,...,...,...,...,...,...,...
424,HKMT,USDT,200000.000000,2.483008e+04,24827.846925,2022-01-24 13:43:42,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x655af5a77e800041fb1ad7b7b19d7366aa95267f9809...,91748933629,539018
425,HKMT,USDT,200000.000000,2.480497e+04,24783.531385,2022-01-24 21:05:42,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x71d87b01527c0bb4c6a3a18541e4c433c6b6cd7948d9...,254414252116,531611
426,USDT,HKMT,122981.406976,9.836890e+05,122823.392267,2022-01-26 07:12:08,0x00000000008c4fb1c916e0c88fd4cc402d935e7d,0x00000000008c4fb1c916e0c88fd4cc402d935e7d,0x6eb7c947848fa63ebfe5ffa539a166afdb4d8043600a...,86561223573,2000000
427,USDT,HKMT,200000.000000,1.589299e+06,199743.026669,2022-01-26 07:12:08,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0x883d39b840159c0e6b9505b25ffba39f1b47213b,0x723c45ab6a9b36acaade63082be13d99180aa790a1d0...,88061223573,151212
428,HKMT,USDT,983689.039976,1.232393e+05,123080.971670,2022-01-26 07:12:08,0x00000000008c4fb1c916e0c88fd4cc402d935e7d,0x00000000008c4fb1c916e0c88fd4cc402d935e7d,0xcd6b5cc70a049e39ffa37fa65428a09cfeae85be144e...,943775881669,162659

In [35]:
hkmt_usdt_reserves_history = get_pool_v2_reserves_history(contract_id='0xf52f433b79d21023af94251958bed3b64a2b7930')
hkmt_usdt_reserves_df = pool_reserves_to_df(hkmt_usdt_reserves_history)
hkmt_usdt_reserves_df

100%|██████████| 2/2 [00:00<00:00,  2.47it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,2.324374e+08,3.000841e+07,5.962596e+07,8.411800e+05,108718.139712,2020-09-01
1,2.324720e+08,3.000396e+07,5.998884e+07,3.968598e+04,5109.376059,2020-09-02
2,2.324620e+08,3.000526e+07,5.980636e+07,1.213620e+04,1570.298902,2020-09-03
3,2.324728e+08,3.000387e+07,5.974688e+07,1.126615e+04,1449.936710,2020-09-04
4,2.324795e+08,3.000300e+07,5.981387e+07,7.698807e+03,990.995574,2020-09-05
...,...,...,...,...,...,...
187,3.937902e+08,4.921920e+07,9.854388e+07,4.711000e+05,58775.691832,2022-01-20
188,3.948902e+08,4.908251e+07,9.827787e+07,1.100000e+06,136693.965212,2022-01-21
189,3.957302e+08,4.897863e+07,9.810470e+07,8.400000e+05,103873.227823,2022-01-22
190,3.948329e+08,4.909155e+07,9.809825e+07,4.270115e+06,532471.318088,2022-01-24
191,3.932436e+08,4.929129e+07,9.845591e+07,3.556677e+06,446220.724736,2022-01-26

In [36]:
hkmt_usdt_mints_history = get_pool_v2_mints(contract_id='0xf52f433b79d21023af94251958bed3b64a2b7930', range_limit=2)
hkmt_usdt_mints_df = pool_mints_to_df(hkmt_usdt_mints_history)
hkmt_usdt_mints_df

100%|██████████| 2/2 [00:00<00:00,  4.06it/s]

list index out of range

         amount0       amount1     amountUSD     liquidity           timestamp
0   2.325000e+08  3.000000e+07  2.980819e+07  8.351647e-05 2020-09-01 09:05:07
1   1.549714e+08  2.000000e+07  3.987585e+07  5.567218e-05 2020-09-07 06:32:58
2   1.435528e+02  1.852842e+01  3.681437e+01  5.157298e-11 2020-09-14 14:16:14
3   1.500000e+02  1.936058e+01  3.852151e+01  5.388924e-11 2020-09-14 17:06:08
4   5.760610e+02  7.435276e+01  1.478349e+02  2.069570e-10 2020-09-14 18:46:57
5   3.089770e+02  3.988003e+01  7.934419e+01  1.110039e-10 2020-09-15 01:41:11
6   2.897847e+01  3.740286e+00  7.427972e+00  1.041088e-11 2020-09-15 04:43:57
7   2.915278e+02  3.762785e+01  7.489703e+01  1.047350e-10 2020-09-15 12:42:05
8   1.000000e+01  1.290712e+00  2.567839e+00  3.592625e-12 2020-09-15 12:50:36
9   2.905769e+03  3.750568e+02  7.477305e+02  1.043942e-09 2020-09-15 12:57:14
10  8.000000e+01  1.032587e+01  2.055838e+01  2.874124e-11 2020-09-15 16:18:48
11  1.000000e+02  1.290734e+01  2.571960e+01  3.592657e-11 2020-09-15 17:17:16
12  3.846644e+03  4.965109e+02  9.897818e+02  1.381983e-09 2020-09-15 18:19:46
13  3.209790e-01  4.143000e-02  8.269150e-02  1.153150e-13 2020-09-16 03:58:54
14  1.420280e+04  1.833483e+03  3.668402e+03  5.102965e-09 2020-09-16 16:26:35
15  5.665201e+03  7.313384e+02  1.462788e+03  2.035467e-09 2020-09-16 16:28:59
16  5.684944e+03  7.338870e+02  1.467452e+03  2.042560e-09 2020-09-16 16:30:08
17  2.780034e+04  3.589458e+03  7.174916e+03  9.989337e-09 2020-09-16 16:56:25
18  9.999996e+00  1.290877e+00  2.567908e+00  3.592852e-12 2020-09-17 10:38:02
19  1.000000e+01  1.290878e+00  2.576785e+00  3.592855e-12 2020-09-17 10:56:08
20  2.549242e+01  3.289999e+00  6.560323e+00  9.157992e-12 2020-09-26 21:57:00
21  1.805766e+02  2.330471e+01  4.647582e+01  6.487084e-11 2020-10-04 03:36:45
22  7.794032e+01  9.999999e+00  1.996079e+01  2.791746e-11 2020-12-08 19:55:38
23  9.690870e+01  1.246250e+01  2.486030e+01  3.475186e-11 2020-12-29 19:59:24
24  2.054863e+03  2.492513e+02  4.989104e+02  7.155405e-10 2021-12-22 21:19:36

In [37]:
hkmt_usdt_burns_history = get_pool_v2_burns(contract_id='0xf52f433b79d21023af94251958bed3b64a2b7930', range_limit=2)
hkmt_usdt_burns_df = pool_burns_to_df(hkmt_usdt_burns_history)
hkmt_usdt_burns_df

100%|██████████| 2/2 [00:00<00:00,  3.22it/s]

list index out of range

         amount0      amount1    amountUSD     liquidity           timestamp
0    5665.201219   731.338390  1460.247116  2.035467e-09 2020-09-16 16:40:02
1    5684.618907   733.929268  1466.409881  2.042560e-09 2020-09-16 18:57:59
2   27801.582229  3589.298650  7157.725005  9.989337e-09 2020-09-16 19:28:07
3     143.544388    18.529515    36.941449  5.157298e-11 2020-09-16 20:15:33
4   14203.219302  1833.429928  3663.026267  5.102965e-09 2020-09-17 00:21:13
5     576.034022    74.356343   147.592964  2.069570e-10 2020-09-18 05:26:54
6    3846.609344   496.516072   987.800659  1.381983e-09 2020-09-20 13:52:07
7     291.543450    37.625893    75.102954  1.047350e-10 2020-10-06 12:53:08
8      25.564644     3.280733     6.558273  9.157992e-12 2020-12-06 09:20:37
9      78.414536     9.940579    19.897154  2.791746e-11 2021-05-26 00:50:16
10   1027.431666   124.625642   249.316566  3.577703e-10 2021-12-23 00:27:08
11   1027.431668   124.625642   249.207931  3.577703e-10 2021-12-23 03:15:15

### Writing swaps, mints, burns, reserves

In [38]:
hkmt_usdt_df.to_pickle(os.getcwd() + "\\pkl_stories\\hkmt_usdt_swaps.pkl")
hkmt_usdt_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\hkmt_usdt_reserves.pkl")
hkmt_usdt_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\hkmt_usdt_mints.pkl")
hkmt_usdt_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\hkmt_usdt_burns.pkl")

### Loading swaps, mints, burns, reserves

In [39]:
hkmt_usdt_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\hkmt_usdt_swaps.pkl")
hkmt_usdt_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\hkmt_usdt_reserves.pkl")
hkmt_usdt_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\hkmt_usdt_mints.pkl")
hkmt_usdt_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\hkmt_usdt_burns.pkl")

# FEI/ETH pool

## Getting FEI/ETH swaps, mints, burns, reserves

In [40]:
fei_weth_history = get_pool_v2_with_gas_history(contract_id='0x94b0a3d511b6ecdb17ebf877278ab030acb0a878', range_limit=70)
all_fei_weth_history, other_fei_weth_history = filter_swaps(fei_weth_history)
fei_weth_df = pool_history_v2_with_gas_to_df(all_fei_weth_history)
fei_weth_df

 91%|█████████▏| 64/70 [03:56<00:07,  1.19s/it]

list index out of range
list index out of range

 94%|█████████▍| 66/70 [03:57<00:02,  1.47it/s]

list index out of range
list index out of range

 96%|█████████▌| 67/70 [03:57<00:01,  1.86it/s]

list index out of range

 97%|█████████▋| 68/70 [03:57<00:00,  2.26it/s]

list index out of range

 99%|█████████▊| 69/70 [03:57<00:00,  2.65it/s]

list index out of range

100%|██████████| 70/70 [03:58<00:00,  3.40s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,FEI,WETH,1.945271e+06,928.783242,1.916057e+06,2021-04-03 19:00:36,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x3347f819f2bf7e7c54f59b97fecb84399ff479f93d2f...,3002020000000,500000
1,FEI,WETH,9.518713e+05,455.470626,9.396247e+05,2021-04-03 19:00:36,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x59e7772688fe9966abfeba79408ca9aedbf316bf4761...,3002010000000,500000
2,FEI,WETH,7.580513e+06,3650.791147,7.531493e+06,2021-04-03 19:00:36,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x2ebd449e7b10b20135b6c1134b9e40c84f9fffde,0x641b95d1f76a4a9e0101df94aab04aee23f95bca349f...,10001000000001,1000000
3,FEI,WETH,9.905835e+05,471.915956,9.734749e+05,2021-04-03 19:01:19,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x2fd4a218b8733ebe9e3ebf950e3aae1e0981b3b336de...,5000000000000,315784
4,WETH,FEI,2.000000e-01,417.609981,4.130432e+02,2021-04-03 19:01:19,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc3ec7b35180768cf73d2f5ff9ec82485106d5d7c,0x3dd3e1b61fbe1dcfc3c5a60ceed774b914704df32ba7...,196900000233,312275
...,...,...,...,...,...,...,...,...,...,...,...
61364,WETH,FEI,1.250000e+00,3101.054389,3.103672e+03,2022-01-26 08:42:51,0x5f62593c70069abb35dfe2b63db969e8906609d6,0x9241943c29eb0b1fc0f8e5b464fbc14915da9a57,0xa0533988e051f90557f1a1153ebe4c1538ccda8c7dd9...,81398716000,1044340
61365,FEI,WETH,3.143161e+04,12.584879,3.124559e+04,2022-01-26 08:44:06,0x2057cfb9fd11837d61b294d514c5bd03e5e7189a,0x2057cfb9fd11837d61b294d514c5bd03e5e7189a,0xc58a934d449865f9e951871e3f8515b027299f6fd348...,88447887546,1895934
61366,WETH,FEI,7.796160e+00,19360.679596,1.937078e+04,2022-01-26 08:49:08,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0xef274edbdb0e346f2262b7a8df1ebdb9eb01ef309acb...,78278445132,838211
61367,WETH,FEI,9.991968e+00,24786.067156,2.482588e+04,2022-01-26 08:49:12,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0xebf50cdf250cfa1ae316c5acdb8df1be3b3ed6337361...,197362846827,713567
61368,WETH,FEI,1.931147e+00,4786.827262,4.799996e+03,2022-01-26 09:00:55,0xd7c09e006a2891880331b0f6224071c1e890a98a,0xd7c09e006a2891880331b0f6224071c1e890a98a,0x476f886ec3c91e6ab99c34628e9451e0ab993d3c0896...,83704742754,372972

In [41]:
fei_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x94b0a3d511b6ecdb17ebf877278ab030acb0a878')
fei_weth_reserves_df = pool_reserves_to_df(fei_weth_reserves_history)
fei_weth_reserves_df

100%|██████████| 2/2 [00:01<00:00,  1.22it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,1.337230e+09,630522.677036,2.537871e+09,5.830436e+07,27452.763852,2021-04-03
1,1.341220e+09,628533.678068,2.604474e+09,6.647175e+07,31306.853434,2021-04-04
2,1.337334e+09,610770.369281,2.561514e+09,8.717716e+07,40829.752667,2021-04-05
3,1.323221e+09,598300.386209,2.531489e+09,5.256349e+07,24003.259833,2021-04-06
4,1.192320e+09,490330.663557,1.925378e+09,2.657121e+08,122248.657720,2021-04-07
...,...,...,...,...,...,...
294,7.520042e+07,31230.250848,1.500521e+08,5.444463e+07,22220.576516,2022-01-22
295,3.999896e+07,15800.707997,8.018808e+07,8.642424e+06,3501.356101,2022-01-23
296,3.932123e+07,16104.087744,7.863168e+07,2.454983e+07,10686.038137,2022-01-24
297,3.949326e+07,16050.098169,7.910005e+07,1.325782e+07,5411.498899,2022-01-25
298,3.969821e+07,15969.312968,7.938560e+07,1.697043e+06,689.170571,2022-01-26

In [42]:
fei_weth_mints_history = get_pool_v2_mints(contract_id='0x94b0a3d511b6ecdb17ebf877278ab030acb0a878', range_limit=2)
fei_weth_mints_df = pool_mints_to_df(fei_weth_mints_history)
fei_weth_mints_df

100%|██████████| 2/2 [00:01<00:00,  1.33it/s]

list index out of range

,amount0,amount1,amountUSD,liquidity,timestamp
0,1.315771e+09,639235.592414,1.318727e+09,2.900151e+07,2021-04-03 18:59:46
1,7.688361e+03,3.994820,1.578041e+04,1.666953e+02,2021-04-03 19:10:31
2,1.255904e+05,64.904372,2.567463e+05,2.716398e+03,2021-04-03 19:19:25
3,2.073553e+01,0.009700,4.033823e+01,4.484614e-01,2021-04-03 19:19:42
4,6.508717e+02,0.333262,1.327281e+03,1.408814e+01,2021-04-03 19:23:25
...,...,...,...,...,...
598,3.940595e+02,0.102231,7.900858e+02,6.116372e+00,2021-10-18 05:47:04
599,6.481661e+01,0.014953,1.293932e+02,9.460833e-01,2021-11-16 07:33:05
600,1.869900e+01,0.004289,3.737767e+01,2.719696e-01,2021-11-21 10:31:00
601,2.045778e+02,0.049925,4.080587e+02,3.053244e+00,2021-12-24 07:11:44
602,4.901077e+02,0.124625,9.763890e+02,7.464208e+00,2021-12-28 09:11:09

In [43]:
fei_weth_burns_history = get_pool_v2_burns(contract_id='0x94b0a3d511b6ecdb17ebf877278ab030acb0a878', range_limit=2)
fei_weth_burns_df = pool_burns_to_df(fei_weth_burns_history)
fei_weth_burns_df

100%|██████████| 2/2 [00:01<00:00,  1.33it/s]

list index out of range

,amount0,amount1,amountUSD,liquidity,timestamp
0,6.517701e+02,0.304577,1.268090e+03,14.088145,2021-04-03 19:56:32
1,2.201983e+04,10.277614,4.288282e+04,475.675302,2021-04-03 20:00:59
2,3.826946e+03,1.778466,7.337225e+03,82.490269,2021-04-03 20:49:31
3,4.349987e+03,2.034685,8.270638e+03,94.066155,2021-04-03 22:28:41
4,3.641036e-02,0.000017,6.908305e-02,0.000787,2021-04-03 22:29:18
...,...,...,...,...,...
525,1.316074e+03,0.330069,2.629612e+03,19.923561,2021-12-19 07:38:50
526,2.031810e+03,0.553806,4.027187e+03,32.031026,2021-12-29 23:35:30
527,4.511947e+02,0.136123,9.011967e+02,7.464208,2022-01-15 08:12:44
528,3.575671e+07,15000.000000,7.116894e+07,696082.177303,2022-01-22 22:51:04
529,3.628602e+07,15000.000000,7.251460e+07,701205.836504,2022-01-23 00:19:44

### Writing swaps, mints, burns, reserves to pickle files

In [44]:
fei_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\fei_weth_swaps.pkl")
fei_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\fei_weth_reserves.pkl")
fei_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\fei_weth_mints.pkl")
fei_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\fei_weth_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [45]:
fei_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\fei_weth_swaps.pkl")
fei_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\fei_weth_reserves.pkl")
fei_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\fei_weth_mints.pkl")
fei_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\fei_weth_burns.pkl")

# ETH/USDC pool

In [ ]:
weth_usdc_history = get_pool_v2_history(contract_id='0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc', range_limit=4000)
all_weth_usdc_history, other_weth_usdc_history = filter_swaps(weth_usdc_history)
weth_usdc_complete_df = pool_history_to_df(all_weth_usdc_history)
weth_usdc_complete_df

In [ ]:
weth_usdc_history = get_pool_v2_with_gas_history_light(contract_id='0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc', range_limit=4000)
weth_usdc_df = pool_history_v2_with_gas_to_df_light(weth_usdc_history)
weth_usdc_df

In [ ]:
weth_usdc_reserves_history = get_pool_v2_reserves_history(contract_id='0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc')
weth_usdc_reserves_df = pool_reserves_to_df(weth_usdc_reserves_history)
weth_usdc_reserves_df

100%|██████████| 2/2 [00:06<00:00,  3.08s/it]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,9.890000e-01,0.004909,9.890000e-01,1.100000e-02,0.000054,2020-05-05
1,9.886890e-01,0.004910,9.886890e-01,1.689000e-03,0.000008,2020-05-06
2,9.886900e-01,0.004910,9.886900e-01,0.000000e+00,0.000000,2020-05-07
3,6.574471e+00,0.030998,6.574471e+00,0.000000e+00,0.000000,2020-05-08
4,6.562244e+00,0.031061,6.562244e+00,3.975130e-01,0.001937,2020-05-11
...,...,...,...,...,...,...
624,9.751635e+07,37952.083995,1.946239e+08,1.679312e+08,62108.484598,2022-01-21
625,9.318224e+07,38744.967498,1.862123e+08,1.478518e+08,61168.312954,2022-01-22
626,1.064473e+08,42000.091663,2.129843e+08,3.760557e+07,15286.059968,2022-01-23
627,9.786976e+07,40110.258452,1.958075e+08,1.172703e+08,51904.694155,2022-01-24
628,9.763782e+07,40221.784408,1.951809e+08,3.227141e+07,13296.695853,2022-01-25

In [48]:
weth_usdc_mints_history = get_pool_v2_mints(contract_id='0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc', range_limit=50)
weth_usdc_mints_df = pool_mints_to_df(weth_usdc_mints_history)
weth_usdc_mints_df

 70%|███████   | 35/50 [00:48<00:17,  1.14s/it]

list index out of range

 72%|███████▏  | 36/50 [00:48<00:12,  1.16it/s]

list index out of range

 74%|███████▍  | 37/50 [00:49<00:08,  1.46it/s]

list index out of range

 78%|███████▊  | 39/50 [00:49<00:04,  2.28it/s]

list index out of range
list index out of range

 82%|████████▏ | 41/50 [00:49<00:02,  3.17it/s]

list index out of range
list index out of range

 86%|████████▌ | 43/50 [00:50<00:01,  3.88it/s]

list index out of range
list index out of range

 90%|█████████ | 45/50 [00:50<00:01,  4.37it/s]

list index out of range
list index out of range

 94%|█████████▍| 47/50 [00:51<00:00,  4.60it/s]

list index out of range
list index out of range

 96%|█████████▌| 48/50 [00:51<00:00,  4.67it/s]

list index out of range

 98%|█████████▊| 49/50 [00:51<00:00,  4.64it/s]

list index out of range

100%|██████████| 50/50 [00:51<00:00,  1.03s/it]

list index out of range

            amount0    amount1     amountUSD     liquidity           timestamp
0          1.000000   0.004854      1.000000  6.967330e-08 2020-05-05 21:07:12
1          0.003263   0.000016      0.003263  2.299449e-10 2020-05-07 14:56:15
2          0.014190   0.000070      0.014190  9.999739e-10 2020-05-08 02:29:14
3          0.050000   0.000235      0.047414  3.332596e-09 2020-05-08 20:18:28
4          0.535780   0.002500      0.514873  3.547452e-08 2020-05-08 21:50:40
...             ...        ...           ...           ...                 ...
33274   2087.874212   0.858146   4174.945545  2.267965e-05 2022-01-25 12:35:06
33275     38.075527   0.015292     76.219551  4.087553e-07 2022-01-25 18:49:20
33276      4.848400   0.001947      9.701580  5.204798e-08 2022-01-25 18:54:27
33277  10387.651072   4.200000  20778.961264  1.118700e-04 2022-01-26 04:14:12
33278  46408.660089  18.705991  92842.541593  4.990097e-04 2022-01-26 06:19:29

[33279 rows x 5 columns]

In [49]:
weth_usdc_burns_history = get_pool_v2_burns(contract_id='0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc', range_limit=50)
weth_usdc_burns_df = pool_burns_to_df(weth_usdc_burns_history)
weth_usdc_burns_df

 50%|█████     | 25/50 [00:34<00:25,  1.01s/it]

list index out of range

 52%|█████▏    | 26/50 [00:34<00:18,  1.30it/s]

list index out of range

 56%|█████▌    | 28/50 [00:34<00:10,  2.08it/s]

list index out of range
list index out of range

 60%|██████    | 30/50 [00:35<00:06,  2.93it/s]

list index out of range
list index out of range

 64%|██████▍   | 32/50 [00:35<00:05,  3.58it/s]

list index out of range
list index out of range

 66%|██████▌   | 33/50 [00:35<00:04,  3.82it/s]

list index out of range

 68%|██████▊   | 34/50 [00:35<00:03,  4.02it/s]

list index out of range

 70%|███████   | 35/50 [00:36<00:03,  4.01it/s]

list index out of range

 72%|███████▏  | 36/50 [00:36<00:03,  4.21it/s]

list index out of range

 74%|███████▍  | 37/50 [00:36<00:02,  4.40it/s]

list index out of range

 76%|███████▌  | 38/50 [00:36<00:02,  4.43it/s]

list index out of range

 78%|███████▊  | 39/50 [00:37<00:02,  4.54it/s]

list index out of range

 80%|████████  | 40/50 [00:37<00:02,  4.55it/s]

list index out of range

 82%|████████▏ | 41/50 [00:37<00:01,  4.59it/s]

list index out of range

 84%|████████▍ | 42/50 [00:37<00:02,  3.99it/s]

list index out of range

 86%|████████▌ | 43/50 [00:38<00:01,  4.09it/s]

list index out of range

 88%|████████▊ | 44/50 [00:38<00:01,  4.16it/s]

list index out of range

 92%|█████████▏| 46/50 [00:38<00:00,  4.42it/s]

list index out of range
list index out of range

 94%|█████████▍| 47/50 [00:38<00:00,  4.47it/s]

list index out of range

 96%|█████████▌| 48/50 [00:39<00:00,  4.57it/s]

list index out of range

 98%|█████████▊| 49/50 [00:39<00:00,  4.51it/s]

list index out of range

100%|██████████| 50/50 [00:39<00:00,  1.26it/s]

list index out of range

            amount0   amount1     amountUSD     liquidity           timestamp
0          0.003262  0.000016      0.003263  2.299449e-10 2020-05-07 15:47:25
1          0.014189  0.000070      0.014190  9.999739e-10 2020-05-08 02:43:59
2          0.781284  0.006539      0.781285  6.960485e-08 2020-05-12 20:18:50
3          0.995309  0.004114      0.836172  6.217433e-08 2020-05-13 23:48:21
4          1.097105  0.005132      1.047697  7.289922e-08 2020-05-14 14:24:41
...             ...       ...           ...           ...                 ...
23683      6.018257  0.002426     12.032629  6.472548e-08 2022-01-25 17:46:53
23684    356.085956  0.145224    712.889210  3.851792e-06 2022-01-26 00:06:31
23685   2034.424126  0.831347   4067.498207  2.202797e-05 2022-01-26 00:43:26
23686  10432.767283  4.181955  20859.889237  1.118700e-04 2022-01-26 04:58:33
23687    563.485148  0.229864   1127.955235  6.095208e-06 2022-01-26 07:31:57

[23688 rows x 5 columns]

### Writing swaps, mints, burns, reserves into pickle files

In [51]:
weth_usdc_df.to_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_swaps_gas.pkl")
weth_usdc_complete_df.to_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_swaps.pkl")
# weth_usdc_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_reserves.pkl")
weth_usdc_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_mints.pkl")
weth_usdc_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [ ]:
weth_usdc_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_swaps.pkl")
weth_usdc_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_reserves.pkl")
weth_usdc_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_mints.pkl")
weth_usdc_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\weth_usdc_burns.pkl")

# AXS/ETH v2 pool - NFT

In [ ]:
axs_weth_v2_history = get_pool_v2_with_gas_history(contract_id='0xa040832b1e5026da6dc843e6773a9e4d02fff9b1', range_limit=6)
all_axs_weth_v2_history, other_axs_weth_v2_history = filter_swaps(axs_weth_v2_history)
axs_weth_v2_df = pool_history_v2_with_gas_to_df(all_axs_weth_v2_history)
axs_weth_v2_df

100%|██████████| 5/5 [00:11<00:00,  2.39s/it]

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WETH,AXS,1.000000,271.895117,3265.028270,2021-05-03 01:42:22,0x27f9adb26d532a41d97e00206114e429ad58c679,0x27f9adb26d532a41d97e00206114e429ad58c679,0x4bd0e1ac628e46befe15c93c7f5125146dbcb3d39dec...,26000000000,300000
1,WETH,AXS,0.400000,87.762331,1238.364115,2021-05-03 01:42:28,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x9108048f5ef19c64d00adda718906990b53d02cd,0x0439383f710521f46e1af7355efc9462c0b002dec9c5...,150000000000,500000
2,WETH,AXS,0.190000,0.048255,572.499245,2021-05-03 01:42:48,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xa097e13bef6a6985008924af02f3afdb8814391d,0x25d4e2eb74505fdecf75fcb7bb872f5c00d81e3fcf7c...,204000000000,371797
3,WETH,AXS,0.010000,0.002537,30.131539,2021-05-03 01:42:48,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc496d84215d5018f6f53e7f6f12e45c9b5e8e8a9,0x25d4e2eb74505fdecf75fcb7bb872f5c00d81e3fcf7c...,204000000000,371797
4,WETH,AXS,0.300000,59.387987,921.135675,2021-05-03 01:42:48,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbf5d676f2d3c1a5abd27c4b11a95541d79575d5d,0x51b79e91294e4b3a894d8b2fc239a6a01dbde7b92734...,300000000000,158629
...,...,...,...,...,...,...,...,...,...,...,...
4993,AXS,WETH,2.764719,0.063122,196.921242,2022-01-19 23:38:31,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0x8fb8707ef6b66e999ac09a5f96d6cccd250bcbad,0x421fdaf5fa5aa697b4de5978109b0d1ed2c42ee4cf0c...,133886925635,225627
4994,WETH,AXS,0.063351,2.758176,197.960304,2022-01-20 03:17:40,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xe66b31678d6c16e9ebf358268a790b763c133750,0xcb4ac40c94969c771ce5dd447eea5440d9249ed07894...,104741523644,270175
4995,WETH,AXS,0.441961,17.729103,1386.391950,2022-01-20 07:36:44,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0xf3e434839f40affbcf6f4b828b0815bf29e7d8fe,0x30d38cc173c9b44e9654aa2ad5a1faa5cb0be5af55a8...,77678457563,228924
4996,AXS,WETH,18.306275,0.452792,1420.367676,2022-01-20 07:36:44,0x58418d6c83efab01ed78b0ac42e55af01ee77dba,0x5aa3393e361c2eb342408559309b3e873cd876d6,0xf0fcd67cdf215d523d2b1c9df89ae38acd12acce41fe...,77178457563,1000000
4997,WETH,AXS,0.387889,15.753949,1216.684492,2022-01-20 07:39:36,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0xf3e434839f40affbcf6f4b828b0815bf29e7d8fe,0x0a8bbe9d18047c5181d1311122450c82172b7ed96e94...,94771774983,295233

In [ ]:
axs_weth_v2_reserves_history = get_pool_v2_reserves_history(contract_id='0xa040832b1e5026da6dc843e6773a9e4d02fff9b1')
axs_weth_v2_reserves_df = pool_reserves_to_df(axs_weth_v2_reserves_history)
axs_weth_v2_reserves_df

100%|██████████| 2/2 [00:00<00:00,  2.40it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,2235.318021,6.589013,43248.099360,5631.549029,412.261553,2021-05-03
1,2468.971504,5.971757,39933.495620,876.346517,2.191252,2021-05-04
2,2407.284859,6.133823,42093.892594,1233.886645,3.094878,2021-05-05
3,2603.981326,5.557229,38883.103492,1681.480184,4.037121,2021-05-06
4,2148.038360,5.171886,35978.200367,2004.968493,4.749660,2021-05-07
...,...,...,...,...,...,...
245,210.773350,4.929723,27355.826081,7.947482,0.181399,2022-01-21
246,225.998564,4.600509,22087.210463,48.007904,0.990289,2022-01-22
247,225.963058,4.602050,22315.486542,13.509223,0.275614,2022-01-23
248,222.865106,4.668300,21941.271001,35.992223,0.807946,2022-01-24
249,223.647274,4.652547,22472.317432,9.217832,0.193671,2022-01-25

In [ ]:
axs_weth_v2_mints_history = get_pool_v2_mints(contract_id='0xa040832b1e5026da6dc843e6773a9e4d02fff9b1', range_limit=2)
axs_weth_v2_mints_df = pool_mints_to_df(axs_weth_v2_mints_history)
axs_weth_v2_mints_df

100%|██████████| 2/2 [00:00<00:00,  2.95it/s]

list index out of range

        amount0   amount1     amountUSD     liquidity           timestamp
0   1866.449528  5.847000  17615.215682  1.044659e+02 2021-05-03 01:42:22
1     25.000000  0.071740    474.404409  1.332144e+00 2021-05-03 18:14:10
2    280.000000  0.803485   5298.366107  1.492001e+01 2021-05-03 18:31:59
3     50.000000  0.096979    380.827232  2.155080e+00 2021-05-15 09:01:25
4      3.982368  0.010916     41.793753  2.038269e-01 2021-05-16 02:37:43
..          ...       ...           ...           ...                 ...
79    11.162827  0.275854   2143.429572  2.846089e-07 2021-12-17 20:09:40
80     0.500000  0.012851    105.064190  1.298460e-08 2021-12-23 18:54:00
81     1.901268  0.048896    381.346362  4.934928e-08 2021-12-28 04:29:37
82    38.468254  0.986369   7365.148042  9.934657e-07 2021-12-31 06:41:53
83     4.806393  0.118817    881.428045  1.186978e-07 2022-01-01 14:28:08

[84 rows x 5 columns]

In [ ]:
axs_weth_v2_burns_history = get_pool_v2_burns(contract_id='0xa040832b1e5026da6dc843e6773a9e4d02fff9b1', range_limit=2)
axs_weth_v2_burns_df = pool_burns_to_df(axs_weth_v2_burns_history)
axs_weth_v2_burns_df

100%|██████████| 2/2 [00:00<00:00,  3.01it/s]

list index out of range

        amount0   amount1     amountUSD     liquidity           timestamp
0     26.456386  0.067974    468.479353  1.332144e+00 2021-05-06 05:26:36
1    326.295177  0.692936   4782.409399  1.492001e+01 2021-05-07 07:54:27
2   2423.697774  4.615325  34391.396160  1.044659e+02 2021-05-13 11:20:29
3     48.409812  0.103813    348.682796  2.175059e+00 2021-05-18 00:31:52
4    151.944075  0.271016   1455.393578  5.617203e+00 2021-06-02 10:25:06
5    608.541769  1.030020   5809.629691  2.183182e+01 2021-06-03 06:40:18
6    797.524914  1.410775   8139.684065  2.923736e+01 2021-06-03 10:27:19
7    440.578025  0.781316   4386.521501  1.612396e+01 2021-06-03 20:55:08
8    461.742241  0.748523   3927.824987  1.596272e+01 2021-06-05 20:19:51
9     94.302815  0.151797    751.189716  3.240915e+00 2021-06-09 00:28:03
10   646.985726  1.009474   5186.204094  2.187618e+01 2021-06-09 21:41:00
11   209.752348  0.346496    835.681768  7.292059e+00 2021-06-11 01:28:17
12    55.072296  0.115970    204.455147  2.155080e+00 2021-06-26 10:12:51
13    85.614192  0.184353    387.686618  3.386956e+00 2021-06-29 02:41:17
14   257.176971  2.161262   9065.349124  4.447495e-06 2021-07-11 03:22:12
15   245.741381  2.065159   8653.999659  4.249733e-06 2021-07-11 03:29:13
16     9.884220  0.108447    214.528596  1.948425e-07 2021-07-13 14:54:32
17   503.425678  4.328943  15180.589081  8.679405e-06 2021-07-20 11:20:38
18     0.335692  0.003488      6.667107  6.358262e-09 2021-07-21 12:38:57
19     3.790150  0.075057    324.893722  9.832377e-08 2021-07-25 11:25:52
20   159.885518  3.007942  13414.797305  4.019617e-06 2021-07-27 00:04:39
21    38.607214  0.749460   3432.131994  9.755927e-07 2021-07-29 12:33:27
22    14.819189  0.257789   1305.511208  3.507497e-07 2021-08-02 01:16:57
23    15.939283  0.245692   1379.728101  3.535242e-07 2021-08-05 20:44:15
24     1.674710  0.039222    246.215456  4.535370e-08 2021-08-11 03:08:15
25    14.329490  0.298312   1906.194033  3.629182e-07 2021-08-16 15:41:48
26    20.523341  0.465045   2962.250897  5.355996e-07 2021-08-25 05:29:26
27    15.536835  0.345852   2219.843811  4.016997e-07 2021-08-26 03:02:31
28    16.779782  0.373520   2343.154769  4.338357e-07 2021-08-26 05:32:04
29    31.288583  0.637591   4515.126562  7.712634e-07 2021-09-01 14:25:52
30     1.350874  0.026264    196.346537  3.249802e-08 2021-09-03 02:04:52
31    19.280695  0.361516   2873.922750  4.554845e-07 2021-09-03 17:18:14
32    60.854555  1.217844   8350.341647  1.476212e-06 2021-09-12 14:17:30
33    28.000000  1.000116   6736.239134  8.891942e-07 2021-10-06 09:20:13
34    12.124631  0.400314   3398.868627  3.641747e-07 2021-10-31 19:21:17
35    17.395697  0.561377   4874.551914  5.113865e-07 2021-11-16 04:47:06
36     0.968118  0.031407    264.524571  2.853140e-08 2021-11-17 01:46:13
37    46.772919  1.425133  11607.530773  1.335378e-06 2021-11-18 21:24:38
38    20.006538  0.620373   5198.762492  5.754050e-07 2021-11-22 11:02:11
39     9.501282  0.301927   2630.727704  2.764727e-07 2021-11-23 21:38:33
40    33.298156  1.020560   8988.545700  9.511581e-07 2021-11-26 07:25:08
41   183.485821  5.721448  47129.489548  5.282977e-06 2021-11-27 04:21:41
42     6.352457  0.200647   1735.171058  1.840042e-07 2021-11-29 11:02:43
43    11.548383  0.285249   2198.008302  2.945412e-07 2021-12-15 06:05:41
44    11.162827  0.275854   2143.266756  2.846089e-07 2021-12-17 20:07:47
45    11.162827  0.275854   2141.849030  2.846089e-07 2021-12-17 20:17:14
46    51.117736  1.213974   9766.644125  1.276715e-06 2021-12-21 09:11:23
47    38.817909  0.891531   6330.492420  9.204732e-07 2022-01-05 23:46:37
48    41.896128  0.962228   6789.451741  9.934657e-07 2022-01-06 01:16:29
49    46.206687  1.065694   6872.094767  1.090466e-06 2022-01-20 19:55:24

### Writing swaps, mints, burns, reserves into pickle files

In [ ]:
axs_weth_v2_df.to_pickle(os.getcwd() + "\\pkl_stories\\axs_weth_v2_swaps.pkl")
axs_weth_v2_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\axs_weth_v2_reserves.pkl")
axs_weth_v2_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\axs_weth_v2_mints.pkl")
axs_weth_v2_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\axs_weth_v2_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [ ]:
axs_weth_v2_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\axs_weth_v2_swaps.pkl")
axs_weth_v2_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\axs_weth_v2_reserves.pkl")
axs_weth_v2_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\axs_weth_v2_mints.pkl")
axs_weth_v2_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\axs_weth_v2_burns.pkl")

# MANA/ETH pool (Decentraland/Ethereum) - NFT

In [ ]:
mana_weth_history = get_pool_v2_with_gas_history(contract_id='0x11b1f53204d03e5529f09eb3091939e4fd8c9cf3', range_limit=120)
all_mana_weth_history, other_mana_weth_history = filter_swaps(mana_weth_history)
mana_weth_df = pool_history_v2_with_gas_to_df(all_mana_weth_history)
mana_weth_df

100%|██████████| 72/72 [03:15<00:00,  2.72s/it]

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WETH,MANA,0.050000,275.955186,5.317078,2020-05-18 20:24:15,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x7440779a961306dd7d8f27acb67ab6496aa3570c,0x3fc44e5ee6779bcfaef10ce8a61f93e05aedfebff8d9...,28000000000,183405
1,MANA,WETH,800.000000,0.140614,29.162929,2020-05-19 00:25:27,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x139665acff25e60636028420a2dff6b8e009cdfa9701...,16000000000,167323
2,WETH,MANA,0.005000,29.943369,1.063490,2020-05-19 01:29:18,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xa53496e93e8183b62d80b3081ca6f8bd2cb9ada0,0xc0e676a272ce5cd33d5b9c36024f6d2e43c5429e86c7...,20000000000,166643
3,WETH,MANA,0.040000,235.611527,8.510489,2020-05-19 01:34:01,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xe3d4b572c452138bf62cd0566ecea482f49b6424,0x395c4738a2d0991e06b58c18e69f614abf05402f9100...,20000000000,166643
4,WETH,MANA,0.033072,190.000000,6.955532,2020-05-19 06:44:23,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x196a3dc8446920cef0f0d1f6bf7ba5b40702c79f,0xc5a68b1d08516ee37e0b648030dd88136db3c78fa62b...,20000000000,158581
...,...,...,...,...,...,...,...,...,...,...,...
71994,WETH,MANA,0.028746,29.451902,122.516521,2021-11-19 21:26:45,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x74de5d4fcbf63e00296fd95d33236b9794016631,0x3ed6624e690b6fd4ea198f39646f5d4bb7d249be98b1...,157350532150,259950
71995,WETH,MANA,3.144065,3212.154135,13401.179611,2021-11-19 21:28:22,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x95b47fa438762af1856a2d7dd68ef80af90c4ea9,0xa3b1487d38dc9889cb9f86f0b780b82c637f47336ed6...,126899460795,224516
71996,WETH,MANA,0.171873,175.075738,733.371124,2021-11-19 21:38:21,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x666e8e22895fae5e3f8fa42dedcb407e60859ccb,0xbfface16a7a11a1b20dd6b3eca3fe1233d440f281bab...,113724874085,224932
71997,WETH,MANA,1.936086,1968.473991,8256.181204,2021-11-19 21:46:53,0x6f8fa2495bd93c2a8f3984f1b1bd761bc1689eb4,0x6f8fa2495bd93c2a8f3984f1b1bd761bc1689eb4,0x0b11b300d032f33bdf00735aa43f8b8726462769af49...,127600000000,3000000
71998,WETH,MANA,0.034763,35.282654,148.266906,2021-11-19 21:48:04,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x74de5d4fcbf63e00296fd95d33236b9794016631,0xbfe0dfad9af6e1f88fa8471519af95f8f60b09972f6d...,108205847873,259964

In [ ]:
mana_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x11b1f53204d03e5529f09eb3091939e4fd8c9cf3')
mana_weth_reserves_df = pool_reserves_to_df(mana_weth_reserves_history)
mana_weth_reserves_df

100%|██████████| 2/2 [00:01<00:00,  1.25it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,13131.538445,2.455654,5.260017e+02,275.955186,0.050000,2020-05-18
1,19955.631996,3.402474,1.456969e+03,1545.186987,0.268593,2020-05-19
2,23208.246675,4.142890,1.747858e+03,5835.603372,0.971594,2020-05-20
3,22876.278018,4.203910,1.674104e+03,1630.945073,0.304859,2020-05-21
4,47135.465571,9.083270,3.766017e+03,11509.657770,2.419877,2020-05-22
...,...,...,...,...,...,...
613,977223.664582,838.689448,4.276539e+06,378128.465770,328.324679,2022-01-21
614,981137.329284,823.753343,3.952060e+06,420630.660239,341.154776,2022-01-22
615,957408.926623,793.156269,4.014169e+06,180765.676844,153.138440,2022-01-23
616,939071.805000,809.579143,3.935016e+06,369600.785526,307.051778,2022-01-24
617,935667.705646,808.793658,3.921949e+06,180757.700150,154.709237,2022-01-25

In [ ]:
mana_weth_mints_history = get_pool_v2_mints(contract_id='0x11b1f53204d03e5529f09eb3091939e4fd8c9cf3', range_limit=3)
mana_weth_mints_df = pool_mints_to_df(mana_weth_mints_history)
mana_weth_mints_df

100%|██████████| 2/2 [00:01<00:00,  1.22it/s]

list index out of range

         amount0   amount1    amountUSD   liquidity           timestamp
0    8138.778341  1.420382   301.443838  107.518245 2020-05-18 19:40:36
1     197.637271  0.036959     7.921571    2.702542 2020-05-18 22:50:04
2    5071.078019  0.948313   203.128934   69.343211 2020-05-18 23:25:52
3    2238.013091  0.371897   159.418133   28.845815 2020-05-19 00:35:15
4    2810.821822  0.482834   202.898546   36.833688 2020-05-19 06:34:29
..           ...       ...          ...         ...                 ...
968     1.000000  0.000831     6.720044    0.017006 2021-12-22 08:22:16
969    12.540000  0.011339    93.055277    0.222386 2021-12-24 00:33:14
970    23.460000  0.021537   176.657335    0.419122 2021-12-24 04:28:48
971   100.000000  0.088940   666.236992    1.754730 2021-12-31 05:48:15
972  1179.589470  1.089057  7301.172968   21.004541 2022-01-16 18:14:14

[973 rows x 5 columns]

In [ ]:
mana_weth_burns_history = get_pool_v2_burns(contract_id='0x11b1f53204d03e5529f09eb3091939e4fd8c9cf3', range_limit=3)
mana_weth_burns_df = pool_burns_to_df(mana_weth_burns_history)
mana_weth_burns_df

100%|██████████| 2/2 [00:01<00:00,  1.22it/s]

list index out of range

          amount0    amount1     amountUSD   liquidity           timestamp
0     1119.607426   0.205747     81.280926   15.167027 2020-05-22 04:17:12
1      460.941138   0.085813     35.486995    6.281675 2020-05-23 19:44:19
2     2774.958609   0.466815    222.206766   35.891576 2020-05-31 05:19:22
3    24058.809930   4.143955   1999.222922  314.514600 2020-06-05 18:52:05
4     3003.841988   0.507565    240.105825   38.878333 2020-06-07 19:04:19
..            ...        ...           ...         ...                 ...
703   7488.938705   6.302238  30769.707697  127.006813 2022-01-22 22:06:25
704  17835.442174  14.974463  71969.128867  302.109655 2022-01-23 00:03:12
705     88.066458   0.073562    355.782237    1.487839 2022-01-23 05:19:57
706  12453.579360  10.458762  52088.230601  210.931036 2022-01-23 13:06:46
707   2433.363716   2.088916   9979.042465   41.639469 2022-01-25 06:12:48

[708 rows x 5 columns]

### Writing swaps, mints, burns, reserves into pickle files

In [ ]:
mana_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\mana_weth_swaps.pkl")
mana_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\mana_weth_reserves.pkl")
mana_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\mana_weth_mints.pkl")
mana_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\mana_weth_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [ ]:
mana_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\mana_weth_swaps.pkl")
mana_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\mana_weth_reserves.pkl")
mana_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\mana_weth_mints.pkl")
mana_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\mana_weth_burns.pkl")

# ETH/ENJ pool - NFT

In [ ]:
enj_eth_history = get_pool_v2_with_gas_history(contract_id='0xe56c60b5f9f7b5fc70de0eb79c6ee7d00efa2625', range_limit=120)
all_enj_eth_history, other_enj_eth_history = filter_swaps(enj_eth_history)
enj_eth_df = pool_history_v2_with_gas_to_df(all_enj_eth_history)
enj_eth_df

100%|██████████| 76/76 [03:39<00:00,  2.89s/it]

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WETH,ENJ,0.250000,329.243700,53.924783,2020-05-19 00:27:03,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x52cc3da7d6907b25fcd4e2c3b83f7edc5b31c949,0x70eb748663e95bcbfa16a060822a419c501198aeeaef...,13000000000,165691
1,WETH,ENJ,0.003249,4.206203,0.690529,2020-05-19 01:25:30,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1880b9b34fc7f59cb43dd53a6b5c6de9fedfd271,0x9bb753a638997e639952f3fc859e523877b35e0021e5...,23000000000,165678
2,WETH,ENJ,0.050000,64.528525,10.633417,2020-05-19 01:48:49,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x537158466a8ca115157f0b291a984efa8e528876,0xad45c006d28353fc5e472a850237dadea38688234e7d...,20570000000,165691
3,WETH,ENJ,0.050000,64.156216,10.632978,2020-05-19 01:52:46,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x0b2387b557e4f1ce550047cf1639249cd9db886c,0xc6d101a2253e47f58f62eb809cfca170542695561b6e...,19910000000,165678
4,WETH,ENJ,0.010000,12.786805,2.124114,2020-05-19 01:56:57,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x672b8144fe28a33bfe9678e880ff2e78b4c82705,0xd7de4379d9a6c45e84d92da6ebade9de48da8e531c94...,22000000000,165678
...,...,...,...,...,...,...,...,...,...,...,...
75995,WETH,ENJ,0.470000,733.601342,2036.557915,2021-12-07 03:58:10,0x11111112542d85b3ef69ae05771c2dccff4faa26,0x58212d1d9113670b47360cdb1279a1a2f164932b,0x4678684ffbbafb0b0f88c77834097231aa8fef0f102c...,105712322907,183093
75996,WETH,ENJ,1.486972,2295.602064,6462.200772,2021-12-07 04:25:51,0x55ebdab1d9c3ab7220f388e7f7349e0af34cccd1,0x55ebdab1d9c3ab7220f388e7f7349e0af34cccd1,0x45fe111b3368c9846c4ff234e27b8055b370d308af20...,97001438418,500000
75997,ENJ,WETH,1626.339000,1.049729,4562.418636,2021-12-07 04:26:18,0x1bd435f3c054b6e901b7b108a0ab7617c808677b,0x1bd435f3c054b6e901b7b108a0ab7617c808677b,0x32298955ff30f4c26b628d92cf6832971e2c6a8a3b66...,90277795391,415921
75998,WETH,ENJ,1.421228,2184.261441,6177.172407,2021-12-07 04:27:10,0x55ebdab1d9c3ab7220f388e7f7349e0af34cccd1,0x55ebdab1d9c3ab7220f388e7f7349e0af34cccd1,0xbe7a5addcc618555339d363580b6d570c0dc6a15c100...,76998288222,500000
75999,WETH,ENJ,0.097923,149.220936,426.230229,2021-12-07 05:06:35,0x11111112542d85b3ef69ae05771c2dccff4faa26,0xd812a1d4a15dc004ca504e8b6d1d380785b0f9dc,0xed98d02017443ae04934ff219cdec65ed890ca2fbab7...,130366474322,183111

In [ ]:
enj_eth_reserves_history = get_pool_v2_reserves_history(contract_id='0xe56c60b5f9f7b5fc70de0eb79c6ee7d00efa2625')
enj_eth_reserves_df = pool_reserves_to_df(enj_eth_reserves_history)
enj_eth_reserves_df

100%|██████████| 2/2 [00:04<00:00,  2.12s/it]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,14.596187,19609.896031,6256.915158,0.000000,0.000000,2020-05-18
1,35.608058,45643.923958,15038.123498,4.334663,5636.075761,2020-05-19
2,44.083044,55306.165361,18523.295014,6.154577,8060.401355,2020-05-20
3,68.513132,76046.446474,27283.670356,39.970996,43953.282808,2020-05-21
4,70.230793,82183.521342,29178.119834,15.703982,18107.270743,2020-05-22
...,...,...,...,...,...,...
613,175.324753,262231.881463,895516.817193,193.651085,280813.315463,2022-01-21
614,168.890336,272790.135031,808763.871488,118.155068,191717.361335,2022-01-22
615,171.589259,268743.201665,861541.954366,52.048113,81805.485842,2022-01-23
616,167.634102,275473.074616,815748.688135,79.233418,131475.456251,2022-01-24
617,167.661248,268787.161954,814952.653665,39.041661,64754.090326,2022-01-25

In [ ]:
enj_eth_mints_history = get_pool_v2_mints(contract_id='0xe56c60b5f9f7b5fc70de0eb79c6ee7d00efa2625', range_limit=2)
enj_eth_mints_df = pool_mints_to_df(enj_eth_mints_history)
enj_eth_mints_df

100%|██████████| 2/2 [00:02<00:00,  1.13s/it]

list index out of range

       amount0       amount1     amountUSD   liquidity           timestamp
0    12.826616  17232.487792   2738.593201  470.143074 2020-05-18 21:58:29
1     1.569474   2108.580074    672.783099   57.527058 2020-05-18 22:48:38
2     0.200096    268.828166     85.774806    7.334269 2020-05-18 22:49:38
3     2.356681   3060.607620   1002.815881   84.926512 2020-05-19 01:17:18
4     0.240934    315.332743    101.882671    8.715742 2020-05-19 13:20:41
..         ...           ...           ...         ...                 ...
958   0.350685    568.448401   2821.789855    8.860798 2021-12-11 10:48:25
959   1.144535   1500.000000   9254.526421   25.733667 2021-12-26 13:36:06
960   0.125183    165.225106    981.671627    2.821968 2021-12-28 06:48:39
961   4.837000   6440.000000  36628.647691  108.872573 2022-01-03 04:58:11
962   1.149444   1547.851512   7333.101607   25.969527 2022-01-07 16:53:32

[963 rows x 5 columns]

In [ ]:
enj_eth_burns_history = get_pool_v2_burns(contract_id='0xe56c60b5f9f7b5fc70de0eb79c6ee7d00efa2625', range_limit=2)
enj_eth_burns_df = pool_burns_to_df(enj_eth_burns_history)
enj_eth_burns_df

100%|██████████| 2/2 [00:01<00:00,  1.07it/s]

list index out of range

       amount0       amount1     amountUSD   liquidity           timestamp
0     0.324013    359.640139    128.844953   10.779454 2020-05-22 02:34:24
1     0.297889    354.773011    124.207311   10.262332 2020-05-22 18:42:33
2     4.020403   4879.430957   1685.933227  139.747002 2020-05-24 09:55:27
3     3.921471   4759.360616   1644.446714  136.308185 2020-05-24 09:56:27
4    11.301433  13591.069990   4615.327351  390.992199 2020-05-24 18:34:17
..         ...           ...           ...         ...                 ...
762   0.179390    257.422658   1198.491281    4.187895 2022-01-06 11:45:53
763   0.125986    167.723336    827.418583    2.821968 2022-01-15 12:47:21
764   3.397347   4508.809361  22833.464371   75.963022 2022-01-15 15:59:08
765   0.468135    637.788373   3103.607143   10.602301 2022-01-16 05:59:32
766   2.103117   3419.135538  10046.714687   51.686420 2022-01-25 06:13:29

[767 rows x 5 columns]

### Writing swaps, mints, burns, reserves into pickle files

In [ ]:
enj_eth_df.to_pickle(os.getcwd() + "\\pkl_stories\\enj_eth_swaps.pkl")
enj_eth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\enj_eth_reserves.pkl")
enj_eth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\enj_eth_mints.pkl")
enj_eth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\enj_eth_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [ ]:
enj_eth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\enj_eth_swaps.pkl")
enj_eth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\enj_eth_reserves.pkl")
enj_eth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\enj_eth_mints.pkl")
enj_eth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\enj_eth_burns.pkl")

# SAND/ETH pool - NFT

In [ ]:
sand_weth_history = get_pool_v2_with_gas_history(contract_id='0x3dd49f67e9d5bc4c5e6634b3f70bfd9dc1b6bd74', range_limit=200)
all_sand_weth_history, other_sand_weth_history = filter_swaps(sand_weth_history)
sand_weth_df = pool_history_v2_with_gas_to_df(all_sand_weth_history)
sand_weth_df

100%|██████████| 130/130 [07:55<00:00,  3.66s/it]

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WETH,SAND,0.017650,126.469664,3.647599,2020-08-20 15:46:06,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x669f6505301592951630e2951b5132d29ca87e2c,0x37ed56f910e4cbb227e227808253ebb3284e165b2aab...,141450001677,234446
1,WETH,SAND,0.400000,2413.756323,178.145088,2020-08-20 15:56:12,0xbf06789ee859698ed737d6c9eb404791a85f5e9e,0xbf06789ee859698ed737d6c9eb404791a85f5e9e,0xa5c3510c8d2bdaefcef8d8a54b75c30492f7ef5ec440...,169900000000,800000
2,WETH,SAND,0.476309,2155.508531,212.249884,2020-08-20 15:57:40,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb9a130e9c8f53d08e37a2d2183a4c87e0aa700ec,0xdb86739b7bfe561b0efb5168cf1bd0dd16ddb64982f1...,128000000000,232995
3,WETH,SAND,0.031877,123.596424,13.288490,2020-08-20 16:02:32,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7330707800b149effd2dcf37886181a01415664b,0x37f34948aa06656ba2b6771ff16122b73008ab4d1a90...,777000000000,500000
4,WETH,SAND,0.008500,32.612732,3.539984,2020-08-20 16:20:56,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x3e38f73779ea15d338cebe7fb68fa97fd22c212c,0xe11c12ff69938a56771c948e82f6f792d20cc78b3d14...,125000000000,214636
...,...,...,...,...,...,...,...,...,...,...,...
129989,WETH,SAND,0.153232,255.762458,712.025097,2021-11-13 23:18:28,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xe66b31678d6c16e9ebf358268a790b763c133750,0x8311dd3f410e84189bd109a4f2b2ddd78d4fdd20bcd7...,174000000000,195114
129990,WETH,SAND,10.727217,17863.715000,49837.571981,2021-11-13 23:19:54,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4da0eda15a164e78fddc0eddbee9295a78aa230e,0x42e5e167ffcfed5caf95ef2ddd1f5cf1215bad682997...,184365404975,500001
129991,WETH,SAND,8.590646,14247.190000,39906.498964,2021-11-13 23:22:30,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4da0eda15a164e78fddc0eddbee9295a78aa230e,0x142c6574680ed4bf7179c23b3b2221b163c780e09cbe...,121646099304,500003
129992,WETH,SAND,0.212987,352.569454,989.397888,2021-11-13 23:22:30,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xe66b31678d6c16e9ebf358268a790b763c133750,0x783a65f523139bc1113eeeee17effa018afada8c2ee3...,110155892211,215634
129993,WETH,SAND,1.001134,1656.807562,4651.418742,2021-11-13 23:24:41,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xe66b31678d6c16e9ebf358268a790b763c133750,0xfb6889fabe6e23a2ba9f4607680846111bc19f8ec470...,163000000000,195099

In [ ]:
sand_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x3dd49f67e9d5bc4c5e6634b3f70bfd9dc1b6bd74')
sand_weth_reserves_df = pool_reserves_to_df(sand_weth_reserves_history)
sand_weth_reserves_df

100%|██████████| 2/2 [00:02<00:00,  1.40s/it]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,4.620900e+04,6.473900,5.360654e+03,1.362405e+05,24.472452,2020-08-20
1,8.011954e+04,9.442597,7.270852e+03,1.862165e+05,26.147471,2020-08-21
2,8.079633e+04,10.412832,8.245477e+03,7.209562e+04,9.277340,2020-08-22
3,1.145013e+05,14.152003,1.110878e+04,5.906999e+04,7.473852,2020-08-23
4,1.199340e+05,14.999432,1.218586e+04,1.398868e+05,20.077351,2020-08-24
...,...,...,...,...,...,...
519,5.947148e+06,7741.069056,3.944206e+07,2.184733e+06,2832.796947,2022-01-21
520,6.098552e+06,7558.026236,3.625156e+07,3.426881e+06,4171.281326,2022-01-22
521,6.092691e+06,7497.803415,3.803457e+07,1.176879e+06,1473.637840,2022-01-23
522,6.080401e+06,7468.464197,3.646738e+07,1.609803e+06,1953.884506,2022-01-24
523,6.010302e+06,7481.677577,3.643719e+07,1.877769e+06,2273.787865,2022-01-25

In [ ]:
sand_weth_mints_history = get_pool_v2_mints(contract_id='0x3dd49f67e9d5bc4c5e6634b3f70bfd9dc1b6bd74', range_limit=7)
sand_weth_mints_df = pool_mints_to_df(sand_weth_mints_history)
sand_weth_mints_df

100%|██████████| 6/6 [00:10<00:00,  1.72s/it]

           amount0   amount1    amountUSD   liquidity           timestamp
0      1250.000000  0.168750    69.715655   14.523688 2020-08-20 15:26:19
1      3000.000000  0.405000   166.878223   34.856850 2020-08-20 15:29:38
2     14171.000000  2.032416   842.268420  169.702062 2020-08-20 15:49:30
3      1250.000000  0.318767   265.218003   19.952492 2020-08-20 16:02:23
4     10000.000000  2.470893  2058.665607  157.087106 2020-08-20 16:42:48
...            ...       ...          ...         ...                 ...
5995    190.000000  0.235170  1883.174939    4.827193 2021-12-11 09:33:50
5996     89.545566  0.110962   891.482682    2.276333 2021-12-11 10:07:29
5997     18.835212  0.023467   188.849155    0.480107 2021-12-11 10:49:59
5998     12.481235  0.015500   124.731868    0.317626 2021-12-11 13:34:09
5999    130.000000  0.161433  1295.875262    3.308166 2021-12-11 14:03:28

[6000 rows x 5 columns]

In [ ]:
sand_weth_burns_history = get_pool_v2_burns(contract_id='0x3dd49f67e9d5bc4c5e6634b3f70bfd9dc1b6bd74', range_limit=7)
sand_weth_burns_df = pool_burns_to_df(sand_weth_burns_history)
sand_weth_burns_df

 71%|███████▏  | 5/7 [00:05<00:01,  1.14it/s]

list index out of range

 86%|████████▌ | 6/7 [00:05<00:00,  1.46it/s]

list index out of range

100%|██████████| 7/7 [00:06<00:00,  1.16it/s]

list index out of range

           amount0    amount1      amountUSD    liquidity           timestamp
0     14443.767380   1.752435    1409.746715   157.087106 2020-08-24 17:33:44
1     18821.089713   2.694975    2151.411546   221.784224 2020-08-25 03:49:23
2     14121.242828   3.530601    2685.764707   219.172492 2020-08-27 15:22:02
3     17412.625149   3.007004    2404.186361   223.913860 2020-08-29 17:24:15
4     13464.195804   2.271845    1826.248541   171.121556 2020-08-30 06:57:30
...            ...        ...            ...          ...                 ...
3277     40.385156   0.050188     245.286149     1.013092 2022-01-25 10:17:08
3278  47503.961303  58.581824  283155.238811  1187.079884 2022-01-25 11:42:35
3279  11307.237118  14.052279   67858.311284   283.605088 2022-01-25 21:55:15
3280   1086.670192   1.354161    6571.252926    27.292546 2022-01-25 22:54:09
3281   1237.870882   1.540713    7569.667590    31.071203 2022-01-25 23:37:01

[3282 rows x 5 columns]

### Writing swaps, mints, burns, reserves into pickle files

In [ ]:
sand_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\sand_weth_swaps.pkl")
sand_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\sand_weth_reserves.pkl")
sand_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\sand_weth_mints.pkl")
sand_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\sand_weth_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [ ]:
sand_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\sand_weth_swaps.pkl")
sand_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\sand_weth_reserves.pkl")
sand_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\sand_weth_mints.pkl")
sand_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\sand_weth_burns.pkl")

# ALICE/ETH pool - NFT

In [ ]:
alice_weth_history = get_pool_v2_with_gas_history(contract_id='0x30bc873193466dc59fc08159460c49f26f609795', range_limit=15)
all_alice_weth_history, other_alice_weth_history = filter_swaps(alice_weth_history)
alice_weth_df = pool_history_v2_with_gas_to_df(all_alice_weth_history)
alice_weth_df

100%|██████████| 10/10 [00:22<00:00,  2.27s/it]

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,ALICE,WETH,12.839028,0.174107,284.992234,2021-03-16 08:37:32,0x0000000000c9b1dde987a6abe20a2af8d9e636d9,0x0000000000c9b1dde987a6abe20a2af8d9e636d9,0x2cdf6512b85e1c20f548ba8c318846a1dd8dd2917ebd...,123000000000,1000000
1,ALICE,WETH,2.000000,0.021126,36.733660,2021-03-16 12:04:44,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x73191438977d7ff2d8acb9df6bc49cac321949ab4c6e...,128000000000,168007
2,ALICE,WETH,14.224945,0.120341,224.296642,2021-03-17 07:37:35,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xf5ef67632cd2256d939702a126fe2c047d0a07bf,0x272eaf073e8ea7d7b2cc263db9b05ae91684866d64fa...,150000000000,350661
3,WETH,ALICE,0.187000,20.060961,329.448128,2021-03-17 11:36:13,0x11111112542d85b3ef69ae05771c2dccff4faa26,0xe8c423de4fa5e56537517944a77ff94cee6fb8e2,0x8301c0fd62a4f98a3306837835556300874eefc6e7ce...,128000000000,171442
4,ALICE,WETH,10.000000,0.105862,169.483118,2021-03-17 12:26:52,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x3eac79213f0d93f912851dfa46fafc82469eda6ac4b1...,168300000000,168007
...,...,...,...,...,...,...,...,...,...,...,...
9501,WETH,ALICE,0.900000,342.984495,1979.125607,2022-01-24 13:38:34,0xee6db2cc1ed15424a00e62ccdfe23397b54aab89,0xde93684627d4e34d6ef96adf5bcabf10bbd8dd81,0xb90bdda788530ed94a41a3fcf2bc5fdaf450e84f5a76...,135089672699,308788
9502,WETH,ALICE,1.278394,473.850319,2860.164825,2022-01-24 14:43:50,0x98c3d3183c4b8a650614ad179a1a98be0a8d6b8e,0x98c3d3183c4b8a650614ad179a1a98be0a8d6b8e,0x1d353984e15b37267e28e799d1a6c5981a88a07f6781...,127253935225,500000
9503,ALICE,WETH,473.850319,1.270858,3136.305711,2022-01-24 21:34:52,0x98c3d3183c4b8a650614ad179a1a98be0a8d6b8e,0x98c3d3183c4b8a650614ad179a1a98be0a8d6b8e,0x9951445abb5ed824ad8ddd728afbe4fec2882cd6aaca...,130555471008,500000
9504,WETH,ALICE,0.198250,74.486281,476.556306,2022-01-25 02:48:43,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x74de5d4fcbf63e00296fd95d33236b9794016631,0x22a573a26f3b470aeb175d12b81b1971806e99c9e91b...,77216111345,261260
9505,WETH,ALICE,0.053403,20.000000,128.455907,2022-01-25 08:22:04,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0x7e3940f6fe6b4c9f44e8ae9a1547cfcda9057705,0x2222e32e58b2dfe4dc0c61173ded07f9a3e50ee98110...,77979062745,189949

In [ ]:
alice_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x30bc873193466dc59fc08159460c49f26f609795')
alice_weth_reserves_df = pool_reserves_to_df(alice_weth_reserves_history)
alice_weth_reserves_df

100%|██████████| 2/2 [00:01<00:00,  1.70it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,6.000000,0.101598,367.355029,0.000000,0.000000,2021-03-15
1,67.100212,0.689707,2430.779070,14.839028,0.195232,2021-03-16
2,68.634374,0.675505,2232.418760,46.915728,0.438203,2021-03-17
3,74.634374,0.621349,2098.103332,6.000000,0.054155,2021-03-22
4,85.550512,0.544140,1817.052880,106.134748,1.034504,2021-03-23
...,...,...,...,...,...,...
307,26958.054670,85.479970,491848.962314,1045.534958,3.270496,2022-01-21
308,28625.030988,80.578185,386171.253915,8762.087210,26.583128,2022-01-22
309,28961.185639,79.652851,403123.636245,1193.757671,3.377966,2022-01-23
310,29530.042824,78.162654,385789.810685,5536.920611,15.087875,2022-01-24
311,29435.556543,78.414306,377239.671883,94.486281,0.251653,2022-01-25

In [ ]:
alice_weth_mints_history = get_pool_v2_mints(contract_id='0x30bc873193466dc59fc08159460c49f26f609795', range_limit=2)
alice_weth_mints_df = pool_mints_to_df(alice_weth_mints_history)
alice_weth_mints_df

100%|██████████| 2/2 [00:00<00:00,  3.05it/s]

list index out of range

         amount0    amount1      amountUSD     liquidity           timestamp
0       6.000000   0.101598     367.355029  7.807616e-07 2021-03-15 10:52:49
1      46.261184   0.783341    2324.406045  6.019826e-06 2021-03-16 08:37:29
2   16737.068671  96.832368  339371.842500  1.267791e-03 2021-03-25 16:19:41
3     993.683353   7.264836   23374.408643  8.459013e-05 2021-03-25 19:34:30
4    2851.000000  20.025448   64780.308064  2.377853e-04 2021-03-26 02:52:05
5    7118.442317  50.000000  161393.357047  5.937079e-04 2021-03-26 02:54:47
6    4271.065390  30.000000   96854.620482  3.562247e-04 2021-03-26 02:56:50
7     100.000000   0.786183    2556.857781  8.822277e-06 2021-03-26 12:31:12
8    1075.901600   8.270369   27162.727663  9.384072e-05 2021-03-26 15:23:33
9     301.370000   2.437962    8134.923425  2.696432e-05 2021-03-26 20:41:38
10    431.880000   3.302015   11180.340325  3.756452e-05 2021-03-27 02:04:36
11    120.000000   0.902355    3056.045286  1.034864e-05 2021-03-27 10:50:02
12     50.000000   0.376649    1265.325641  4.315723e-06 2021-03-27 14:29:47
13    100.000000   0.803511    2744.292090  8.913687e-06 2021-03-27 19:16:24
14     20.000000   0.198744     676.708270  1.981515e-06 2021-03-28 11:44:09
15     50.000000   0.499355    1689.952229  4.965505e-06 2021-03-28 13:19:15
16      2.000000   0.018613      62.095389  1.917003e-07 2021-03-28 21:30:43
17    183.275839   1.761040    5961.011521  1.784804e-05 2021-03-29 03:33:05
18    156.108794   1.500000    5089.130655  1.520242e-05 2021-03-29 03:39:08
19     20.000000   0.185971     651.173575  1.915654e-06 2021-03-29 09:39:04
20     80.953703   0.710037    2573.438446  7.529843e-06 2021-03-29 22:43:02
21    145.383552   1.246240    4469.387638  1.336820e-05 2021-03-30 04:05:31
22     77.060000   0.706386    2585.561677  7.326497e-06 2021-03-30 16:33:52
23     50.499127   0.447866    1648.406053  4.722411e-06 2021-03-30 21:16:52
24    552.000000   4.715541   17174.527394  5.065470e-05 2021-03-31 05:05:12
25    551.000000   4.662428   16975.303175  5.031898e-05 2021-03-31 05:12:21
26     50.000000   0.362814    1447.780276  4.226662e-06 2021-04-02 02:46:26
27     98.620000   0.720046    2980.515644  8.361983e-06 2021-04-02 16:13:55
28   3015.011800  21.686315   90532.958836  2.537302e-04 2021-04-02 21:19:51
29   2570.579632  18.434229   77949.839867  2.159095e-04 2021-04-03 08:29:52
30    120.000000   0.832313    3487.222567  9.911754e-06 2021-04-03 15:04:54
31    100.000000   0.693594    2904.805819  8.259795e-06 2021-04-03 15:08:06
32    144.463900   0.717157    3588.559413  1.004522e-05 2021-04-16 03:54:21
33   1007.120000   4.156334   21683.485477  6.363860e-05 2021-04-27 19:43:35
34      7.101864   0.041666     236.917276  5.335401e-07 2021-05-01 04:06:46
35     20.777559   0.129761     759.417891  1.608864e-06 2021-05-02 11:59:54
36      6.792743   0.029369     198.300707  4.372691e-07 2021-05-04 21:22:03
37    100.000000   0.251991    1381.127601  4.883462e-06 2021-05-26 14:15:47
38     15.715955   0.047000     264.333635  8.357446e-07 2021-05-27 16:01:15
39    435.999999   1.258534    6437.824390  2.276944e-05 2021-05-28 08:29:42
40     39.470538   0.083672     419.390078  1.761846e-06 2021-06-09 10:54:17
41    249.000000   0.875981    3732.916589  1.392444e-05 2021-07-24 05:24:44
42    257.746076   0.954006    6283.454474  1.418291e-05 2021-09-14 02:34:28
43     50.000000   0.186906    1252.642339  2.756735e-06 2021-09-19 15:04:40

In [ ]:
alice_weth_burns_history = get_pool_v2_burns(contract_id='0x30bc873193466dc59fc08159460c49f26f609795', range_limit=2)
alice_weth_burns_df = pool_burns_to_df(alice_weth_burns_history)
alice_weth_burns_df

100%|██████████| 2/2 [00:00<00:00,  4.04it/s]

list index out of range

         amount0    amount1      amountUSD     liquidity           timestamp
0     970.524283   7.451131   25321.238237  8.459013e-05 2021-03-27 04:44:20
1      44.370849   0.425158    1447.792493  4.315723e-06 2021-03-28 17:30:13
2      20.643398   0.192727     650.151355  1.981515e-06 2021-03-29 05:49:22
3     155.562830   1.505671    5140.720429  1.520242e-05 2021-03-29 08:42:17
4      57.815938   0.433081    1726.990931  4.965505e-06 2021-04-02 13:23:20
5     119.999999   0.832313    3487.019509  9.911754e-06 2021-04-03 15:06:29
6    6197.517242  37.706955  162681.978334  4.780017e-04 2021-04-10 11:04:23
7   16679.110145  98.610485  423748.268984  1.267791e-03 2021-04-11 02:51:04
8    1194.704911   7.557609   32169.567383  9.384072e-05 2021-04-12 15:23:30
9     192.252928   0.954394    4735.915000  1.336820e-05 2021-04-16 04:28:06
10    126.876336   0.629847    3016.274774  8.822277e-06 2021-04-16 10:21:20
11      8.554849   0.034735     241.098022  5.335401e-07 2021-05-06 00:54:27
12    160.858789   0.654816    4522.730727  1.004522e-05 2021-05-06 01:18:42
13   1141.606755   3.719395   31991.099621  6.363860e-05 2021-05-12 05:00:02
14    527.174753   1.446734   10538.050201  2.696432e-05 2021-05-13 20:03:35
15     90.226482   0.259291    2060.483326  4.722411e-06 2021-05-14 09:47:07
16    109.971782   0.345829    2641.748037  6.019826e-06 2021-05-16 09:55:29
17    182.528021   0.459954    2519.337465  8.913687e-06 2021-05-26 15:11:13
18      9.328569   0.021792     118.921233  4.372691e-07 2021-06-04 21:29:02
19      4.087385   0.009559      51.254660  1.917003e-07 2021-06-04 23:33:59
20     99.102514   0.256323    1217.421460  4.883462e-06 2021-06-11 16:46:20
21     16.505392   0.039368     196.672957  7.807616e-07 2021-06-14 03:16:41
22     39.018603   0.084838     439.533140  1.761846e-06 2021-06-15 12:08:36
23    598.863120   2.604343   10249.129652  3.756452e-05 2021-07-15 04:29:38
24     31.034962   0.081679     314.425467  1.505969e-06 2021-07-21 14:40:26
25    123.357343   0.629985    2665.970370  8.259795e-06 2021-07-25 14:37:32
26     62.613514   0.325022    1373.548005  4.226662e-06 2021-07-25 14:46:11
27    185.158361   1.205533    5500.208514  1.392444e-05 2021-07-28 01:31:44
28     34.553585   0.199748     914.559347  2.444609e-06 2021-07-28 23:11:33
29    889.077269   3.475575   24226.997317  5.031898e-05 2021-09-09 00:21:54
30     50.105061   0.186516    1254.373560  2.756735e-06 2021-09-19 16:31:34
31    341.046586   1.153404    6712.171671  1.784804e-05 2021-09-25 21:52:37
32    100.536831   0.483751    4431.277889  6.023874e-06 2021-12-02 02:51:43

### Writing swaps, mints, burns, reserves into pickle files

In [ ]:
alice_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\alice_weth_swaps.pkl")
alice_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\alice_weth_reserves.pkl")
alice_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\alice_weth_mints.pkl")
alice_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\alice_weth_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [ ]:
alice_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\alice_weth_swaps.pkl")
alice_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\alice_weth_reserves.pkl")
alice_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\alice_weth_mints.pkl")
alice_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\alice_weth_burns.pkl")

# DOGE/ETH pool

In [ ]:
doge_weth_history = get_pool_v2_with_gas_history(contract_id='0xc0067d751fb1172dbab1fa003efe214ee8f419b6', range_limit=16)
all_doge_weth_history, other_doge_weth_history = filter_swaps(doge_weth_history)
doge_weth_df = pool_history_v2_with_gas_to_df(all_doge_weth_history)
doge_weth_df

100%|██████████| 15/15 [00:34<00:00,  2.33s/it]

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WETH,DOGE,1.000000,131189.389055,1237.901160,2021-01-18 21:14:49,0xb89fa54d5d7bcb78e121f9fa85cb47242355c68e,0xb89fa54d5d7bcb78e121f9fa85cb47242355c68e,0xebb57fcd4f7c7c8c155d6e5a80f3212c7f2d80640bb3...,58000000000,800000
1,WETH,DOGE,0.007725,1000.000000,9.508499,2021-01-18 21:18:57,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x79d774e686d5d3cc1660ea4c88a11702b637852d,0x340d7456b432dd37e467d7a6fe3d6b3843e627d14d20...,45000000000,206596
2,WETH,DOGE,0.041338,5347.743915,50.895183,2021-01-18 21:29:35,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x72478dcaaa7fc87718505daf7cb530ae9612e53a,0x0ea8f1609f74a727484e53da819e12a27159df3fdf6d...,75000000000,216659
3,WETH,DOGE,0.025787,3333.000000,31.799822,2021-01-18 21:31:54,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x212919050e84572e3feb9f7d2d47d061c46fa4da,0xaddc432df998f8884ca9aa2bbe325f8df121cd5c3be6...,50600000000,173596
4,WETH,DOGE,0.300000,38736.888276,372.869812,2021-01-18 23:33:09,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x25770bc4f6b79ec5625c8e61bc92360caae23754,0xa834c8fbd15a81a708243b8f393877846e05b1e871b6...,40000000000,165135
...,...,...,...,...,...,...,...,...,...,...,...
14338,DOGE,WETH,100000.000000,5.917039,14392.604095,2022-01-25 12:33:57,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0x7edeb38b214624ed6295ad44748f577dabe77c82f2a6...,144000000000,562490
14339,DOGE,WETH,34056.642674,1.991029,4855.412022,2022-01-25 12:39:35,0xc7ee7c66636f407586afa431c19a916e04928942,0xc7ee7c66636f407586afa431c19a916e04928942,0x0e63eb224f504885c72fffb035aac35311799f716b72...,58349766969,293265
14340,DOGE,WETH,100000.000000,5.776986,14037.338494,2022-01-25 13:09:53,0x1111111254fb6c44bac0bed2854e76f90643097d,0x74c99f3f5331676f6aec2756e1f39b4fc029a83e,0x70845f2e0fcd623608e649ae56c8836a8fc0bfc90f8d...,140615434378,201333
14341,WETH,DOGE,1.108908,19217.945982,2680.592255,2022-01-25 13:53:18,0xe33cb50a2090211ae988231ba0fbab9eb6d5ea70,0xfcd13ea0b906f2f87229650b8d93a51b2e839ebd,0x85c180c909376aac61ea91896d1ddfa503979f54c8a4...,102146200609,495541
14342,WETH,DOGE,3.527229,60695.906022,8641.633806,2022-01-25 20:31:45,0x0000000000007f150bd6f54c40a34d7c3d5e9f56,0xfcd13ea0b906f2f87229650b8d93a51b2e839ebd,0xa6c23e9299a72331d8a76402261f20ddf29d4a8d416f...,141269189420,430275

In [ ]:
doge_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0xc0067d751fb1172dbab1fa003efe214ee8f419b6')
doge_weth_reserves_df = pool_reserves_to_df(doge_weth_reserves_history)
doge_weth_reserves_df

100%|██████████| 2/2 [00:01<00:00,  1.65it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,5.815876e+07,449.362514,1.117025e+06,1.796070e+05,1.374850,2021-01-18
1,1.053052e+08,690.380932,1.924844e+06,8.014429e+06,56.096709,2021-01-19
2,1.048894e+08,693.127828,1.756477e+06,4.933253e+05,3.253104,2021-01-22
3,1.068894e+08,680.197323,1.847699e+06,2.020000e+06,13.058171,2021-01-25
4,1.083894e+08,670.812012,1.807903e+06,1.500000e+06,9.385311,2021-01-26
...,...,...,...,...,...,...
362,1.145312e+07,639.043536,3.307038e+06,7.442348e+05,40.455314,2022-01-21
363,1.153355e+07,634.773730,3.044341e+06,1.146504e+06,61.766902,2022-01-22
364,1.142375e+07,640.989484,3.233609e+06,6.834418e+05,38.368033,2022-01-23
365,1.141942e+07,641.317458,3.102036e+06,4.978858e+05,28.572491,2022-01-24
366,1.121364e+07,653.232136,3.200809e+06,8.465299e+05,48.968983,2022-01-25

In [ ]:
doge_weth_mints_history = get_pool_v2_mints(contract_id='0xc0067d751fb1172dbab1fa003efe214ee8f419b6', range_limit=2)
doge_weth_mints_df = pool_mints_to_df(doge_weth_mints_history)
doge_weth_mints_df

100%|██████████| 2/2 [00:00<00:00,  3.69it/s]

list index out of range

         amount0      amount1     amountUSD  liquidity           timestamp
0   1.000000e+07    75.000000  9.236720e+04   0.273861 2021-01-18 21:14:49
1   1.604497e+07   123.805938  3.059632e+05   0.445688 2021-01-18 22:41:33
2   2.050000e+07   158.181727  3.911640e+05   0.569437 2021-01-18 22:49:49
3   1.179340e+07    91.000000  2.254626e+05   0.327590 2021-01-18 23:07:24
4   2.868813e+06    20.000000  5.296842e+04   0.075734 2021-01-19 02:19:07
5   2.135449e+06    14.000000  3.986648e+04   0.054666 2021-01-19 17:18:20
6   3.706187e+07   242.977582  6.774434e+05   0.948755 2021-01-19 18:23:45
7   5.307253e+03     0.050000  1.300749e+02   0.000163 2021-01-28 11:24:21
8   1.121247e+05     1.998984  5.392716e+03   0.004723 2021-01-28 23:07:30
9   2.298049e+03     0.119647  3.125922e+02   0.000165 2021-01-29 06:34:28
10  3.500000e+03     0.170491  4.449043e+02   0.000243 2021-01-29 06:47:47
11  6.917791e+06   200.000000  5.400025e+05   0.368869 2021-01-30 03:13:42
12  1.985000e+03     0.055669  1.470765e+02   0.000104 2021-02-01 18:43:47
13  2.500000e+03     0.115316  3.762980e+02   0.000166 2021-02-08 10:17:00
14  1.225048e+04     0.498625  1.779716e+03   0.000765 2021-02-11 12:38:00
15  3.000000e+03     0.096235  3.284283e+02   0.000165 2021-03-28 10:39:12
16  4.000000e+04     1.185122  4.274455e+03   0.002119 2021-03-31 08:43:58
17  1.738959e+04     0.522791  2.050990e+03   0.000927 2021-04-02 00:24:29
18  2.000000e+02     0.011008  5.433371e+01   0.000014 2021-04-15 07:31:55
19  1.879313e+03     0.249633  1.210862e+03   0.000209 2021-04-16 19:54:58
20  1.953087e+02     0.030241  1.471630e+02   0.000023 2021-04-16 22:45:57
21  8.185817e+02     0.099703  4.569834e+02   0.000087 2021-04-18 01:05:33
22  1.582392e+03     0.199422  1.170995e+03   0.000169 2021-05-01 18:52:43
23  2.298882e+03     0.300698  1.774416e+03   0.000251 2021-05-02 18:48:27
24  5.000000e+01     0.006628  3.727729e+01   0.000005 2021-06-07 12:21:51
25  1.412713e+07  1908.952061  6.815019e+06   1.536836 2021-06-26 18:33:40
26  2.415195e+04     0.998831  7.996757e+03   0.001409 2021-12-11 14:21:37

In [ ]:
doge_weth_burns_history = get_pool_v2_burns(contract_id='0xc0067d751fb1172dbab1fa003efe214ee8f419b6', range_limit=2)
doge_weth_burns_df = pool_burns_to_df(doge_weth_burns_history)
doge_weth_burns_df

100%|██████████| 2/2 [00:00<00:00,  4.06it/s]

list index out of range

         amount0      amount1     amountUSD  liquidity           timestamp
0   6.894842e+04     2.655201  7.543399e+03   0.004251 2021-01-29 14:15:04
1   3.185133e+03     0.084567  2.276126e+02   0.000163 2021-01-30 05:01:23
2   2.528739e+03     0.112135  3.666145e+02   0.000165 2021-02-08 06:45:07
3   3.643306e+03     0.169095  5.840740e+02   0.000243 2021-02-09 02:51:38
4   1.480797e+04     0.414450  1.655572e+03   0.000765 2021-02-20 18:36:01
5   3.023294e+03     0.096621  3.262478e+02   0.000166 2021-03-27 08:16:29
6   1.378062e+07  1857.350311  8.585947e+06   1.532300 2021-04-20 20:56:53
7   1.273397e+02     0.017883  1.225493e+02   0.000014 2021-05-04 10:54:47
8   1.511696e+03     0.318917  2.086123e+03   0.000209 2021-05-05 06:14:59
9   1.912582e+03     0.364567  2.542336e+03   0.000251 2021-05-07 21:46:23
10  1.408543e+07  1903.318090  6.819136e+06   1.532300 2021-06-26 18:16:55
11  1.800262e+03     0.182240  7.329774e+02   0.000169 2021-07-13 11:37:09
12  5.195516e+03     0.491909  1.791183e+03   0.000472 2021-07-19 15:46:17
13  1.195839e+03     0.103413  6.468851e+02   0.000104 2021-08-13 03:28:58
14  2.607437e+04     2.309881  1.491071e+04   0.002285 2021-08-28 15:39:17
15  9.725444e+06   701.395609  4.795787e+06   0.768418 2021-09-12 13:43:34
16  2.318076e+04     1.058098  7.942195e+03   0.001409 2022-01-04 07:06:26
17  1.423059e+04     0.748665  4.894675e+03   0.000927 2022-01-17 08:58:25

### Writing swaps, mints, burns, reserves into pickle files

In [ ]:
doge_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\doge_weth_swaps.pkl")
doge_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\doge_weth_reserves.pkl")
doge_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\doge_weth_mints.pkl")
doge_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\doge_weth_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [ ]:
doge_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\doge_weth_swaps.pkl")
doge_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\doge_weth_reserves.pkl")
doge_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\doge_weth_mints.pkl")
doge_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\doge_weth_burns.pkl")

# ELON/ETH pool

In [ ]:
elon_weth_history = get_pool_v2_with_gas_history(contract_id='0x7b73644935b8e68019ac6356c40661e1bc315860', range_limit=340)
all_elon_weth_history, other_elon_weth_history = filter_swaps(elon_weth_history)
elon_weth_df = pool_history_v2_with_gas_to_df(all_elon_weth_history)
elon_weth_df

100%|██████████| 325/325 [22:47<00:00,  4.21s/it]

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WETH,ELON,8.659269e+00,8.875907e+13,22731.628092,2021-04-23 01:10:31,0x02023798e0890ddebfa4cc6d4b2b05434e940202,0x02023798e0890ddebfa4cc6d4b2b05434e940202,0x9c9dd91ce26a033f9ed9df34ceac9c457ba0b7715d52...,0,300000
1,ELON,WETH,8.875907e+13,1.099062e+01,23527.395943,2021-04-23 01:10:31,0x02023798e0890ddebfa4cc6d4b2b05434e940202,0x02023798e0890ddebfa4cc6d4b2b05434e940202,0xc5b16f2c3989dcc07ed662402f03211d3587fa299264...,0,300000
2,WETH,ELON,7.000000e+00,5.158411e+13,17774.567217,2021-04-23 01:10:31,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb7d99bf79bd382bd34ef82b84044cb5f2dbf2022,0xdc092d1a66441e765ddb4eacb4ca06c0c70891245f5d...,91000000000,147198
3,WETH,ELON,6.000000e-01,5.077908e+12,1430.016632,2021-04-23 01:11:04,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xae08bc16f9afb623efe894147dc36ed0eeb5cdb4,0x0a6d0f363f9571e6a7842061bcb5a50ad972f61acbe9...,120000000000,158824
4,ELON,WETH,2.168125e+13,2.653980e+00,6140.360594,2021-04-23 01:11:04,0x02023798e0890ddebfa4cc6d4b2b05434e940202,0x02023798e0890ddebfa4cc6d4b2b05434e940202,0x154068d605ac2977aa1e1499f90de0df35d99667f8e6...,0,300000
...,...,...,...,...,...,...,...,...,...,...,...
324993,WETH,ELON,9.912500e-02,2.501724e+08,404.695272,2021-12-26 22:20:09,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x74de5d4fcbf63e00296fd95d33236b9794016631,0x681a32713435a72d34fd98fe16d57e42c29f501bbfa7...,90701884092,240392
324994,WETH,ELON,2.249939e-02,5.678273e+07,91.860506,2021-12-26 22:22:33,0x11111112542d85b3ef69ae05771c2dccff4faa26,0x5f89cb2daedd3334909ee5da681604aa5eace74e,0x36cbd42d0fad708f777f00d25b91b7f8d589aac3733b...,77606081167,181986
324995,WETH,ELON,5.500000e-02,1.388038e+08,224.553992,2021-12-26 22:22:33,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0x31d1364ee08a37389f73fcc821db9695bdbf322a,0xd53eaa2212b07550ef02d52e2cd39815abd507e20379...,77442398689,225070
324996,WETH,ELON,9.792588e+00,2.466450e+10,39964.516896,2021-12-26 22:29:09,0x0000000476fde29330084b2b0b08a9f7d2ac6f2b,0x0000006daea1723962647b7e189d311d757fb793,0x879a4485ba4ba0462ca4df4c8ca37b2c7cc512adcb24...,98934451516,320000
324997,WETH,ELON,4.848319e-03,1.218720e+07,19.782498,2021-12-26 22:32:26,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xe66b31678d6c16e9ebf358268a790b763c133750,0xdcabe1c0955083c14eedf37828c80585a5d4907f7b7e...,85000000000,216445

In [ ]:
elon_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x7b73644935b8e68019ac6356c40661e1bc315860')
elon_weth_reserves_df = pool_reserves_to_df(elon_weth_reserves_history)
elon_weth_reserves_df

100%|██████████| 2/2 [00:03<00:00,  1.58s/it]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,3.650502e+13,715.602627,3.385606e+06,2.729964e+15,41193.755814,2021-04-23
1,2.459976e+13,1110.292501,4.916181e+06,5.911238e+14,22876.541746,2021-04-24
2,2.935363e+13,933.446347,4.311324e+06,1.858092e+14,6450.296998,2021-04-25
3,2.492029e+13,1127.543829,5.708305e+06,2.802904e+14,12044.298435,2021-04-26
4,1.801824e+13,1632.782457,8.678267e+06,1.908413e+14,13764.348242,2021-04-27
...,...,...,...,...,...,...
273,1.321065e+13,4702.707110,2.396109e+07,6.686359e+12,2462.368294,2022-01-21
274,1.551144e+13,4050.334152,1.946690e+07,5.779157e+13,15453.761082,2022-01-22
275,1.369019e+13,4606.122541,2.337508e+07,1.767276e+13,5386.606367,2022-01-23
276,1.415513e+13,4464.735902,2.182275e+07,1.235348e+13,3913.890717,2022-01-24
277,1.422335e+13,4450.044139,2.187279e+07,6.091350e+12,1913.960728,2022-01-25

In [ ]:
elon_weth_mints_history = get_pool_v2_mints(contract_id='0x7b73644935b8e68019ac6356c40661e1bc315860', range_limit=2)
elon_weth_mints_df = pool_mints_to_df(elon_weth_mints_history)
elon_weth_mints_df

100%|██████████| 2/2 [00:01<00:00,  1.53it/s]

list index out of range

          amount0    amount1     amountUSD     liquidity           timestamp
0    5.000000e+14  40.000000  94891.657784  1.414214e+08 2021-04-23 01:09:59
1    3.147686e+10   0.120000    536.883493  6.074555e+04 2021-04-23 04:19:58
2    2.215014e+10   0.133060    585.502662  5.357215e+04 2021-04-23 05:09:10
3    5.912952e+10   1.000000   4408.241274  2.386108e+05 2021-04-23 06:58:15
4    1.477064e+10   0.261188   1151.919743  6.094134e+04 2021-04-23 07:01:49
..            ...        ...           ...           ...                 ...
459  1.686781e+09   0.450000   3483.560486  1.593169e+04 2021-12-20 05:53:23
460  3.763673e+08   0.150000   1219.481901  4.326455e+03 2021-12-27 02:02:20
461  2.575216e+07   0.009976     75.851076  2.916197e+02 2021-12-28 18:47:31
462  6.206654e+07   0.025107    190.118155  7.173534e+02 2021-12-31 11:51:19
463  6.677744e+09   2.089904   9929.870013  6.685303e+04 2022-01-25 06:27:10

[464 rows x 5 columns]

In [ ]:
elon_weth_burns_history = get_pool_v2_burns(contract_id='0x7b73644935b8e68019ac6356c40661e1bc315860', range_limit=2)
elon_weth_burns_df = pool_burns_to_df(elon_weth_burns_history)
elon_weth_burns_df

100%|██████████| 2/2 [00:01<00:00,  1.63it/s]

list index out of range

          amount0    amount1      amountUSD      liquidity           timestamp
0    1.832062e+10   0.212365     920.838058   60941.336199 2021-04-23 07:33:39
1    4.605134e+09   0.212919     970.975245   30021.200665 2021-04-23 12:22:04
2    9.950712e+09   0.411064    1859.034736   60745.553498 2021-04-23 14:24:50
3    2.904929e+10   1.225029    5664.795677  178166.748472 2021-04-23 17:10:29
4    1.763913e+09   0.106315     499.053989   12850.654109 2021-04-23 18:47:15
..            ...        ...            ...            ...                 ...
343  4.264007e+10  18.790187  140707.233082  514162.901816 2022-01-01 05:55:45
344  3.018455e+08   0.120574     922.250054    3461.631515 2022-01-05 09:54:15
345  4.280965e+08   0.164396    1067.020206    4794.712890 2022-01-20 15:20:55
346  2.840476e+09   0.900418    4080.678455   28637.046704 2022-01-24 16:06:41
347  5.084738e+09   1.589745    7592.289291   50879.756005 2022-01-25 05:56:51

[348 rows x 5 columns]

### Writing swaps, mints, burns, reserves into pickle files

In [ ]:
elon_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\elon_weth_swaps.pkl")
elon_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\elon_weth_reserves.pkl")
elon_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\elon_weth_mints.pkl")
elon_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\elon_weth_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [ ]:
elon_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\elon_weth_swaps.pkl")
elon_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\elon_weth_reserves.pkl")
elon_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\elon_weth_mints.pkl")
elon_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\elon_weth_burns.pkl")

# SHIB/ETH pool

In [ ]:
shib_weth_history = get_pool_v2_with_gas_history(contract_id='0x811beed0119b4afce20d2583eb608c6f7af1954f', range_limit=1300)
all_shib_weth_history, other_shib_weth_history = filter_swaps(shib_weth_history)
shib_weth_df = pool_history_v2_with_gas_to_df(all_shib_weth_history)
shib_weth_df

  0%|          | 1/1300 [01:00<21:44:27, 60.25s/it]

504 Server Error: Gateway Time-out for url: https://api.thegraph.com/subgraphs/name/benesjan/uniswap-v2

 20%|██        | 263/1300 [43:53<2:35:23,  8.99s/it]

("Connection broken: ConnectionResetError(10054, 'Удаленный хост принудительно разорвал существующее подключение', None, 10054, None)", ConnectionResetError(10054, 'Удаленный хост принудительно разорвал существующее подключение', None, 10054, None))

 97%|█████████▋| 1255/1300 [2:46:28<00:54,  1.21s/it]

list index out of range
list index out of range

 97%|█████████▋| 1256/1300 [2:46:28<00:40,  1.10it/s]

list index out of range

 97%|█████████▋| 1257/1300 [2:46:28<00:30,  1.43it/s]

list index out of range

 97%|█████████▋| 1258/1300 [2:46:28<00:23,  1.81it/s]

list index out of range

 97%|█████████▋| 1260/1300 [2:46:29<00:14,  2.67it/s]

list index out of range
list index out of range

 97%|█████████▋| 1262/1300 [2:46:29<00:10,  3.51it/s]

list index out of range
list index out of range

 97%|█████████▋| 1263/1300 [2:46:29<00:09,  3.86it/s]

list index out of range

 97%|█████████▋| 1265/1300 [2:46:30<00:08,  3.99it/s]

list index out of range
list index out of range

 97%|█████████▋| 1267/1300 [2:46:30<00:07,  4.32it/s]

list index out of range
list index out of range

 98%|█████████▊| 1269/1300 [2:46:31<00:06,  4.57it/s]

list index out of range
list index out of range

 98%|█████████▊| 1270/1300 [2:46:31<00:06,  4.68it/s]

list index out of range

 98%|█████████▊| 1272/1300 [2:46:31<00:05,  4.67it/s]

list index out of range
list index out of range

 98%|█████████▊| 1274/1300 [2:46:32<00:05,  4.80it/s]

list index out of range
list index out of range

 98%|█████████▊| 1276/1300 [2:46:32<00:04,  4.90it/s]

list index out of range
list index out of range

 98%|█████████▊| 1277/1300 [2:46:32<00:04,  4.92it/s]

list index out of range

 98%|█████████▊| 1279/1300 [2:46:33<00:04,  4.85it/s]

list index out of range
list index out of range

 99%|█████████▊| 1281/1300 [2:46:33<00:03,  4.92it/s]

list index out of range
list index out of range

 99%|█████████▊| 1283/1300 [2:46:34<00:03,  4.92it/s]

list index out of range
list index out of range

 99%|█████████▉| 1285/1300 [2:46:34<00:03,  4.96it/s]

list index out of range
list index out of range

 99%|█████████▉| 1287/1300 [2:46:34<00:02,  4.97it/s]

list index out of range
list index out of range

 99%|█████████▉| 1289/1300 [2:46:35<00:02,  4.97it/s]

list index out of range
list index out of range

 99%|█████████▉| 1290/1300 [2:46:35<00:02,  4.95it/s]

list index out of range

 99%|█████████▉| 1291/1300 [2:46:35<00:01,  4.90it/s]

list index out of range

 99%|█████████▉| 1292/1300 [2:46:35<00:01,  4.87it/s]

list index out of range

 99%|█████████▉| 1293/1300 [2:46:36<00:01,  4.81it/s]

list index out of range

100%|█████████▉| 1295/1300 [2:46:36<00:01,  4.74it/s]

list index out of range
list index out of range

100%|█████████▉| 1297/1300 [2:46:36<00:00,  4.78it/s]

list index out of range
list index out of range

100%|█████████▉| 1299/1300 [2:46:37<00:00,  4.83it/s]

list index out of range
list index out of range

100%|██████████| 1300/1300 [2:46:37<00:00,  7.69s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WETH,SHIB,4.000000e-01,1.898354e+13,139.381551,2020-07-31 20:42:11,0xbf06789ee859698ed737d6c9eb404791a85f5e9e,0xbf06789ee859698ed737d6c9eb404791a85f5e9e,0x48c0c040f75e020602b81d637e959dd4c968c4358085...,49999999999,800000
1,WETH,SHIB,4.000000e-01,1.757930e+13,139.276591,2020-07-31 20:42:36,0xa23636dd7b1517e12088fb8c5b364c735111f979,0xa23636dd7b1517e12088fb8c5b364c735111f979,0xfd90214848d79fc1a202ed281de47bef6062e48eb109...,96896648218,291345
2,WETH,SHIB,2.000000e+00,7.144941e+13,746.446085,2020-07-31 20:43:55,0x2c334d73c68bbc45dd55b13c5dea3a8f84ea053c,0x2c334d73c68bbc45dd55b13c5dea3a8f84ea053c,0x30b7f84b294d259251d903c2ad43568aea44153ecb2d...,132100000673,800000
3,WETH,SHIB,1.000000e-01,2.990975e+12,34.282991,2020-07-31 20:44:34,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc9ccd0d6311f2fe7c1d8d4c28396c700f47ce452,0x249a14b2f48cd5c2ec59507074a7ab96172efebff26a...,100000000000,165326
4,WETH,SHIB,1.000000e+00,2.320679e+13,353.606470,2020-07-31 20:45:35,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x3fd1ddf28f604cfe5fefa3adc38e38be2f7208d6,0x3ca177de2358a3e332c30e43e923dd3dfaeba41b3925...,50000000000,151925
...,...,...,...,...,...,...,...,...,...,...,...
1250017,WETH,SHIB,4.066131e-01,4.696232e+07,993.706286,2022-01-26 02:02:47,0x68b3465833fb72a70ecdf485e0e4c7bd8665fc45,0x4dbf57464aba3366dff5c7039e53171a9eb4825f,0xce6fb570ed05d106ae3f0c7d1455ebd3ce0f8407e02b...,111064702639,264578
1250018,WETH,SHIB,1.740820e-01,2.008624e+07,425.792825,2022-01-26 02:05:48,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xe66b31678d6c16e9ebf358268a790b763c133750,0xe8cbf414c08278f4bdbc6395cee61216886f6f6e8236...,162000000000,204786
1250019,SHIB,WETH,5.000000e+07,4.305548e-01,1054.467529,2022-01-26 02:13:27,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7fd1de95fc975fbbd8be260525758549ec477960,0xb0fb2b2a7bef573185c37d2833f3fdcffe3b4ea4f7b5...,100910520069,324832
1250020,SHIB,WETH,3.051892e+07,2.624947e-01,644.508892,2022-01-26 02:17:04,0x1111111254fb6c44bac0bed2854e76f90643097d,0x1111111254fb6c44bac0bed2854e76f90643097d,0x6de4433d136b6351a7db723123436874301d6833e5bb...,87547324584,250166
1250021,SHIB,WETH,8.000000e+07,6.869847e-01,1686.767197,2022-01-26 02:17:04,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xcdca92fd365c495e38a3ad56920aeb3934ac6c23f043...,87047324584,239512

In [ ]:
shib_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x811beed0119b4afce20d2583eb608c6f7af1954f')
shib_weth_reserves_df = pool_reserves_to_df(shib_weth_reserves_history)
shib_weth_reserves_df

100%|██████████| 2/2 [00:06<00:00,  3.18s/it]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,3.475561e+13,149.972185,1.031592e+05,1.391419e+15,1092.291376,2020-07-31
1,4.995162e+13,128.090506,9.822113e+04,1.450646e+15,4047.355659,2020-08-01
2,7.443586e+13,103.836139,7.637526e+04,3.419726e+14,540.039674,2020-08-02
3,1.394962e+14,57.242026,4.402689e+04,4.040179e+14,341.670235,2020-08-03
4,1.390480e+14,58.146782,4.547281e+04,1.100752e+14,48.841749,2020-08-04
...,...,...,...,...,...,...
507,6.921729e+10,584.599124,2.805074e+06,1.226900e+11,967.391866,2022-01-22
508,6.784406e+10,600.291714,3.044383e+06,1.434650e+11,1686.256829,2022-01-23
509,6.913944e+10,596.084199,2.914056e+06,5.327620e+10,474.757139,2022-01-24
510,6.906125e+10,593.354806,2.922454e+06,1.705205e+10,147.141027,2022-01-25
511,6.902584e+10,593.840780,2.916138e+06,6.948474e+09,62.352222,2022-01-26

In [ ]:
shib_weth_mints_history = get_pool_v2_mints(contract_id='0x811beed0119b4afce20d2583eb608c6f7af1954f', range_limit=4)
shib_weth_mints_df = pool_mints_to_df(shib_weth_mints_history)
shib_weth_mints_df

100%|██████████| 4/4 [00:07<00:00,  1.96s/it]

           amount0    amount1     amountUSD     liquidity           timestamp
0     4.950000e+14  10.000000   3421.447279  7.035624e+07 2020-07-31 20:42:11
1     2.385578e+11   0.461057    315.609384  3.258480e+05 2020-07-31 23:28:57
2     5.078508e+11   2.534585   1738.039451  1.107577e+06 2020-08-01 00:28:52
3     2.850964e+12   6.645802   4552.039303  4.205740e+06 2020-08-01 01:38:39
4     1.905753e+11   0.343553    235.507934  2.460249e+05 2020-08-01 02:06:23
...            ...        ...           ...           ...                 ...
3429  1.260393e+07   0.116806    773.102307  1.474547e+02 2022-01-15 03:20:32
3430  2.690874e+06   0.024963    165.826814  3.149418e+01 2022-01-15 07:33:52
3431  5.656793e+08   4.843305  24810.465674  6.304820e+03 2022-01-22 04:57:39
3432  2.462611e+08   2.158220  10305.467318  2.760239e+03 2022-01-24 08:02:18
3433  7.981665e+07   0.700000   3350.923836  8.949435e+02 2022-01-24 08:27:42

[3434 rows x 5 columns]

In [ ]:
shib_weth_burns_history = get_pool_v2_burns(contract_id='0x811beed0119b4afce20d2583eb608c6f7af1954f', range_limit=4)
shib_weth_burns_df = pool_burns_to_df(shib_weth_burns_history)
shib_weth_burns_df

100%|██████████| 4/4 [00:06<00:00,  1.53s/it]

list index out of range

           amount0   amount1    amountUSD     liquidity           timestamp
0     2.680203e+11  0.427597   294.125991  3.258480e+05 2020-08-01 01:53:35
1     2.566214e+12  7.721197  5482.467576  4.205740e+06 2020-08-01 10:11:37
2     7.284586e+11  1.888833  1325.914127  1.107577e+06 2020-08-01 11:33:36
3     1.907353e+11  0.389869   279.675095  2.568436e+05 2020-08-01 16:35:39
4     7.526120e+10  0.157526   113.293753  1.025480e+05 2020-08-01 16:45:55
...            ...       ...          ...           ...                 ...
2566  1.908663e+07  0.166302  1019.920144  2.150420e+02 2022-01-20 22:24:02
2567  1.190554e+08  1.059968  5899.833107  1.355091e+03 2022-01-21 13:20:09
2568  1.113446e+08  0.982816  5491.356075  1.261836e+03 2022-01-21 14:49:00
2569  5.766460e+07  0.500110  2389.012736  6.424114e+02 2022-01-25 08:45:50
2570  1.659406e+08  1.418455  6849.192791  1.834916e+03 2022-01-25 21:58:42

[2571 rows x 5 columns]

### Writing swaps, mints, burns, reserves into pickle files

In [ ]:
shib_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\shib_weth_swaps.pkl")
shib_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\shib_weth_reserves.pkl")
shib_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\shib_weth_mints.pkl")
shib_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\shib_weth_burns.pkl")

### Reading swaps, mints, burns, reserves from pickle files

In [ ]:
shib_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\shib_weth_swaps.pkl")
shib_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\shib_weth_reserves.pkl")
shib_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\shib_weth_mints.pkl")
shib_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\shib_weth_burns.pkl")

# XAUt/WETH (STO)

In [ ]:
xaut_weth_history = get_pool_v2_with_gas_history(contract_id='0x57fc8adbf7b583b929c51df0da16008651c1de78', range_limit=2)
all_xaut_weth_history, other_xaut_weth_history = filter_swaps(xaut_weth_history)
xaut_weth_df = pool_history_v2_with_gas_to_df(all_xaut_weth_history)
xaut_weth_df

100%|██████████| 2/2 [00:02<00:00,  1.02s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,XAUt,WETH,0.050915,0.244277,96.390518,2020-08-28 17:23:19,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x0efb068354c10c070ddd64a0e8eaf8f054df7e26,0xe81173951e5ed16d45c057837a1689d5d49043107874...,164280000000,1369208
1,XAUt,WETH,0.040765,0.192847,76.555744,2020-08-29 13:04:09,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x2b5fc30e00eecec02345e39665a03425595d6e37541d...,77700000000,1224280
2,XAUt,WETH,0.038743,0.181074,69.943045,2020-10-12 18:26:17,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xe89f3900de9cff5a77f483ac980e36fe5808341a9b87...,37127925688,171323
3,XAUt,WETH,0.007973,0.037006,15.295573,2020-10-24 16:45:17,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x2cd2d275cdb237e696c60419109fac5f331484e1,0x9f4db3d4bd5df6908d6bf11645dc5fee4d660d9fc6f6...,30800000000,247288
4,XAUt,WETH,0.056348,0.259366,100.422505,2020-11-01 00:29:07,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x142b42c33eaed7aa0df1ba629e4932be82eccfd2c152...,21800000000,171323
5,XAUt,WETH,0.013219,0.060300,23.270928,2020-11-01 05:48:22,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xedaedd22e653c504ff6806bf61664292848eb26e,0x4271554075ad9ded6d7bf343eb5863ff6fb2efee93e5...,17000000000,220580
6,XAUt,WETH,0.266727,1.174339,533.796306,2020-11-16 17:17:10,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xa5e79baee540f000ef6f23d067cd3ac22c7d9fe6,0x8776b6b0a5aa4b5f5ca2dbcecad090dd13a9381ec62f...,68000000000,221082
7,XAUt,WETH,0.044158,0.186922,95.788356,2020-11-21 10:40:52,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x22f9dcf4647084d6c31b2765f6910cd85c178c18,0xd0d5dc5a34de1a9e203dbaf98f5933a0ac7beb145a2d...,46000000000,1650000
8,XAUt,WETH,1.295523,4.700667,2641.260732,2020-11-23 22:05:53,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x72fd50eff7b67343f9e7c2fb64e19576ef1fdd8aa27a...,59000000000,171337
9,XAUt,WETH,0.017000,0.053045,31.415128,2020-12-02 00:55:21,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xed09fedb24c4ed9df203ef98bb67718145abdaddfd21...,36000000000,171310
10,XAUt,WETH,0.301542,0.910007,651.389509,2020-12-29 19:47:54,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x18e36fb4fa7e614618bd5ec049043bafe61cb5fe833a...,74000000000,171337
11,XAUt,WETH,0.251225,0.715990,514.815319,2020-12-29 20:13:05,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x9dc08149adebc0bbc2fa3f80931b0e7ea13ab01d479e...,49000000000,171337
12,XAUt,WETH,0.355000,0.952185,677.267532,2020-12-29 20:24:29,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xd5abe0a7efb79f9322294aa9bbabd8417dcaf6b4868e...,80000000000,171337
13,XAUt,WETH,1.290000,2.969125,2632.632000,2021-01-03 17:58:38,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x5bc199ee425fb0b0581614ca5b27c756e06f2939ccb9...,123000000000,180105
14,XAUt,WETH,1.020800,1.918796,2090.142707,2021-01-04 06:36:56,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x0d4a11d5eeaac28ec3f61d100daf4d40471f1852,0xd557d5b9a990cdf67bff706765e3601d1145f71c38f0...,360000000000,209389
15,XAUt,WETH,0.160228,0.273296,322.181831,2021-01-06 21:35:56,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x9339227db67f747114c929b26b81fe7974436b94,0xf00c1947f969b7e39e6bb3da48794b4812e80a908cb2...,81000000000,210226
16,XAUt,WETH,0.281921,0.464581,558.030129,2021-01-07 05:49:41,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xd3d2e2692501a5c9ca623199d38826e513033a17,0xd6d198b44c859ffb79cfdca09a2a808b2d78b85f27b7...,61000000000,194376
17,XAUt,WETH,1.003000,1.501872,1913.901807,2021-01-10 02:11:20,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x0d4a11d5eeaac28ec3f61d100daf4d40471f1852,0x7cb40bb8369b87e5c30d57e99acf4d41ab56873c9335...,62675000000,209389
18,XAUt,WETH,1.004432,1.303544,1359.375796,2021-01-13 11:30:05,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xba9c25ae7ffdb8ba2b262c722a6edf2360ab7bb2ce21...,53900000000,215983
19,XAUt,WETH,1.001110,1.137018,1839.139209,2021-02-05 09:28:47,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbf1fad21c3fdc84e56ae186ad953ebe75cb5eda5bac1...,197000004031,171337
20,XAUt,WETH,1.000000,1.002571,1806.681668,2021-03-09 03:52:46,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbb190aa5f7c9318dc206fd34cd2ebdbcff5214f6af29...,1252000000000,171337
21,XAUt,WETH,0.995600,0.887875,1978.686733,2021-04-14 01:47:59,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xf15e0730ac0eab25c0850da7090913fc2764b52df9aa...,89000000000,171337
22,XAUt,WETH,0.998300,0.797156,1915.951949,2021-04-15 04:27:52,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xea68a911472bf4dbac8ae703331973ca34a1c4e3a90c...,80000000000,171337
23,XAUt,WETH,1.017000,0.730585,1930.555774,2021-04-28 13:11:39,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4de398b23f669cbb2f93b10bdf5e033c67de88836da6...,68000001459,164737
24,XAUt,WETH,1.004000,0.652116,1930.738379,2021-05-03 03:09:23,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x87cab4d0fbd6b27938dd06257c25589e86b82d715e06...,30666000000,164737
25,XAUt,WETH,0.991810,0.585966,1880.417422,2021-05-03 21:22:11,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x3c7c4c1ef47b2c3f7bd01ea05ff95b60a37477f718d5...,75000000000,232962
26,XAUt,WETH,0.778797,0.424471,1636.855132,2021-05-09 09:19:00,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4e3239658f1f84772c77ab29478f3368788d6975838a...,100100000000,232962
27,XAUt,WETH,0.888515,0.450276,1732.949446,2021-05-09 23:56:21,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x384c142bad451b608342dfbecfd69b6b2bc7d376b08b...,90000000000,236712
28,XAUt,WETH,0.284596,0.137181,317.082373,2021-07-04 15:40:09,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0x0b8355428b491b3b5e6e0bdc13674432adb8cb386370...,20000000000,374463
29,XAUt,WETH,0.218561,0.103165,313.496430,2021-09-26 18:13:14,0x11111112542d85b3ef69ae05771c2dccff4faa26,0x11111112542d85b3ef69ae05771c2dccff4faa26,0x10900a90aad55be56b21ab81fd90a1fb7e0343546f21...,46814449620,150172
30,XAUt,WETH,0.204002,0.094629,325.189600,2021-10-10 21:22:33,0x11111112542d85b3ef69ae05771c2dccff4faa26,0x11111112542d85b3ef69ae05771c2dccff4faa26,0x491403dbdc21eead1c0b8ceaeb540bb16ffd211614a6...,80335278882,155585

In [ ]:
xaut_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x57fc8adbf7b583b929c51df0da16008651c1de78')
xaut_weth_reserves_df = pool_reserves_to_df(xaut_weth_reserves_history)
xaut_weth_reserves_df

100%|██████████| 2/2 [00:00<00:00,  4.09it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,6.460066,31.331320,23810.828693,0.000000,0.000000,2020-08-25
1,6.510981,31.087043,24592.993633,0.050915,0.244277,2020-08-28
2,6.551746,30.894196,24568.233147,0.040765,0.192847,2020-08-29
3,6.590489,30.713122,23761.321805,0.038743,0.181074,2020-10-12
4,7.671801,35.752273,26337.908336,0.000000,0.000000,2020-10-16
5,7.679774,35.715266,29495.046610,0.007973,0.037006,2020-10-24
6,7.749341,35.395600,27301.811195,0.069567,0.319667,2020-11-01
7,8.016068,34.221261,31590.206597,0.266727,1.174339,2020-11-16
8,8.060226,34.034339,34925.265087,0.044158,0.186922,2020-11-21
9,9.355749,29.333672,35367.518706,1.295523,4.700667,2020-11-23
10,9.372749,29.280627,34661.314272,0.017000,0.053045,2020-12-02
11,10.280516,26.702445,38595.996536,0.907767,2.578182,2020-12-29
12,11.570516,23.733320,44508.870496,1.290000,2.969125,2021-01-03
13,12.591316,21.814524,49461.667622,1.020800,1.918796,2021-01-04
14,12.751544,21.541228,51033.687883,0.160228,0.273296,2021-01-06
15,13.033465,21.076647,51109.855475,0.281921,0.464581,2021-01-07
16,14.036465,19.574775,51663.677934,1.003000,1.501872,2021-01-10
17,15.040897,18.271231,39366.783622,1.004432,1.303544,2021-01-13
18,16.042007,17.134213,57131.626848,1.001110,1.137018,2021-02-05
19,17.042007,16.131642,59810.099566,1.000000,1.002571,2021-03-09
20,18.037607,15.243767,69769.794953,0.995600,0.887875,2021-04-14
21,19.035907,14.446611,71210.129367,0.998300,0.797156,2021-04-15
22,20.052907,13.716026,74265.774976,1.017000,0.730585,2021-04-28
23,22.048717,12.477945,81808.171015,1.995810,1.238081,2021-05-03
24,23.716029,11.603197,90883.837661,1.667312,0.874747,2021-05-09
25,24.000625,11.466016,53241.914405,0.284596,0.137181,2021-07-04
26,24.219186,11.362851,69267.800960,0.218561,0.103165,2021-09-26
27,24.423188,11.268222,77654.032433,0.204002,0.094629,2021-10-10

In [ ]:
xaut_weth_mints_history = get_pool_v2_mints(contract_id='0x57fc8adbf7b583b929c51df0da16008651c1de78', range_limit=2)
xaut_weth_mints_df = pool_mints_to_df(xaut_weth_mints_history)
xaut_weth_mints_df

100%|██████████| 2/2 [00:00<00:00,  3.95it/s]

list index out of range

    amount0    amount1     amountUSD     liquidity           timestamp
0  2.000000   9.700000   3809.102773  4.404543e-06 2020-08-25 09:17:35
1  1.123192   5.447481   4310.404854  2.473574e-06 2020-08-25 11:03:09
2  3.000000  14.550000  11031.125400  6.606815e-06 2020-08-25 21:35:49
3  0.336874   1.633839   1241.666742  7.418880e-07 2020-08-25 21:50:02
4  1.081312   5.039151   3712.230849  2.334217e-06 2020-10-16 12:03:43

In [ ]:
# xaut_weth_burns_history = get_pool_v2_burns(contract_id='0x57fc8adbf7b583b929c51df0da16008651c1de78', range_limit=2)
# xaut_weth_burns_df = pool_burns_to_df(xaut_weth_burns_history)
# xaut_weth_burns_df

In [ ]:
xaut_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\xaut_weth_swaps.pkl")
xaut_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\xaut_weth_reserves.pkl")
xaut_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\xaut_weth_mints.pkl")
# xaut_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\xaut_weth_burns.pkl")

In [ ]:
xaut_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\xaut_weth_swaps.pkl")
xaut_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\xaut_weth_reserves.pkl")
xaut_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\xaut_weth_mints.pkl")
# xaut_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\xaut_weth_burns.pkl")

# UMA/FEI (STO)

In [ ]:
uma_fei_history = get_pool_v2_with_gas_history(contract_id='0x0f024314588466416c8fc66013ba4d3ab2e4efe5', range_limit=2)
all_uma_fei_history, other_uma_fei_history = filter_swaps(uma_fei_history)
uma_fei_df = pool_history_v2_with_gas_to_df(all_uma_fei_history)
uma_fei_df

100%|██████████| 2/2 [00:05<00:00,  2.81s/it]

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,FEI,UMA,29763.930711,2028.431898,30431.699497,2021-11-23 23:19:21,0x0000000000007f150bd6f54c40a34d7c3d5e9f56,0x0000000000007f150bd6f54c40a34d7c3d5e9f56,0x9545c5bc50defba38e1cb3d15efdbeb5ab81912e06fa...,112533993311,469847
1,FEI,UMA,14991.490675,1016.008106,15284.783538,2021-11-23 23:20:54,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0x4756c2afc0a426a358fc48596b1105458296d08bae40...,117600058094,555938
2,FEI,UMA,14923.378191,1007.647675,15228.232087,2021-11-24 00:58:28,0x8698d9d5ea99809c00426484a80be2add4e54581,0x157dfa656fdf0d18e1ba94075a53600d81cb3a97,0xec06f0c0627a48c286675dab3b52b12162e276fdc1c7...,94883445517,373293
3,UMA,FEI,997.650000,14687.223241,14841.633179,2021-11-24 02:47:58,0x220bda5c8994804ac96ebe4df184d25e5c2196d4,0x94b0a3d511b6ecdb17ebf877278ab030acb0a878,0xf5bb16d17347ac05b7cb88082d2ccba93a35193b4372...,127620142150,403234
4,UMA,FEI,1448.948091,21236.062724,21465.493801,2021-11-24 03:32:20,0x8698d9d5ea99809c00426484a80be2add4e54581,0xbb2e5c2ff298fd96e166f90c8abacaf714df14f8,0xfee2383f6e7cc0d6cb0f53229dc636cb0dc756112e31...,91754094556,438318
...,...,...,...,...,...,...,...,...,...,...,...
1217,FEI,UMA,11691.506264,2019.924105,11882.604337,2022-01-25 15:50:20,0x642bffb61457fefa2fdd57c13aa24a2eaf0e5eea,0xdd75cd55c1367b3d2d928c6181eea46999d24a72,0xbd89a3de1ff557af26d849d6f1dc1bb0923529f000ec...,124302693737,382000
1218,FEI,UMA,19690.865893,3381.059420,20143.967357,2022-01-25 17:45:49,0x642bffb61457fefa2fdd57c13aa24a2eaf0e5eea,0xdd75cd55c1367b3d2d928c6181eea46999d24a72,0x61f2ef9a9a51f6666d5cfee968fa9185ab6442a1cb8e...,205354599345,382000
1219,FEI,UMA,18360.953244,3129.290886,18684.353466,2022-01-25 18:00:40,0x642bffb61457fefa2fdd57c13aa24a2eaf0e5eea,0xdd75cd55c1367b3d2d928c6181eea46999d24a72,0xa60fa62a1d9da8c76e1781e116a487eaab72c72412e5...,187329461245,382000
1220,FEI,UMA,12777.920259,2164.559730,13027.790934,2022-01-25 18:52:35,0xc7ee7c66636f407586afa431c19a916e04928942,0x157dfa656fdf0d18e1ba94075a53600d81cb3a97,0x0fea0f789dd5f853f777402380b515a6c9ccd10c39c8...,139382776803,410570
1221,UMA,FEI,6710.994331,39176.107071,39658.903449,2022-01-25 20:35:51,0x27239549dd40e1d60f5b80b0c4196923745b1fd2,0x94b0a3d511b6ecdb17ebf877278ab030acb0a878,0x8dc99d66abe2a26d0ab966b9ffb5d6a3622f03dd3436...,192074396891,2540019

In [ ]:
uma_fei_reserves_history = get_pool_v2_reserves_history(contract_id='0x0f024314588466416c8fc66013ba4d3ab2e4efe5')
uma_fei_reserves_df = pool_reserves_to_df(uma_fei_reserves_history)
uma_fei_reserves_df

100%|██████████| 2/2 [00:00<00:00,  3.20it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,546428.170291,8.053508e+06,1.643170e+07,3044.440004,44755.421386,2021-11-23
1,567215.947716,7.759310e+06,1.560182e+07,22803.072775,324044.643474,2021-11-24
2,548152.866170,8.030855e+06,1.582641e+07,39298.689561,556750.746380,2021-11-25
3,582420.020178,7.561095e+06,1.516433e+07,69113.347818,933562.274500,2021-11-26
4,546184.217386,8.065148e+06,1.604334e+07,56610.214991,779112.240809,2021-11-27
...,...,...,...,...,...,...
59,817676.820964,5.447244e+06,1.066935e+07,82750.250444,597175.236626,2022-01-21
60,856538.306777,5.201870e+06,1.039517e+07,95763.439321,600022.543509,2022-01-22
61,839846.231924,5.306088e+06,1.067476e+07,44117.784030,274870.520256,2022-01-23
62,866028.321574,5.148107e+06,1.028159e+07,137891.799711,787843.194363,2022-01-24
63,876045.907017,5.090101e+06,1.033020e+07,49511.262072,288082.329375,2022-01-25

In [ ]:
uma_fei_mints_history = get_pool_v2_mints(contract_id='0x0f024314588466416c8fc66013ba4d3ab2e4efe5', range_limit=2)
uma_fei_mints_df = pool_mints_to_df(uma_fei_mints_history)
uma_fei_mints_df

100%|██████████| 2/2 [00:00<00:00,  3.86it/s]

list index out of range

,amount0,amount1,amountUSD,liquidity,timestamp
0,137536.474736,2.004641e+06,4.112547e+06,525082.193571,2021-11-23 23:17:47
1,137218.033475,2.000000e+06,4.103025e+06,523866.459081,2021-11-23 23:17:47
2,137500.000000,2.004110e+06,4.111457e+06,524942.941532,2021-11-23 23:17:47
3,137218.102084,2.000001e+06,4.103028e+06,523866.721014,2021-11-23 23:17:47

In [ ]:
# uma_fei_burns_history = get_pool_v2_burns(contract_id='0x0f024314588466416c8fc66013ba4d3ab2e4efe5', range_limit=2)
# uma_fei_burns_df = pool_burns_to_df(uma_fei_burns_history)
# uma_fei_burns_df

In [ ]:
uma_fei_df.to_pickle(os.getcwd() + "\\pkl_stories\\uma_fei_swaps.pkl")
uma_fei_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\uma_fei_reserves.pkl")
uma_fei_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\uma_fei_mints.pkl")
# uma_fei_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\uma_fei_burns.pkl")

In [ ]:
uma_fei_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\uma_fei_swaps.pkl")
uma_fei_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\uma_fei_reserves.pkl")
uma_fei_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\uma_fei_mints.pkl")
# uma_fei_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\uma_fei_burns.pkl")

# PERL/WETH (STO)

In [ ]:
perl_weth_history = get_pool_v2_with_gas_history(contract_id='0x9b8d2834ba1b3c31688e084ce9792baa0ca2e2f7', range_limit=3)
all_perl_weth_history, other_perl_weth_history = filter_swaps(perl_weth_history)
perl_weth_df = pool_history_v2_with_gas_to_df(all_perl_weth_history)
perl_weth_df

100%|██████████| 2/2 [00:06<00:00,  3.12s/it]

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,WETH,PERL,1.000000,408.979034,202.663354,2020-08-20 07:31:20,0x21e479e62603a3ea0b6dc687cb86b9938d39a3dd,0x21e479e62603a3ea0b6dc687cb86b9938d39a3dd,0x259920fbd70f1fb6081890bc61f3d04bb65f7fdb71be...,119999999999,3023121
1,WETH,PERL,0.330000,9.444516,66.865797,2020-08-20 07:31:33,0x90b98c3db94f6d2a088a3d7e4c86e15a39f8ee0d,0x90b98c3db94f6d2a088a3d7e4c86e15a39f8ee0d,0xa2579b1d7d65a6196165219ce988979ed0c07a0ed4cb...,134999999999,400001
2,WETH,PERL,0.100000,2.058032,20.248495,2020-08-20 07:34:18,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x21f1d0daa58f49a0a03855966e79026d2001d00e,0x394e02caf2236dabe102ee16f563e438cc6dc4fa8c44...,72876271487,166039
3,WETH,PERL,0.111533,2.000000,22.576193,2020-08-20 07:37:55,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc26da32095985cd03201103bf400fc8058621240,0xa7b8b130b5441fbf6aa77fe37c893ec9d9c76ae375e6...,120000000000,174472
4,PERL,WETH,2.058032,0.113905,23.020060,2020-08-20 07:41:29,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb69d1b70c6d0059ff0ec29acf0dc39756dd5c38c90f2...,91905960628,169460
...,...,...,...,...,...,...,...,...,...,...,...
1879,PERL,WETH,54408.124400,1.040430,2442.195378,2022-01-22 18:30:42,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbf5ae133b9a0fc1a07952a7df2afa21f7f69ef58,0x74c508467183b864bbe20e7355d3cda742a570bd3d19...,139393529338,250000
1880,WETH,PERL,0.826848,43120.000000,2103.527868,2022-01-23 09:35:30,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xf1750fcdf2b0a3622b044a267dd9af0c19f89349,0x261b604ed43cc9e16a0ae1ee96a4de286bd0a52c876e...,108016468173,250000
1881,PERL,WETH,64969.894381,1.230842,3019.345412,2022-01-24 02:50:37,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbf5ae133b9a0fc1a07952a7df2afa21f7f69ef58,0x3dfea5ebdfa9fc9d84132ae4affd885dd4676ad28a43...,83496595440,250000
1882,WETH,PERL,0.859860,45370.000000,2068.042292,2022-01-25 08:20:08,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xf1750fcdf2b0a3622b044a267dd9af0c19f89349,0xf60ec97fdd7ba848f4216e38cd361b3763fbd6caee9e...,77000000000,250000
1883,PERL,WETH,26448.092769,0.500952,1214.963923,2022-01-25 10:51:38,0xebe90676dacd6f03b480d96a159eaeae9d78b3c9,0xebe90676dacd6f03b480d96a159eaeae9d78b3c9,0x3561b658d9c20a27037f5ea1d925549c61dc0d0103ed...,57064719477,274196

In [ ]:
perl_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x9b8d2834ba1b3c31688e084ce9792baa0ca2e2f7')
perl_weth_reserves_df = pool_reserves_to_df(perl_weth_reserves_history)
perl_weth_reserves_df

100%|██████████| 2/2 [00:00<00:00,  2.16it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,0.153498,2.958885e+02,62.347684,3.435517,1087.055819,2020-08-20
1,0.081605,5.573478e+02,33.663391,0.071893,261.459316,2020-08-21
2,0.091605,4.966680e+02,33.233211,0.010000,60.679766,2020-09-13
3,0.054551,8.350475e+02,19.107331,0.037054,338.379535,2020-09-26
4,0.211676,4.124108e+03,75.807403,0.027090,469.160952,2020-09-29
...,...,...,...,...,...,...
296,68.664748,3.408257e+06,389496.508279,6.280218,310506.295933,2022-01-21
297,66.481731,3.520565e+06,312104.292592,2.531775,130203.872200,2022-01-22
298,67.308579,3.477445e+06,342470.433438,0.826848,43120.000000,2022-01-23
299,66.077738,3.542415e+06,324187.141322,1.230842,64969.894381,2022-01-24
300,66.436645,3.523493e+06,322259.038480,1.360811,71818.092769,2022-01-25

In [ ]:
perl_weth_mints_history = get_pool_v2_mints(contract_id='0x9b8d2834ba1b3c31688e084ce9792baa0ca2e2f7', range_limit=2)
perl_weth_mints_df = pool_mints_to_df(perl_weth_mints_history)
perl_weth_mints_df

100%|██████████| 2/2 [00:00<00:00,  4.10it/s]

list index out of range

      amount0       amount1      amountUSD     liquidity           timestamp
0    0.100000  4.500000e+02      40.532671      6.708204 2020-08-20 07:31:20
1    0.184215  2.819900e+03      64.783335     22.653158 2020-09-29 17:26:24
2    0.002946  6.350000e+01       1.300028      0.424167 2020-11-06 17:48:44
3    0.458411  1.366484e+04     209.795819     77.502604 2020-11-15 03:28:53
4    4.000000  5.134500e+04    7104.893039    433.261162 2021-03-17 16:13:30
5    0.709776  7.977305e+03    1720.852504     71.214938 2021-04-22 04:32:40
6    1.000000  1.917393e+04    3056.506451    130.067237 2021-05-03 04:26:02
7    2.427751  1.000000e+05    6326.208035    453.925072 2021-08-05 10:25:44
8   67.660000  2.412971e+06  352221.287482  11767.232788 2021-08-05 13:24:54
9    4.497954  1.654781e+05   24809.899564    794.511145 2021-08-05 14:17:20
10   0.099916  3.649066e+03     616.465832     17.568849 2021-08-07 11:46:20
11   0.164932  5.948937e+03    1026.696077     28.741266 2021-08-10 04:02:55
12   3.700078  1.269672e+05   24540.856608    624.176600 2021-09-11 13:58:11

In [ ]:
perl_weth_burns_history = get_pool_v2_burns(contract_id='0x9b8d2834ba1b3c31688e084ce9792baa0ca2e2f7', range_limit=2)
perl_weth_burns_df = pool_burns_to_df(perl_weth_burns_history)
perl_weth_burns_df

100%|██████████| 2/2 [00:00<00:00,  4.04it/s]

list index out of range

    amount0       amount1     amountUSD   liquidity           timestamp
0  0.168286   3152.146958     61.360317   22.653158 2020-10-16 20:45:28
1  0.512509  12226.335932    234.545693   77.502604 2020-11-15 03:31:26
2  4.955154  42139.409144  18322.008027  433.261162 2021-03-31 18:12:31
3  1.188370  40797.542986   7648.119458  201.282176 2021-08-25 23:15:04

In [ ]:
perl_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\perl_weth_swaps.pkl")
perl_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\perl_weth_reserves.pkl")
perl_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\perl_weth_mints.pkl")
perl_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\perl_weth_burns.pkl")

In [ ]:
perl_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\perl_weth_swaps.pkl")
perl_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\perl_weth_reserves.pkl")
perl_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\perl_weth_mints.pkl")
perl_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\perl_weth_burns.pkl")

# BPT/WETH (STO)

In [ ]:
bpt_weth_history = get_pool_v2_with_gas_history(contract_id='0x13e638b4f89740a1c2ff45d71f71ee28101cc1dc', range_limit=10)
all_bpt_weth_history, other_bpt_weth_history = filter_swaps(bpt_weth_history)
bpt_weth_df = pool_history_v2_with_gas_to_df(all_bpt_weth_history)
bpt_weth_df

 50%|█████     | 5/10 [00:39<00:28,  5.71s/it]

list index out of range

 60%|██████    | 6/10 [00:40<00:17,  4.34s/it]

list index out of range

 70%|███████   | 7/10 [00:40<00:08,  2.99s/it]

list index out of range

 80%|████████  | 8/10 [00:42<00:05,  2.52s/it]

list index out of range

 90%|█████████ | 9/10 [00:42<00:01,  1.81s/it]

list index out of range

100%|██████████| 10/10 [00:42<00:00,  4.29s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,BPT,WETH,0.028860,5.899406,981.913051,2020-05-31 20:25:35,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x96c3ba83d4aacebef71866ecaa8d57a5d681bf470e20...,18000000000,195297
1,WETH,BPT,0.100000,0.001160,23.833425,2020-05-31 20:34:44,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x19bc2718782f2ae9d22c66d4d364394ecad1a771,0x8f4a0a3e964ff565c46d788ebef3ec25cc589a37b379...,17000000000,165928
2,WETH,BPT,0.050000,0.000559,11.843336,2020-05-31 20:38:21,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x19bc2718782f2ae9d22c66d4d364394ecad1a771,0xe31f8cb2aa234d1f690c063577702a9be98c10670f51...,17000000000,149166
3,WETH,BPT,1.000000,0.008956,263.136013,2020-05-31 21:03:51,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x2593ca08fda3c2526409493cd1ffa3f656d0b7c6,0x712c35f27ffe151a02846fd3748ff034e6d123b45ca0...,19000000000,165928
4,BPT,WETH,0.010674,0.213296,25.501870,2020-06-06 07:04:33,0x693c188e40f760ecf00d2946ef45260b84fbc43e,0x693c188e40f760ecf00d2946ef45260b84fbc43e,0xa4526e81d57c9a1f5dbeede9b333ac9f7806e88260f0...,61000000000,299383
...,...,...,...,...,...,...,...,...,...,...,...
3151,WETH,BPT,0.004000,89828.981912,13.227908,2021-08-24 00:59:34,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xce6e51ae6a876feb78df6bd7ce224935d249d61f,0x434eae879295625399358b088daffab5e28fe426ce3b...,64051307712,152654
3152,WETH,BPT,0.005000,82946.747246,16.459484,2021-08-24 01:27:16,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xce6e51ae6a876feb78df6bd7ce224935d249d61f,0x6810a641f416cb9ad102ac82a73ad3c375e02f75e137...,62701766040,152654
3153,BPT,WETH,308326.263648,0.013275,44.069736,2021-08-24 10:46:30,0x0000000000007f150bd6f54c40a34d7c3d5e9f56,0x0000000000007f150bd6f54c40a34d7c3d5e9f56,0xfeb0ca3b8abb121c3abeecd2729b46a38ed4d972af87...,32336899188,314743
3154,WETH,BPT,0.002000,68782.696426,6.129898,2021-09-20 19:58:11,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x03711e1f9e1c1767690958a1fc6f4a88ec74253c,0x3228d95f8ced3dd842d050c83a44d980afb713a665c9...,74613063460,173500
3155,WETH,BPT,0.000100,3128.234609,0.309823,2021-09-23 16:27:37,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x22f9dcf4647084d6c31b2765f6910cd85c178c18,0xa767b2d9d740db5adf2a15fcb593829f1065881b5be0...,98878135583,464664

In [ ]:
bpt_weth_reserves_history = get_pool_v2_reserves_history(contract_id='0x13e638b4f89740a1c2ff45d71f71ee28101cc1dc')
bpt_weth_reserves_df = pool_reserves_to_df(bpt_weth_reserves_history)
bpt_weth_reserves_df

100%|██████████| 2/2 [00:01<00:00,  1.38it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,8.600000e-17,1.174100e-14,5.524124e-12,0.039536,7.049406,2020-05-31
1,3.568712e-01,1.034103e+00,4.988966e+02,0.704712,4.782504,2020-06-06
2,2.933035e-01,1.278057e+00,3.108033e+02,1.694110,7.916374,2020-06-07
3,9.057933e-01,5.475164e+00,2.675147e+03,1.948616,11.165002,2020-06-08
4,7.743387e+00,3.873774e+01,1.891492e+04,7.808211,44.955769,2020-06-09
...,...,...,...,...,...,...
142,7.242572e+05,2.311737e-02,4.604234e+01,394952.489876,0.012186,2021-06-23
143,7.503883e+05,2.240183e-02,7.196929e+01,881199.884171,0.067534,2021-08-20
144,7.975512e+05,2.112689e-02,7.013638e+01,569489.586768,0.025275,2021-08-24
145,7.287685e+05,2.312689e-02,7.088274e+01,68782.696426,0.002000,2021-09-20
146,7.256403e+05,2.322689e-02,7.196232e+01,3128.234609,0.000100,2021-09-23

In [ ]:
bpt_weth_mints_history = get_pool_v2_mints(contract_id='0x13e638b4f89740a1c2ff45d71f71ee28101cc1dc', range_limit=2)
bpt_weth_mints_df = pool_mints_to_df(bpt_weth_mints_history)
bpt_weth_mints_df

100%|██████████| 2/2 [00:00<00:00,  3.08it/s]

list index out of range

         amount0    amount1    amountUSD  liquidity           timestamp
0       0.020000  10.000000  2354.500343   0.447214 2020-05-31 20:08:08
1       0.001831   0.250000    59.780438   0.021293 2020-06-06 07:04:20
2       0.340693   1.000000   239.076967   0.580127 2020-06-06 07:15:57
3       0.174360   1.000000   486.384907   0.409298 2020-06-08 09:55:18
4       0.167803   1.000000   486.499650   0.401232 2020-06-08 10:06:02
5       0.167803   1.000000   486.602570   0.401232 2020-06-08 10:17:14
6       0.137937   1.000000   486.689204   0.363726 2020-06-08 10:21:09
7       0.571854   2.500000  1215.168223   1.168421 2020-06-09 08:06:05
8       2.287418  10.000000  4860.672890   4.673685 2020-06-09 08:08:58
9       4.346094  19.000000  9201.905567   8.880001 2020-06-09 08:35:19
10      0.637020   3.000000  1454.844194   1.348314 2020-06-10 13:53:17
11      2.129615  10.000000  4900.068760   4.498635 2020-06-11 10:20:51
12      3.187495  15.000000  7349.409255   6.740620 2020-06-11 12:16:36
13      3.425982  16.033221  7579.431632   7.204152 2020-06-12 11:14:29
14      4.043246  20.000000  9500.786193   8.737203 2020-06-12 21:49:32
15      0.490810   2.366537  1123.687033   1.047100 2020-06-12 22:05:07
16      0.120000   0.578604   275.360797   0.256009 2020-06-13 00:12:05
17      0.417425   2.000000   945.694963   0.887479 2020-06-13 09:35:15
18      2.502452  13.000000  6151.425738   5.536737 2020-06-14 05:40:44
19      2.500000  12.552841  5893.123566   5.436221 2020-06-14 10:19:27
20      2.688644  13.188354  5729.608137   5.772561 2020-06-15 06:44:19
21      0.337620   1.652247   733.467364   0.724020 2020-06-15 09:07:29
22      2.663962  13.316677  6020.259033   5.771805 2020-06-15 18:02:26
23      2.500000  12.901588  5976.749842   5.495955 2020-06-16 07:48:03
24      1.893263   9.714947  4543.444015   4.147487 2020-06-17 07:54:12
25      1.879309   9.296702  4291.564964   4.036592 2020-06-18 09:23:15
26      0.080444   0.409880   189.405062   0.175355 2020-06-18 11:37:24
27      0.106230   0.545197   249.237931   0.232326 2020-06-18 19:19:40
28      0.087000   0.485230   221.416095   0.198085 2020-06-19 19:36:42
29      0.007342   0.040000    18.324627   0.016500 2020-06-21 02:40:43
30      0.193782   0.998441   485.781721   0.421240 2020-06-23 12:33:25
31      0.286987   1.460682   708.370486   0.619460 2020-06-23 21:15:01
32      0.116871   0.587994   290.326059   0.250654 2020-06-24 06:10:45
33      0.350000   1.916330   875.344107   0.778209 2020-06-26 19:32:41
34  20122.823476   0.106483    23.593251  39.372188 2020-06-29 14:24:25
35   1192.636631   0.017458     3.888563   3.746737 2020-06-29 15:32:34
36   3000.000000   0.013802     3.143884   5.084476 2020-06-30 00:18:48
37   7000.000000   0.032204     7.321985  11.863776 2020-06-30 00:27:17
38    828.881407   0.002314     0.532230   1.078611 2020-07-01 16:53:24
39   1079.540090   0.008253     1.996824   2.240535 2020-07-21 15:29:08
40  31300.272068   0.312001   112.324130  68.824627 2020-09-16 05:45:57
41  18888.422117   0.120000    45.605630  33.138468 2020-09-17 03:03:38

In [ ]:
bpt_weth_burns_history = get_pool_v2_burns(contract_id='0x13e638b4f89740a1c2ff45d71f71ee28101cc1dc', range_limit=2)
bpt_weth_burns_df = pool_burns_to_df(bpt_weth_burns_history)
bpt_weth_burns_df

100%|██████████| 2/2 [00:00<00:00,  3.88it/s]

list index out of range

         amount0    amount1    amountUSD  liquidity           timestamp
0       0.038184   5.250594  2461.568018   0.447214 2020-05-31 21:06:15
1       0.417425   2.000000   945.674491   0.887479 2020-06-13 10:07:00
2       0.119339   0.582595   275.554580   0.256009 2020-06-13 16:50:17
3       3.280877  16.797741  7885.957027   7.204152 2020-06-14 10:14:07
4       2.659988  11.818349  5190.763404   5.436221 2020-06-15 06:32:10
5       2.575563  13.775960  6217.870796   5.772561 2020-06-15 17:54:35
6       0.007609   0.038823    17.953201   0.016500 2020-06-22 02:10:53
7       2.714016  13.339686  6494.472194   5.771805 2020-06-22 18:27:18
8       0.228369   1.126151   543.369184   0.485606 2020-06-23 16:38:16
9       4.187742  20.707012  9628.537045   8.880001 2020-06-25 16:48:59
10      2.254845  12.293817  5621.547012   5.000000 2020-06-27 06:19:54
11      1.890473  10.326405  4735.810114   4.195795 2020-06-27 08:04:21
12      2.249246  12.730518  5563.581778   5.074951 2020-06-28 06:24:14
13  19926.757513   0.107702    23.803892  39.372188 2020-06-29 14:26:50
14    813.791060   0.002403     0.539017   1.078611 2020-07-03 01:26:21
15  19129.762850   0.119165    41.874881  33.138468 2020-09-25 18:23:42
16  17575.753291   0.171770    62.248234  38.000000 2020-10-01 05:29:36
17   4158.584270   0.007186     3.954241   3.746737 2020-11-29 10:11:56

In [ ]:
bpt_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\bpt_weth_swaps.pkl")
bpt_weth_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\bpt_weth_reserves.pkl")
bpt_weth_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\bpt_weth_mints.pkl")
bpt_weth_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\bpt_weth_burns.pkl")

In [ ]:
bpt_weth_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\bpt_weth_swaps.pkl")
bpt_weth_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\bpt_weth_reserves.pkl")
bpt_weth_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\bpt_weth_mints.pkl")
bpt_weth_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\bpt_weth_burns.pkl")

# uSTONKS_APR21/USDC (STO)

In [ ]:
stonks_usdc_history = get_pool_v2_with_gas_history(contract_id='0xedf187890af846bd59f560827ebd2091c49b75df', range_limit=2)
all_stonks_usdc_history, other_stonks_usdc_history = filter_swaps(stonks_usdc_history)
stonks_usdc_df = pool_history_v2_with_gas_to_df(all_stonks_usdc_history)
stonks_usdc_df

100%|██████████| 2/2 [00:01<00:00,  1.52it/s]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,USDC,uSTONKS_APR21,2159.220526,10.000000,2157.435115,2021-03-09 15:01:21,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x9670d11c6bdde4d239f699ac71dd77075c35603d,0xeaf57e2488fdd6b12b0d01ba29f687f2523efe2f1126...,132000000233,257717
1,USDC,uSTONKS_APR21,909.722591,4.178164,910.537242,2021-03-09 15:03:07,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x64e78ba4baca646f77a6bf7bcbcc5a31fc066ef2,0xdaa555d301b25d8dec1d814a1edf263b25ecf703c00e...,125000000000,222569
2,USDC,uSTONKS_APR21,8881.277097,40.000000,8903.658224,2021-03-09 15:41:02,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xd2a78bb82389d30075144d17e782964918999f7f,0x749f55e09dfd5ec051ad880919f44c9816b708718d18...,129000000000,153940
3,USDC,uSTONKS_APR21,225.978716,1.000000,225.626999,2021-03-09 16:10:17,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xf3239400cd2135cf5f99e191018eeb2a6d01eb76,0xbec0e4637d4a85ecbae54044c8b49a26929eca1a91d4...,115000000000,226932
4,USDC,uSTONKS_APR21,452.519620,2.000000,452.148230,2021-03-09 16:52:44,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x9ebc8ad4011c7f559743eb25705ccf5a9b58d0bc,0xadf350a8ae7c9576db9f875e88081856085159359245...,120000000000,153940
...,...,...,...,...,...,...,...,...,...,...,...
170,uSTONKS_APR21,USDC,0.085158,19.914283,19.908919,2021-06-06 21:24:34,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0x1f6998d775b94a8dd2cbc1440aa8b98bc5436037fe8d...,16000000000,246903
171,uSTONKS_APR21,USDC,2.000000,456.462039,456.631901,2021-06-16 21:32:05,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xaec738f4941021329b4f22a5e3f4ac8b350094da6fea...,16500000000,246918
172,uSTONKS_APR21,USDC,14.194925,2628.472904,2627.863860,2021-06-16 22:20:28,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0x0990fd97223d006eae1f655e82467fa0ec5f0890,0x5ef7d1d1afae0c0ab474dd86361264bbc984686a4311...,17000000000,138076
173,USDC,uSTONKS_APR21,1757.054740,10.000000,1756.773370,2021-06-17 14:21:41,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4481461f5d2cea356855917cd7c213001bbfa087,0xb0dd839a329ed3e0ff8339daacf3a41935ab35cd34b9...,30000000000,169940
174,USDC,uSTONKS_APR21,1303.273063,6.000000,1303.125579,2021-06-17 14:33:03,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4481461f5d2cea356855917cd7c213001bbfa087,0x69cbeae53df44383b0a4fe17605226cb2f0fec0806e7...,29000000000,169940

In [ ]:
stonks_usdc_reserves_history = get_pool_v2_reserves_history(contract_id='0xedf187890af846bd59f560827ebd2091c49b75df')
stonks_usdc_reserves_df = pool_reserves_to_df(stonks_usdc_reserves_history)
stonks_usdc_reserves_df

100%|██████████| 2/2 [00:00<00:00,  2.73it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,2140.000000,10.000000,2.140008e+03,0.000000,0.000000,2021-03-03
1,201160.000000,940.000000,2.010901e+05,0.000000,0.000000,2021-03-04
2,326686.649424,1526.573126,6.540885e+05,0.000000,0.000000,2021-03-08
3,772987.580097,3113.030262,1.548919e+06,44927.128659,192.385929,2021-03-09
4,964121.731448,3612.702829,1.927069e+06,68772.248216,266.364921,2021-03-10
...,...,...,...,...,...,...
63,77250.898244,329.266456,1.544002e+05,0.000000,0.000000,2021-06-05
64,77230.983961,329.351614,1.544204e+05,19.914283,0.085158,2021-06-06
65,19195.283406,81.858307,3.838067e+04,0.000000,0.000000,2021-06-09
66,12938.376910,83.858307,2.587076e+04,3084.934943,16.194925,2021-06-16
67,15998.704713,67.858307,3.199379e+04,3060.327803,16.000000,2021-06-17

In [ ]:
stonks_usdc_mints_history = get_pool_v2_mints(contract_id='0xedf187890af846bd59f560827ebd2091c49b75df', range_limit=2)
stonks_usdc_mints_df = pool_mints_to_df(stonks_usdc_mints_history)
stonks_usdc_mints_df

100%|██████████| 2/2 [00:00<00:00,  2.06it/s]

list index out of range

,amount0,amount1,amountUSD,liquidity,timestamp
0,2140.000000,10.000000,2140.007877,1.462864e-10,2021-03-03 02:28:49
1,199020.000000,930.000000,198950.834595,1.360473e-08,2021-03-04 21:22:02
2,6756.649335,31.573127,13513.202827,4.618750e-10,2021-03-08 15:03:10
3,118770.000089,554.999999,237800.008546,8.118950e-09,2021-03-08 15:28:01
4,8667.000012,40.499999,17329.377349,5.924639e-10,2021-03-09 12:29:59
...,...,...,...,...,...
164,340.201166,1.299999,679.540116,2.102001e-11,2021-03-25 18:51:51
165,18742.306377,72.616696,37533.745868,1.166055e-09,2021-03-26 05:41:50
166,1262.832587,4.750000,2524.775878,7.740665e-11,2021-04-04 04:07:54
167,49.851846,0.187628,99.725424,3.056655e-12,2021-04-07 05:04:04
168,99.711091,0.401321,199.408240,6.321788e-12,2021-04-15 09:34:46

In [ ]:
stonks_usdc_burns_history = get_pool_v2_burns(contract_id='0xedf187890af846bd59f560827ebd2091c49b75df', range_limit=2)
stonks_usdc_burns_df = pool_burns_to_df(stonks_usdc_burns_history)
stonks_usdc_burns_df

100%|██████████| 2/2 [00:00<00:00,  2.62it/s]

list index out of range

          amount0     amount1      amountUSD     liquidity           timestamp
0     2176.015236    9.999998    4356.427361  1.475114e-10 2021-03-09 15:26:40
1     2271.214859    9.915943    4538.273084  1.500632e-10 2021-03-09 17:02:02
2    20026.726443   80.539183   39951.044276  1.269865e-09 2021-03-09 23:17:27
3     1093.486745    4.397549    2181.339222  6.933637e-11 2021-03-09 23:18:21
4      133.183882    0.535021     266.250195  8.440200e-12 2021-03-10 07:29:36
..            ...         ...            ...           ...                 ...
129    240.569900    1.158706     481.032553  1.668136e-11 2021-05-24 07:27:29
130   3164.520379   15.241929    6328.657926  2.194311e-10 2021-06-02 11:44:27
131    300.523456    1.280920     600.651467  1.959890e-11 2021-06-05 07:25:09
132  58035.700555  247.493307  116041.478759  3.785825e-09 2021-06-09 01:25:20
133   3171.971553   14.194925    6346.593542  2.119565e-10 2021-06-16 22:10:47

[134 rows x 5 columns]

In [ ]:
stonks_usdc_df.to_pickle(os.getcwd() + "\\pkl_stories\\stonks_usdc_swaps.pkl")
stonks_usdc_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\stonks_usdc_reserves.pkl")
stonks_usdc_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\stonks_usdc_mints.pkl")
stonks_usdc_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\stonks_usdc_burns.pkl")

In [ ]:
stonks_usdc_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\stonks_usdc_swaps.pkl")
stonks_usdc_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\stonks_usdc_reserves.pkl")
stonks_usdc_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\stonks_usdc_mints.pkl")
stonks_usdc_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\stonks_usdc_burns.pkl")

# mAMZN/UST (STO)

In [ ]:
amzn_ust_history = get_pool_v2_with_gas_history(contract_id='0x0ae8cb1f57e3b1b7f4f5048743710084aa69e796', range_limit=3)
all_amzn_ust_history, other_amzn_ust_history = filter_swaps(amzn_ust_history)
amzn_ust_df = pool_history_v2_with_gas_to_df(all_amzn_ust_history)
amzn_ust_df

100%|██████████| 3/3 [00:05<00:00,  1.72s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,UST,mAMZN,2350.000000,0.726130,1289.197989,2020-12-03 19:08:10,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xf53cab0c6f25f48f985d1e2c40e03fc7c1963364,0xf5c5766c2684fdd0997bf77520eb59828466e17f263b...,40000000000,178312
1,UST,mAMZN,4300.000000,1.300860,2326.242409,2020-12-03 19:09:07,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4add3b2277e1a79e4cf6b52ccb26b2c80b37f142,0xb10cd689a829a7e356b73596d6fca504a11421d9387f...,33000000000,178312
2,UST,mAMZN,2884.657644,0.853276,1532.971308,2020-12-03 19:16:53,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xdec08cb92a506b88411da9ba290f3694be223c26,0x746b2fc227338792f29f6f22f4c5e06f21a12183e973...,50000000000,144815
3,mAMZN,UST,0.400000,1350.538418,719.845223,2020-12-03 19:21:42,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xdec08cb92a506b88411da9ba290f3694be223c26,0x215b96593f26c2b770b98fa8c89ad72585395c5cd994...,50000000000,144711
4,mAMZN,UST,0.400000,1339.406326,714.389322,2020-12-03 19:22:29,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xdec08cb92a506b88411da9ba290f3694be223c26,0x7d96885b515444001a8d60e19fc600aab4cafcf1ab54...,50000000000,144711
...,...,...,...,...,...,...,...,...,...,...,...
1749,UST,mAMZN,28357.153073,9.925040,14248.346705,2022-01-24 00:21:33,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xe8a31d203baa1837a3e88ead9517f88639c7ffb7,0x57996baf97da3fee8fe67bcf4e2e62ae51219ca6a7ad...,165670065228,250000
1750,UST,mAMZN,30000.000000,10.360891,14974.216126,2022-01-24 20:36:54,0x1111111254fb6c44bac0bed2854e76f90643097d,0x5690df030163680f4da2046798614c3f5c24f64a,0x46b6390b622b0815088d63ff743a0815d6a156b99848...,166837855864,133413
1751,UST,mAMZN,20000.000000,6.829162,9993.918569,2022-01-24 22:11:15,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x9fb7e5f71517c9b0059e3200b51bbd1477db333b,0x83b6433a4f606d1199b5d970ca29b3614d376d7bcb09...,218400000000,300000
1752,mAMZN,UST,1.707799,4988.491581,2496.121618,2022-01-25 09:29:31,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x07450ffdaa82ec583f2928bf69293d05e53a4ae9,0x8ce704b5be14deec33863e29fa009a3e4ab753386071...,60000000000,1161058
1753,mAMZN,UST,10.350530,29994.135163,14958.731158,2022-01-25 14:47:39,0x1111111254fb6c44bac0bed2854e76f90643097d,0x5690df030163680f4da2046798614c3f5c24f64a,0x90840555e59dc84e33de9eb3097ba32f75f4d988cf34...,122468712065,133412

In [ ]:
amzn_ust_reserves_history = get_pool_v2_reserves_history(contract_id='0x0ae8cb1f57e3b1b7f4f5048743710084aa69e796')
amzn_ust_reserves_df = pool_reserves_to_df(amzn_ust_reserves_history)
amzn_ust_reserves_df

100%|██████████| 2/2 [00:00<00:00,  2.05it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,158.952192,5.641813e+05,5.653179e+05,16.852962,59216.161844,2020-12-03
1,177.710358,5.563377e+05,5.640840e+05,46.880551,163757.007667,2020-12-04
2,171.565135,5.634286e+05,5.822974e+05,4.142479,13322.279504,2020-12-05
3,169.159847,5.858983e+05,5.858964e+05,16.177000,55693.169813,2020-12-06
4,231.699170,7.406623e+05,7.386575e+05,11.446256,38683.434061,2020-12-07
...,...,...,...,...,...,...
358,1589.428693,4.691940e+06,4.721107e+06,138.307460,413922.548619,2022-01-21
359,1563.896968,4.392660e+06,4.427650e+06,140.491300,390104.439249,2022-01-22
360,1532.995157,4.338558e+06,4.350743e+06,56.077629,155351.982007,2022-01-23
361,1505.880065,4.416915e+06,4.414229e+06,27.115092,78357.153073,2022-01-24
362,1516.230595,4.376924e+06,4.365735e+06,12.058329,34982.626744,2022-01-25

In [ ]:
amzn_ust_mints_history = get_pool_v2_mints(contract_id='0x0ae8cb1f57e3b1b7f4f5048743710084aa69e796', range_limit=2)
amzn_ust_mints_df = pool_mints_to_df(amzn_ust_mints_history)
amzn_ust_mints_df

100%|██████████| 2/2 [00:01<00:00,  1.33it/s]

list index out of range

       amount0        amount1      amountUSD    liquidity           timestamp
0    96.964393  310524.777000       0.000000  5487.243982 2020-12-03 16:38:49
1     0.726130    2425.916406    2624.945114    41.969274 2020-12-03 19:10:17
2     1.300860    4346.019834    4574.328112    75.187792 2020-12-03 19:14:47
3     0.282262     949.919644    1104.382118    16.373538 2020-12-03 20:16:18
4     0.588902    2006.229668    2404.438388    34.370103 2020-12-03 20:19:26
..         ...            ...            ...          ...                 ...
377  13.898719   50047.877882   50062.598486   826.443850 2021-12-03 19:20:12
378   0.030611     105.819746     105.363550     1.783311 2021-12-07 04:20:10
379   0.017086      58.677134      58.776595     0.992013 2021-12-19 03:42:49
380   0.006710      23.044913      23.159209     0.389603 2021-12-20 05:13:04
381  33.065534  106401.612050  106673.638911  1856.939645 2022-01-19 17:40:16

[382 rows x 5 columns]

In [ ]:
amzn_ust_burns_history = get_pool_v2_burns(contract_id='0x0ae8cb1f57e3b1b7f4f5048743710084aa69e796', range_limit=2)
amzn_ust_burns_df = pool_burns_to_df(amzn_ust_burns_history)
amzn_ust_burns_df

100%|██████████| 2/2 [00:01<00:00,  1.84it/s]

list index out of range

       amount0        amount1      amountUSD    liquidity           timestamp
0     0.696842    2528.311056    2756.019435    41.969274 2020-12-03 20:38:33
1     1.243127    4548.890768    4684.956037    75.187792 2020-12-03 21:07:58
2     0.387631    1461.508795    1477.470497    23.795304 2020-12-04 00:47:41
3     1.502367    5636.908980    5651.815298    92.000031 2020-12-04 01:22:38
4     1.606812    5165.487462    5196.791812    91.059361 2020-12-04 04:11:52
..         ...            ...            ...          ...                 ...
247   8.640328   25084.139386   25140.867058   460.820000 2022-01-22 06:09:19
248   8.757288   25150.721416   25198.613388   464.540000 2022-01-22 09:59:46
249  48.010088  135394.126557  135781.266980  2523.590055 2022-01-22 16:26:45
250  25.175819   70713.611875   71145.492102  1320.560127 2022-01-23 03:57:03
251   1.707799    5009.165893    5012.933096    91.533661 2022-01-25 09:29:31

[252 rows x 5 columns]

In [ ]:
amzn_ust_df.to_pickle(os.getcwd() + "\\pkl_stories\\amzn_ust_swaps.pkl")
amzn_ust_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\amzn_ust_reserves.pkl")
amzn_ust_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\amzn_ust_mints.pkl")
amzn_ust_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\amzn_ust_burns.pkl")

In [ ]:
amzn_ust_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\amzn_ust_swaps.pkl")
amzn_ust_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\amzn_ust_reserves.pkl")
amzn_ust_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\amzn_ust_mints.pkl")
amzn_ust_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\amzn_ust_burns.pkl")

# mBABA/UST (STO)

In [ ]:
baba_ust_history = get_pool_v2_with_gas_history(contract_id='0x676ce85f66adb8d7b8323aeefe17087a3b8cb363', range_limit=3)
all_baba_ust_history, other_baba_ust_history = filter_swaps(baba_ust_history)
baba_ust_df = pool_history_v2_with_gas_to_df(all_baba_ust_history)
baba_ust_df

100%|██████████| 3/3 [00:06<00:00,  2.05s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,UST,mBABA,950.000000,3.542464,510.868031,2020-12-03 19:03:22,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x443b29e221b54f7be8c0805859f57028cff0a1ca,0xea779b667c8dde199c3abe49b1c732c009276bfb1643...,41000000000,178312
1,UST,mBABA,1400.000000,5.181502,745.943556,2020-12-03 19:18:51,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xcc05590ba009b10cb30a7b7e87e2f517ea2f4301,0xeefa261f3ca7743fd27ed017e1546cb4d7061f9aec06...,50000000000,144788
2,mBABA,UST,5.181502,1391.649698,741.772921,2020-12-03 19:22:03,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xcc05590ba009b10cb30a7b7e87e2f517ea2f4301,0xabd1c1da10b4e202e352b92fe858a26f2cc750ca1b08...,75000000000,127976
3,UST,mBABA,208.000000,0.772721,128.343904,2020-12-03 19:46:39,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x443b29e221b54f7be8c0805859f57028cff0a1ca,0x0bd039d09278d3908f5ceecd06afed1ba1e5fadb9166...,45000000000,144788
4,UST,mBABA,2468.188484,9.091875,1523.261175,2020-12-03 19:47:40,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xd1373dfb5ff412291c06e5dfe6b25be239dbcf3e,0x1864dddfe597d746b3045dfff96a1db0870eb267c62f...,38000000000,144815
...,...,...,...,...,...,...,...,...,...,...,...
1976,mBABA,UST,194.314305,24872.359644,12467.049268,2022-01-22 06:12:41,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x657e21723ae99c05c9c2a6032343c7865bcb1940,0x33c0f999e15825ccc9b15a621dd82151ccfd9cfd1418...,115509860755,131576
1977,mBABA,UST,196.672442,24936.751685,12501.871221,2022-01-22 10:01:15,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x657e21723ae99c05c9c2a6032343c7865bcb1940,0x3517ab14d6e76b2e0c832c657703951113bfa6db33e5...,242095914479,131576
1978,mBABA,UST,149.789451,18833.478303,9367.787867,2022-01-22 11:32:58,0x1111111254fb6c44bac0bed2854e76f90643097d,0xbbccf6cab5b3aec26b0cbc6095b5b6ddbacfd59a,0x94b7e3264558a8ee16aaf6b25389bd3f041ee3ba79c0...,93642477025,133436
1979,mBABA,UST,108.920567,13609.250398,6835.511057,2022-01-23 10:44:52,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb143bbb43bf05c0fafdeb7e5fa5f0672584eafc6,0xe0c898a7e995a0ca45482c57f378b65ba1f90084a416...,76214988934,131576
1980,mBABA,UST,19.660872,2448.893583,1220.557614,2022-01-25 12:28:22,0xdef1c0ded9bec7f1a1670819833240f027b25eff,0xf696350f37cb8a1cc9c56ec5c8cff00a5e01fd40,0x9aca7f0a4c3d5fee84f20206b5fa56673659b044807b...,68755581883,134738

In [ ]:
baba_ust_reserves_history = get_pool_v2_reserves_history(contract_id='0x676ce85f66adb8d7b8323aeefe17087a3b8cb363')
baba_ust_reserves_df = pool_reserves_to_df(baba_ust_reserves_history)
baba_ust_reserves_df

100%|██████████| 2/2 [00:00<00:00,  2.03it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,1968.519784,5.234900e+05,5.245581e+05,326.683541,96029.025979,2020-12-03
1,2079.330923,5.591906e+05,5.739436e+05,515.083593,142037.025919,2020-12-04
2,1985.548667,5.547407e+05,5.563241e+05,38.191354,10500.000000,2020-12-05
3,1967.865076,5.597407e+05,5.421465e+05,17.683591,5000.000000,2020-12-06
4,2646.178589,7.017764e+05,7.051406e+05,72.379041,19801.532235,2020-12-07
...,...,...,...,...,...,...
369,41069.281755,5.619513e+06,5.605969e+06,1594.357007,215986.176313,2022-01-20
370,41130.475131,5.347089e+06,5.409394e+06,1348.340810,179399.565184,2022-01-21
371,41183.121970,5.174818e+06,5.222368e+06,702.058005,89465.415331,2022-01-22
372,41128.655039,5.140715e+06,5.147569e+06,108.920567,13609.250398,2022-01-23
373,41128.655039,5.135809e+06,5.119496e+06,19.660872,2448.893583,2022-01-25

In [ ]:
baba_ust_mints_history = get_pool_v2_mints(contract_id='0x676ce85f66adb8d7b8323aeefe17087a3b8cb363', range_limit=2)
baba_ust_mints_df = pool_mints_to_df(baba_ust_mints_history)
baba_ust_mints_df

100%|██████████| 2/2 [00:01<00:00,  1.43it/s]

list index out of range

,amount0,amount1,amountUSD,liquidity,timestamp
0,1167.962326,311331.417600,0.000000,19068.910998,2020-12-03 16:40:45
1,3.542464,950.040144,1028.415990,58.012517,2020-12-03 19:06:22
2,0.750242,207.513703,256.056507,12.476891,2020-12-03 19:48:08
3,7.805269,2218.220421,2350.304792,131.573890,2020-12-03 19:50:01
4,8.284386,2354.383024,2494.572829,139.650383,2020-12-03 19:50:09
...,...,...,...,...,...
319,12.553229,1628.120317,1621.743560,141.428365,2022-01-05 10:28:26
320,322.537032,42157.926395,41970.192675,3647.857501,2022-01-05 14:14:41
321,107.345868,14492.334773,14549.079874,1233.823599,2022-01-06 09:05:30
322,724.400469,101914.085479,101955.339349,8498.464856,2022-01-12 22:56:43
323,539.413674,74586.266878,74363.734456,6273.529276,2022-01-18 19:44:19

In [ ]:
baba_ust_burns_history = get_pool_v2_burns(contract_id='0x676ce85f66adb8d7b8323aeefe17087a3b8cb363', range_limit=2)
baba_ust_burns_df = pool_burns_to_df(baba_ust_burns_history)
baba_ust_burns_df

100%|██████████| 2/2 [00:00<00:00,  2.17it/s]

list index out of range

        amount0       amount1     amountUSD    liquidity           timestamp
0     31.758278  10691.232509  12070.013279   582.587828 2020-12-03 20:24:10
1      7.373068   2349.029837   2549.441799   131.573890 2020-12-03 20:37:06
2      3.975777   1250.349647   1239.861845    70.489408 2020-12-03 21:53:44
3      6.940986   1940.260367   1955.765918   115.971999 2020-12-04 03:30:30
4     49.045092  13621.828882  13687.302220   816.819225 2020-12-04 04:19:21
..          ...           ...           ...          ...                 ...
170  149.789451  18958.717574  18861.348330  1666.421186 2022-01-22 11:31:43
171  108.634968  13650.403345  13775.831045  1204.189635 2022-01-22 17:27:00
172  108.920567  13686.290011  13728.569231  1207.355428 2022-01-23 10:31:39
173   54.466931   6807.880375   6816.957189   602.154600 2022-01-23 12:16:52
174   19.660872   2457.433583   2450.047980   217.359127 2022-01-25 12:04:45

[175 rows x 5 columns]

In [ ]:
baba_ust_df.to_pickle(os.getcwd() + "\\pkl_stories\\baba_ust_swaps.pkl")
baba_ust_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\baba_ust_reserves.pkl")
baba_ust_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\baba_ust_mints.pkl")
baba_ust_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\baba_ust_burns.pkl")

In [ ]:
baba_ust_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\baba_ust_swaps.pkl")
baba_ust_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\baba_ust_reserves.pkl")
baba_ust_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\baba_ust_mints.pkl")
baba_ust_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\baba_ust_burns.pkl")

# mAPPLE/UST (STO)

In [ ]:
apple_ust_history = get_pool_v2_with_gas_history(contract_id='0xb022e08adc8ba2de6ba4fecb59c6d502f66e953b', range_limit=4)
all_apple_ust_history, other_apple_ust_history = filter_swaps(apple_ust_history)
apple_ust_df = pool_history_v2_with_gas_to_df(all_apple_ust_history)
apple_ust_df

100%|██████████| 4/4 [00:08<00:00,  2.15s/it]

list index out of range

,token_in,token_out,amount_in,amount_out,amount_usd,timestamp,sender,to,txd,gas_price,gas_used
0,UST,mAAPL,297.072343,2.404518,149.249384,2020-12-03 17:54:40,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x8f70b3ac45a6896532fb90b992d5b7827ba88d3c,0x5c450e4f9908aa58814be20fc50d60b03c3798f99af7...,58000000000,178261
1,UST,mAAPL,1000.000000,8.060584,531.155662,2020-12-03 19:25:57,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x55e1490a1878d0b61811726e2cb96560022e764c,0x5cc783f79cdab6a966cc9de5d69215dd4199c1f367af...,57000000000,184711
2,UST,mAAPL,1000.000000,8.009403,529.764717,2020-12-03 19:50:13,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc5cee9416571752528acbb4331761c5e2706748c,0x0d5279feeb6c1536f2f8ee5efda3901352e6697fb84a...,36000000000,144711
3,UST,mAAPL,10000.000000,77.390496,5504.266915,2020-12-03 19:51:07,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x36d2269af2b297ca11b1c61e8a3baf140b177ea1,0x339975916e81727fbf0060810da871921ca5aecb85aa...,100000000000,144738
4,UST,mAAPL,5000.000000,36.938175,2752.007649,2020-12-03 19:52:27,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x55e1490a1878d0b61811726e2cb96560022e764c,0xd2ad1e3793ea315c70b1bd90999caffbe498eb5aefab...,101000000000,174738
...,...,...,...,...,...,...,...,...,...,...,...
2337,mAAPL,UST,95.544805,15208.894691,7540.605612,2022-01-25 22:22:05,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xe8a31d203baa1837a3e88ead9517f88639c7ffb7,0x2d570feee30fc34e0cf63760fe584592deb5a9f40605...,191342785245,250000
2338,mAAPL,UST,69.994215,11087.224071,5566.642974,2022-01-25 23:26:00,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc3f35f5d1c1eb7a28aa7e79a0729053294279fc6,0x45ffadbf5bba3f45480c8303b56200b505d682bb3208...,105911780340,131660
2339,mAAPL,UST,338.673456,52999.749246,26552.029132,2022-01-26 00:18:43,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x322e9313fba28fa9b21b0532b92b49077f107070,0x22d2a371f13506b4d10170f847e01de68c76598255f1...,131081106493,131660
2340,UST,mAAPL,32500.000000,207.245845,16282.001879,2022-01-26 00:19:09,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x9fb7e5f71517c9b0059e3200b51bbd1477db333b,0x38391e64a84e6672a6b048453b53b6cf4e80ff9c8ec2...,244800000000,300000
2341,UST,mAAPL,14033.754886,88.704098,7023.690132,2022-01-26 02:17:04,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xe8a31d203baa1837a3e88ead9517f88639c7ffb7,0xe8ff76ee0e093a145c2959e3f6589ad9c5d9a560a48b...,111240750412,250000

In [ ]:
apple_ust_reserves_history = get_pool_v2_reserves_history(contract_id='0xb022e08adc8ba2de6ba4fecb59c6d502f66e953b')
apple_ust_reserves_df = pool_reserves_to_df(apple_ust_reserves_history)
apple_ust_reserves_df

100%|██████████| 2/2 [00:00<00:00,  2.08it/s]

list index out of range

,reserve0,reserve1,reserveUSD,dailyVolumeToken0,dailyVolumeToken1,date
0,1.401786e+06,11264.427046,1.401069e+06,79345.668759,613.107702,2020-12-03
1,2.380533e+06,19116.460462,2.388652e+06,109925.602519,886.243104,2020-12-04
2,2.400318e+06,18972.563025,2.526287e+06,49249.641918,394.007029,2020-12-05
3,2.508393e+06,18791.708387,2.506214e+06,117349.571073,893.440321,2020-12-06
4,2.396930e+06,19453.772147,2.407887e+06,128500.441615,1013.195143,2020-12-07
...,...,...,...,...,...,...
384,5.542496e+06,35671.928794,5.578353e+06,582186.787698,3732.634557,2022-01-22
385,5.488975e+06,34626.118833,5.523730e+06,268522.393995,1745.169825,2022-01-23
386,5.559361e+06,34728.350814,5.550032e+06,238821.757518,1505.915372,2022-01-24
387,5.351622e+06,33753.706593,5.373856e+06,281113.741776,1792.639690,2022-01-25
388,5.291460e+06,33457.756650,5.296598e+06,99533.504131,634.623399,2022-01-26

In [ ]:
apple_ust_mints_history = get_pool_v2_mints(contract_id='0xb022e08adc8ba2de6ba4fecb59c6d502f66e953b', range_limit=2)
apple_ust_mints_df = pool_mints_to_df(apple_ust_mints_history)
apple_ust_mints_df

100%|██████████| 2/2 [00:01<00:00,  1.18it/s]

list index out of range

,amount0,amount1,amountUSD,liquidity,timestamp
0,311664.217000,2532.620000,0.000000,28094.964482,2020-12-03 15:39:17
1,61.647178,0.500000,64.533043,5.551892,2020-12-03 18:38:02
2,1000.195278,8.060584,1147.152126,89.788960,2020-12-03 19:28:29
3,5061.686850,36.938175,5553.016991,432.365141,2020-12-03 19:53:53
4,1051.869104,7.408828,1175.173476,88.269255,2020-12-03 19:55:33
...,...,...,...,...,...
526,12483.225367,72.662409,12512.942819,942.543011,2021-12-22 03:27:49
527,41542.000000,230.845407,41615.050126,3064.163664,2021-12-30 10:35:32
528,7333.814615,41.037445,7366.817237,542.824196,2022-01-02 06:04:51
529,73421.250895,405.244136,73351.928234,5397.040524,2022-01-05 16:22:14
530,43206.846466,268.347352,43062.912617,3366.635314,2022-01-24 06:35:03

In [ ]:
apple_ust_burns_history = get_pool_v2_burns(contract_id='0xb022e08adc8ba2de6ba4fecb59c6d502f66e953b', range_limit=2)
apple_ust_burns_df = pool_burns_to_df(apple_ust_burns_history)
apple_ust_burns_df

100%|██████████| 2/2 [00:01<00:00,  1.65it/s]

list index out of range

,amount0,amount1,amountUSD,liquidity,timestamp
0,9257.403814,72.808590,9288.769836,820.734666,2020-12-04 01:38:11
1,268.000046,2.125649,270.871211,23.860217,2020-12-04 04:45:32
2,17473.033444,138.674535,17713.455219,1556.121518,2020-12-04 06:46:27
3,8613.713894,69.368169,8652.345528,772.736781,2020-12-04 13:09:54
4,17976.898200,145.813180,18000.498517,1618.488751,2020-12-04 16:28:25
...,...,...,...,...,...
330,11902.577438,76.347079,11946.502341,942.543011,2022-01-23 10:24:58
331,0.006259,0.000039,0.006265,0.000489,2022-01-25 10:20:55
332,170564.661793,1073.352565,170149.940186,13377.082625,2022-01-25 12:25:54
333,11143.624903,69.994215,11187.503136,873.091128,2022-01-25 23:22:40
334,53696.398569,338.673456,53734.092686,4215.771537,2022-01-26 00:15:55

In [ ]:
apple_ust_df.to_pickle(os.getcwd() + "\\pkl_stories\\apple_ust_swaps.pkl")
apple_ust_reserves_df.to_pickle(os.getcwd() + "\\pkl_stories\\apple_ust_reserves.pkl")
apple_ust_mints_df.to_pickle(os.getcwd() + "\\pkl_stories\\apple_ust_mints.pkl")
apple_ust_burns_df.to_pickle(os.getcwd() + "\\pkl_stories\\apple_ust_burns.pkl")

In [ ]:
apple_ust_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\apple_ust_swaps.pkl")
apple_ust_reserves_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\apple_ust_reserves.pkl")
apple_ust_mints_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\apple_ust_mints.pkl")
apple_ust_burns_df = pd.read_pickle(os.getcwd() + "\\pkl_stories\\apple_ust_burns.pkl")

# Writing some specific data

In [ ]:
# other_wbtc_usdc_history         - this one is empty
print(len(other_weth_usdc_history))
# other_wbtc_dai_history          - this one is empty
# other_alice_weth_history        - this one is empty
# other_apple_ust_history         - this one is empty
# other_amzn_ust_history          - this one is empty
# other_baba_ust_history          - this one is empty
print(len(other_axs_weth_v2_history))
# other_bpt_weth_history          - this one is empty
# other_doge_weth_history         - this one is empty
print(len(other_elon_weth_history))
# other_enj_eth_history           - this one is empty
print(len(other_fei_weth_history))
# other_ixs_weth_history          - this one is empty
print(len(other_mana_weth_history))
# other_perl_weth_history         - this one is empty
print(len(other_sand_weth_history))
print(len(other_shib_weth_history))
print(len(other_squid_weth_history))
# other_stonks_usdc_history       - this one is empty
# other_uma_fei_history           - this one is empty
# other_xaut_weth_history         - this one is empty
# other_hkmt_usdt_history         - this one is empty

76
2
2
2
1
6
3
149

In [ ]:
other_weth_usdc_df = pool_history_to_df(other_weth_usdc_history)
other_axs_weth_v2_df = pool_history_to_df(other_axs_weth_v2_history)
other_elon_weth_df = pool_history_to_df(other_elon_weth_history)
other_fei_weth_df = pool_history_to_df(other_fei_weth_history)
other_mana_weth_df = pool_history_to_df(other_mana_weth_history)
other_sand_weth_df = pool_history_to_df(other_sand_weth_history)
other_shib_weth_df = pool_history_to_df(other_shib_weth_history)
other_squid_weth_df = pool_history_to_df(other_squid_weth_history)

In [ ]:
other_weth_usdc_df.to_pickle(os.getcwd() + "\\pkl_stories\\other_weth_usdc_swaps.pkl")
other_axs_weth_v2_df.to_pickle(os.getcwd() + "\\pkl_stories\\other_axs_weth_v2_swaps.pkl")
other_elon_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\other_elon_weth_swaps.pkl")
other_fei_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\other_fei_weth_swaps.pkl")
other_mana_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\other_mana_weth_swaps.pkl")
other_sand_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\other_sand_weth_swaps.pkl")
other_shib_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\other_shib_weth_swaps.pkl")
other_squid_weth_df.to_pickle(os.getcwd() + "\\pkl_stories\\other_squid_weth_swaps.pkl")